@import 'src/_variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

li {
  list-style-type: none;
  position: relative;    /* It's needed for setting position to absolute in the next rule. */
}
li::before {
  content: '';
  position: absolute;
  left: -1.1em;          /* Adjust this value so that it appears where you want. */
  top: 0.3rem;
  height:1em;
  width:1em;
  background-image:url("/assets/front-label/file-image-regular.svg");
  background-size:contain;
  background-repeat:no-repeat;
}
li.back-img-pdf::before {
  background-image:url("/assets/front-label/file-pdf-solid.svg");
}
li.back-img-jpg::before {
  background-image:url("/assets/front-label/file-image-regular.svg");
}

.list-block{
  margin-left: 24px;
}

.content-text {
  font-size: 1.125rem;
  font-weight: 300;
  color: $secondary;
}

.url-link{
  font-size: 1.125rem;
}

.date-style{
  font-size: 1rem;
}
