@import "src/_variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.batch-detail-container{
  background-color: white;
  max-width: 1140px;
  @include media-breakpoint-up(lg) {
    width: 1140px;
  }
  @include media-breakpoint-down(lg) {
    padding-left: 2rem;
  }
}

button.btn-del {
  border: none;
  background-color: white;
}
.del-icon {
  color: $danger;
}
