@import "src/_variables";

$casovnica-circle-radius: 22px;

.af-timeline {

  &-box {
    border-left: 1px solid $gray-semi;
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    position: relative;
    margin-left: $casovnica-circle-radius/2;

    &-subtitle {
      letter-spacing: 0;
      line-height: 25px;
      color: $theme-primary-text;
    }

    &-evidence-doc-title, &-evidence-field-title {
      font-size: 1.10rem;
      color: $theme-primary-text;
    }

    &-label {
      font-size: 14px;
      letter-spacing: 0;
      line-height: 25px;
      color: $secondary;
    }

    ul {
      font-size: 0.875rem;
      line-height: 1.5;

      li {
        a {
          font-weight: inherit;
        }
      }
    }
  }

  &-bullet {
    width: $casovnica-circle-radius;
    height: $casovnica-circle-radius;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: -$casovnica-circle-radius/2;
    border: 3px solid $theme-primary-text;
    background-color: $gray-light;
  }
}

.last-box {
  border: 0 !important;
}

.offscreen {
  position: fixed;
  left: -1000px;
}

.del-icon {
  color: $danger;
}

.canceled {
  color: $moderate-red
}
