
<app-authorised-layout>
  <app-product-label-left-panel-content>
  </app-product-label-left-panel-content>

  <div class="main">


    <div class="row">

      <div class="col">

        <div class="main-inside-top content-element">
          <div class="d-flex align-items-start content-element--row1">
            <div class="title-page content-element--title" i18n="@@productLabelSupply.title.supply">Supply</div>
          </div>
        </div>

      </div>


    </div>
  </div>
</app-authorised-layout>
