<!-- <div>{{fieldInfo.label}}</div> -->
<div class="{{rowClass}}" *ngIf="showRow">
  <div class="{{colClass}}">

    <textinput *ngIf="showForType('price') || showForType('exchange_rate')"
      type="number"
      min="0"
      step="0.01"
      [form]="formGroup.get(settings.field)"
      [label]="settings.label"
      [placeholder]="settings.placeholder"
      style="width: 100%"
      [isInvalid]="submitted && formGroup.get(settings.field).invalid">
      <ng-container *ngIf="submitted">
        <div *ngIf="formGroup.get(settings.field).errors as errors" class="sc-invalid-feedback">
          <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.pricePerUnit.textinput.error">
            {{settings.requiredMessage}}
          </div>
        </div>
      </ng-container>
    </textinput>

    <single-choice *ngIf="showForType('object', 'GRADE') || showForType('object', 'REQUIRED_GRADE')"
      [label]="settings.label"
      [formControlInput]="formGroup.get(settings.field)"
      [codebookService]="gradeAbbreviationCodebook"
      style="min-width: 150px;"
      [isInvalidChoice]="submitted && formGroup.get(settings.field).invalid">
      <ng-container *ngIf="submitted">
        <div *ngIf="formGroup.get(settings.field).errors as errors" class="sc-invalid-feedback">
          {{settings.requiredMessage}}
        </div>
      </ng-container>
    </single-choice>

    <textinput *ngIf="showForType('string')"
      [form]="formGroup.get(settings.field)"
      [label]="settings.label"
      [placeholder]="settings.placeholder"
      style="width: 100%"
      [isInvalid]="submitted && formGroup.get(settings.field).invalid">
      <ng-container *ngIf="submitted">
        <div *ngIf="formGroup.get(settings.field).errors as errors" class="sc-invalid-feedback">
          {{settings.requiredMessage}}
        </div>
      </ng-container>
    </textinput>

    <app-datepicker *ngIf="showForType('date')"
      [form]="formGroup.get(settings.field)"
      [label]="settings.label"
      [invalid]="submitted && formGroup.get(settings.field).invalid">
      <ng-container *ngIf="submitted">
        <div *ngIf="formGroup.get(settings.field).errors as errors" class="sc-invalid-feedback">
          {{settings.requiredMessage}}
        </div>
      </ng-container>
    </app-datepicker>


    <textinput *ngIf="showForType('text')"
      style="width: 100%"
      [textarea]="true"
      [form]="formGroup.get(settings.field)"
      [label]="settings.label"
      [isInvalid]="submitted && formGroup.get(settings.field).invalid">
      <ng-container *ngIf="submitted">
        <div *ngIf="formGroup.get(settings.field).errors as errors" class="sc-invalid-feedback">
          {{settings.requiredMessage}}
        </div>
      </ng-container>
    </textinput>

    <single-choice *ngIf="showForType('object', 'CLIENT_NAME')"
      [label]="settings.label"
      [formControlInput]="formGroup.get(settings.field)"
      [codebookService]="associatedCompaniesService"
      style="min-width: 150px;"
      [isInvalidChoice]="submitted && formGroup.get(settings.field).invalid">
      <ng-container *ngIf="submitted">
        <div *ngIf="formGroup.get(settings.field).errors as errors" class="sc-invalid-feedback">
          {{settings.requiredMessage}}
        </div>
      </ng-container>
    </single-choice>



    <ng-container *ngIf="showForType('object', 'TRIGGER_ORDERS')">
      <div class="search-field" *ngIf="triggerOrderCodebook">
        <textinput
          [label]="settings.label"
          [form]="triggerOrderSearchForm"
          [placeholder]="settings.placeholder"
          [codebookService]="triggerOrderCodebook"
          [resultFormatter]="orderResultFormatter"
          [inputFormatter]="orderInputFormatter"
          (itemMatching)="addTriggerOrder($event)">
        </textinput>
      </div>
      <ng-container *ngIf="form.value">
        <div *ngFor="let sp of form.value; index as i">
          <div class="af-row user-line pl-3 pr-3 mb-1">
            <div class="af-c6 d-flex align-items-center">{{orderResultFormatter(sp)}}</div>
            <div class="af-c1 d-flex align-items-center" (click)="deleteTriggerOrder(sp)">
              <fa-icon
                class="del-icon"
                [icon]="faTimes"></fa-icon>
            </div>
          </div>
        </div>
      </ng-container>

    </ng-container>



    <!-- <single-choice *ngIf="showForType('object', 'TRIGGER_ORDERS')"
      [label]="settings.label"
      [formControlInput]="formGroup.get(settings.field)"
      [codebookService]="triggerOrderCodebook"
      style="min-width: 150px;"
      [isInvalidChoice]="submitted && formGroup.get(settings.field).invalid">
      <ng-container *ngIf="submitted">
        <div *ngIf="formGroup.get(settings.field).errors as errors" class="sc-invalid-feedback">
          {{settings.requiredMessage}}
        </div>
      </ng-container>
    </single-choice> -->

    <single-choice *ngIf="showForType('object', 'CUSTOMER')"
      [label]="settings.label"
      [formControlInput]="formGroup.get(settings.field)"
      [codebookService]="companyCustomerCodebook"
      style="min-width: 150px;"
      [isInvalidChoice]="submitted && formGroup.get(settings.field).invalid">
      <ng-container *ngIf="submitted">
        <div *ngIf="formGroup.get(settings.field).errors as errors" class="sc-invalid-feedback">
          {{settings.requiredMessage}}
        </div>
      </ng-container>
    </single-choice>

    <single-choice *ngIf="showForType('object', 'TRANSACTION_TYPE')"
      [label]="settings.label"
      [formControlInput]="formGroup.get(settings.field)"
      [codebookService]="actionTypeService"
      style="min-width: 150px;"
      [isInvalidChoice]="submitted && formGroup.get(settings.field).invalid">
      <ng-container *ngIf="submitted">
        <div *ngIf="formGroup.get(settings.field).errors as errors" class="sc-invalid-feedback">
          {{settings.requiredMessage}}
        </div>
      </ng-container>
    </single-choice>

    <checkbox-input *ngIf="showForType('object', 'REQUIRED_WOMENS_COFFEE')"
      [form]="formGroup.get(settings.field)"
      style="margin-bottom: 1rem; margin-top: -1rem;">
      <checkbox-input-rich-label>
        {{settings.label}}
      </checkbox-input-rich-label>
    </checkbox-input>

  </div>
</div>
