<app-authorised-layout>
    <div *ngIf="form" class="af-layout--authorised">
        <div class="af-form-wrapper">
            <div class="af-form-row">
                <div class="af-form-block--c12">
                    <div class="title-page content-element--title">{{title}}</div>
                </div>
            </div>

            <div class="af-form-row">
                <div class="af-form-block--c6">
                    <h2 i18n="@@productLabelStockFacilityModal.section.basicInfo">Basic information</h2>
                    <div class="af-form-element">
                        <textinput
                            [form]="form.get('name')"
                            label="Facility name"
                            style="width: 100%"
                            placeholder="Enter facility name"
                            i18n-label="@@productLabelStockFacilityModal.textinput.name.label"
                            i18n-placeholder="@@productLabelStockFacilityModal.textinput.name.placeholder"
                            [isInvalid]="submitted && form.get('name').invalid">
                            <ng-container *ngIf="submitted && form.get('name').errors && form.get('name').errors.required">
                                <div class="sc-invalid-feedback">
                                    Facility name is required
                                </div>
                            </ng-container>
                        </textinput>

                        <single-choice
                            label="Facility type"
                            i18n-label="@@productLabelStockFacilityModal.facilityType.label"
                            [formControlInput]="form.get('facilityType')"
                            [codebookService]="activeFacilityTypeService"
                            [isInvalidChoice]="submitted && form.get('facilityType').invalid">
                            <ng-container *ngIf="submitted && form.get('facilityType').errors && form.get('facilityType').errors.required">
                                <div class="sc-invalid-feedback">
                                    Facility type is required
                                </div>
                            </ng-container>
                        </single-choice>
                    </div>
                </div>
            </div>

            <div class="af-form-row">
                <div class="af-form-block--c12">
                    <h2 i18n="@@productLabelStockFacilityModal.section.location">Location</h2>
                    <div class="af-form-element">
                        <app-location-form-new
                            [form]="form"
                            [submitted]="submitted">
                        </app-location-form-new>
                    </div>
                </div>
            </div>

            <div class="af-form-row">
                <div class="af-form-block--c6">
                    <h2 i18n="@@productLabelStockFacilityModal.section.additional">Additional attributes</h2>
                    <div class="af-form-element">
                        <single-choice
                                label="Is this a collection facility?"
                                i18n-label="@@productLabelStockFacilityModal.textinput.collection.semi-product.label"
                                [formControlInput]="form.get('isCollectionFacility')"
                                [codebookService]="codebookStatus"
                                [isInvalidChoice]="submitted && form.get('isCollectionFacility').invalid">
                            <ng-container *ngIf="submitted">
                                <div *ngIf="form.get('isCollectionFacility').errors as errors" class="sc-invalid-feedback">
                                    <div *ngIf="errors.required">
                                        Choice is required
                                    </div>
                                </div>
                            </ng-container>
                        </single-choice>
                        <single-choice
                                label="Contains sellable semi-products?"
                                i18n-label="@@productLabelStockFacilityModal.textinput.sellable.semi-products.label"
                                [formControlInput]="form.get('isPublic')"
                                [codebookService]="codebookStatus"
                                [isInvalidChoice]="submitted && form.get('isPublic').invalid">
                            <ng-container *ngIf="submitted">
                                <div *ngIf="form.get('isPublic').errors as errors" class="sc-invalid-feedback">
                                    <div *ngIf="errors.required">
                                        Choice is required
                                    </div>
                                </div>
                            </ng-container>
                        </single-choice>
                    </div>
                </div>
                <div class="af-form-block--c6">
                    <h2 i18n="@@productLabelStockFacilityModal.section.semi-products">Contained semi-products</h2>
                    <div class="af-form-element">
                        <div class="search-field">
                            <textinput
                                    label=""
                                    [form]="semiProductsForm"
                                    placeholder="Type semi-product ..."
                                    i18n-placeholder="@@productLabelStockFacilityModal.textinput.search-field.placeholder"
                                    [codebookService]="activeSemiProductsService"
                                    [resultFormatter]="spResultFormatter"
                                    [inputFormatter]="spInputFormatter"
                                    (itemMatching)="addSelectedSP($event)">
                            </textinput>
                        </div>
                        <div *ngFor="let sp of this.semiProducts; index as idx">
                            <div class="d-flex justify-content-between user-line pl-3 pr-3 mb-1">
                                <div>{{sp.name}}</div>
                                <div (click)="deleteSP(sp, idx)">
                                    <fa-icon class="del-icon" [icon]="faTimes"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="af-form-row">
                <div class="af-form-block--c12">
                    <div class="af-bottom-buttons" i18n="@@productLabelStockFacilityModal.modal.footer.buttons">
                        <button class="btn btn-outlined mr-2" type="button" (click)="dismiss()">Cancel</button>
                        <button class="btn" type="button" (click)="save()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-authorised-layout>
