
<ng-container *ngIf="orders$ | async as orders">
  <div class="main-inside-main">
    <table *ngIf="orders && orders.items && orders.items.length> 0" class="af-table af-checkbox--small">
      <thead>
        <tr scope="col" result-sorter [sortOptions]="sortOptions" [cbChecked]="cbCheckedAll" (sortByKey)="changeSort($event)"></tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders.items; index as i">
          <td *ngIf="!sortOptions[0].hide" scope="row" [attr.data-label]="sortOptions[0].name"><checkbox-input inTable="true" (onClick)="cbSelected(order, i)" [checked]="this.currentData[i].selected"> </checkbox-input></td>
          <td *ngIf="!sortOptions[1].hide" scope="row" [attr.data-label]="sortOptions[1].name"><span>{{order?.lastChange | date: 'yyyy-MM-dd hh:mm'}}</span></td>
          <td *ngIf="!sortOptions[2].hide" scope="row" [attr.data-label]="sortOptions[2].name"><span>{{order?.isProcessing | formatTransactionType}}</span></td>
          <td *ngIf="!sortOptions[3].hide" scope="row" [attr.data-label]="sortOptions[3].name"><span>{{order?.status | formatTransactionStatus}}</span></td>
          <td *ngIf="!sortOptions[4].hide" scope="row" [attr.data-label]="sortOptions[4].name"><span>{{order?.inputQuantity}}</span></td>
          <!-- <td *ngIf="!sortOptions[2].hide" scope="row" [attr.data-label]="sortOptions[2].name">{{order?.outputQuantity}}</td> -->
          <td *ngIf="!sortOptions[5].hide" scope="row" [attr.data-label]="sortOptions[5].name"><span>{{order?.semiProduct?.name}}</span></td>
          <td *ngIf="!sortOptions[6].hide" scope="row" [attr.data-label]="sortOptions[6].name"><span>{{order?.sourceFacility?.name}}</span></td>
          <td *ngIf="!sortOptions[7].hide" scope="row" [attr.data-label]="sortOptions[7].name"><span>{{order?.targetFacility?.name}}</span></td>
          <td [attr.data-label]="sortOptions[8].name">
            <span>
            <a *ngIf="order.status === 'PENDING'"
              i18n="@@productLabelTransaction.tableCol.execute"
              (click)="changeTransactionStatus(order, 'EXECUTED')"
              class="company-action"
              [class.enabled-action]="true">
              Execute
            </a>
            <a
              *ngIf="order.status === 'PENDING'"
              i18n="@@productLabelTransaction.tableCol.cancel"
              (click)="changeTransactionStatus(order, 'CANCELED')"
              class="company-action"
              [class.enabled-action]="true">
              Cancel
            </a>

            <a i18n="@@productLabelTransaction.tableCol.view"
              (click)="view(order)"
              class="company-action"
              [class.enabled-action]="true">
              View
            </a>
            <a *ngIf="canDelete(order)"
            i18n="@@productLabelTransaction.tableCol.delete"
              (click)="delete(order)"
              class="company-action"
              [class.enabled-action]="true">
              Delete
            </a>
            <a i18n="@@productLabelTransaction.tableCol.input"
              (click)="showInput(order)"
              class="company-action"
              [class.enabled-action]="true">
              To Input
            </a>
            <a i18n="@@productLabelTransaction.tableCol.output"
              (click)="showOutput(order)"
              class="company-action"
              [class.enabled-action]="true">
              To Output
            </a>
          </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="orders && orders.items && orders.items.length == 0" class="no-list-results" i18n="@@productLabelTransaction.noTransactions">
      No transactions found
    </div>
  </div>

  <div [style.display]="showPagination() ? 'flex' : 'none'" class="justify-content-end">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="orders.count"
      (pageChange)="onPageChange($event)"
      [maxSize]="7"
      [rotate]="true">
    </ngb-pagination>
  </div>

  <pre *ngIf="transactionToShow">{{transactionToShow | json}}</pre>

</ng-container>
