<div class="auth-side-wrapper af-layout--aside">

  <nav class="auth-side-navbar navbar-dark af-layout--aside-nav">
    <a class="auth-side-logo navbar-brand" [routerLink]="['/home']">
      <img class="auth-img-container" src="/assets/logo-INATrace/logo-INA.png" alt="Application logo">
    </a>

    <ul class="navbar-nav auth-side-icon-container">

        <div class="auth-side-icon-spacer"></div>
        <li>
            <div class="left-border-active"
                 routerLinkActive="active"
                 [ngClass]="{'active': myOrdersActive.isActive || myFarmersActive.isActive || myCollectorsActive.isActive || myCustomersActive.isActive || companyDashboardActive.isActive }">
                <button class="btn-icon-sidebar"
                        [disabled]="isConfirmedOnly"
                        [ngbTooltip]="companyButtonTooltipTemplate"
                        [autoClose]="false"
                        placement="right-top"
                        triggers="manual"
                        tooltipClass="self-onboarding-tooltip-class"
                        #companyButtonTooltip="ngbTooltip"
                        data-toggle="tooltip"
                        title="Company"
                        i18n-title="@@authorisedSideNav.link.company"
                        (click)="openCompanyPage()" [routerLink]="['/my-stock']">

                    <div class="sidebar-icon">
                        <span class="sidebar-icon-shape sidebar-icon-shape--company" style="margin-left: 3px;"></span>
                    </div>

                </button>
            </div>
            <ng-template #companyButtonTooltipTemplate>
                <div>
                    <h2 class="title" i18n="@@selfOnboarding.checklist.addFacilityOrProcAction.step1">Click here to access your company profile</h2>
                    <div class="step-line"><span i18n="@@selfOnboarding.checklist.item.step">Step {{ '1/4' }}</span></div>
                </div>
            </ng-template>
        </li>

        <div class="auth-side-icon-spacer"></div>
        <li>
            <div class="left-border-active"
                 routerLinkActive="active">
                <button class="btn-icon-sidebar"
                        [disabled]="isConfirmedOnly"
                        [ngbTooltip]="productsButtonTooltipTemplate"
                        [autoClose]="false"
                        placement="right"
                        triggers="manual"
                        tooltipClass="self-onboarding-tooltip-class"
                        #productsButtonTooltip="ngbTooltip"
                        data-toggle="tooltip"
                        title="Products"
                        i18n-title="@@authorisedSideNav.link.products"
                        (click)="openProductsPage()" [routerLink]="['/product-labels']">

                    <div class="sidebar-icon">
                        <span class="sidebar-icon-shape sidebar-icon-shape--products"></span>
                    </div>

                </button>
            </div>
            <ng-template #productsButtonTooltipTemplate>
                <div>
                    <h2 class="title" i18n="@@selfOnboarding.checklist.addProduct.step1">Click here to add a product</h2>
                    <div class="step-line"><span i18n="@@selfOnboarding.checklist.item.step">Step {{ '1/4' }}</span></div>
                </div>
            </ng-template>
        </li>

      <div class="auth-side-icon-spacer"></div>
      <li>
        <div class="left-border-active"
          routerLinkActive="active"
          [ngClass]="{'active': systemUsersActive.isActive || settingsActive.isActive || valueChainsActive.isActive || currenciesActive.isActive }">
          <button *ngIf="isAdmin"
            [disabled]="isConfirmedOnly"
            class="btn-icon-sidebar"
            data-toggle="tooltip"
            title="System"
            i18n-title="@@authorisedSideNav.link.system"
            routerLink="/companies">

            <div class="sidebar-icon">
              <span class="sidebar-icon-shape sidebar-icon-shape--settings"></span>
            </div>
          </button>
        </div>
      </li>

      <!-- Dummy buttons to achieve active System on different links -->
      <button routerLink="/users" routerLinkActive #systemUsersActive="routerLinkActive" style="display: none"></button>
      <button routerLink="/settings" routerLinkActive #settingsActive="routerLinkActive" style="display: none"></button>
      <button routerLink="/my-orders" routerLinkActive #myOrdersActive="routerLinkActive" style="display: none"></button>
      <button routerLink="/my-farmers" routerLinkActive #myFarmersActive="routerLinkActive" style="display: none"></button>
      <button routerLink="/my-collectors" routerLinkActive #myCollectorsActive="routerLinkActive" style="display: none"></button>
      <button routerLink="/my-customers" routerLinkActive #myCustomersActive="routerLinkActive" style="display: none"></button>
      <button routerLink="/company-dashboard" routerLinkActive #companyDashboardActive="routerLinkActive" style="display: none"></button>
      <button routerLink="/value-chains" routerLinkActive #valueChainsActive="routerLinkActive" style="display: none"></button>
      <button routerLink="/currencies" routerLinkActive #currenciesActive="routerLinkActive" style="display: none"></button>

    </ul>
  </nav>

</div>
