@import "src/_variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.auth-side-icon-spacer {
  height: 20px;
}

.auth-img-container {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 6px;
  padding: 4px;
}

.left-border-active {
  width: 4px;
  background-color: $theme-secondary;
  margin-left: - ($navbar-width / 2);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.left-border-active.active,
.left-border-active:hover {
     background-color: white;
}

button.btn-icon-sidebar {
  background-color: transparent;
  border:  none;
  font-size: 1.313rem;
  color:white;
  width: $navbar-width;
  height: 50px;
}

#info_sidebar_button {
    font-size:1rem;
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
}
