<smart-tag
  [isOpen]="isOpen && !rawObjectData"
  [readOnly]="rawObjectData"
  (onDelete)="delete()"
  (onEdit)="toggle($event)"
  [formControlInput]="originalFormControl"
  [disableDelete]="disableDelete"
  [disableRowClick]="true">
  <tag-closed>
    <div *ngIf="contentObject" class="c-capitalize-first">
      <div class="af-tagitem-container">
        <span class="af-tagitem-text">{{name}}</span>
        <div (click)="viewImage()" class="af-tagitem-image">
          <img *ngIf="isImageToShow()"
            src="/chain-api/data/document/download/{{this.contentObject.document.storageKey}}">
        </div>
      </div>

    </div>
  </tag-closed>
  <tag-open>
    <subform-layout *ngIf="this.form">
      <subform-form>


        <div class="d-flex">

          <div class="af-row">
            <div class="af-c4">
              <app-datepicker
                label="Date"
                i18n-label="@@processingEvidenceItem.datepicker.date.label"
                [form]="form.get('formalCreationDate')"
                [invalid]="submitted && form.get('formalCreationDate').invalid">
                <ng-container *ngIf="submitted">
                  <div *ngIf="form.get('formalCreationDate').errors as errors" class="sc-invalid-feedback">
                    <div *ngIf="errors.required" i18n="@@processingEvidenceItem.datepicker.date.error">
                      Date is required
                    </div>
                  </div>
                </ng-container>
              </app-datepicker>
            </div>
            <div class="af-c8">
              <single-choice
                label="Type"
                i18n-label="@@processingEvidenceItem.label.type"
                [formControlInput]="form.get('type')"
                [codebookService]="typeCodebook"
                [isInvalidChoice]="submitted && form.get('type').invalid">
                <ng-container *ngIf="submitted">
                  <div *ngIf="form.get('type').errors as errors" class="sc-invalid-feedback">
                    <div *ngIf="errors.required" i18n="@@processingEvidenceItem.textinput.type.error">
                      Type is required
                    </div>
                  </div>
                </ng-container>
              </single-choice>
            </div>
          </div>

          <div class="af-c6">
            <ng-container>
              <attachment-uploader
                [chainFile]="true"
                url="{{chainRootUrl}}"
                downloadUrl="{{chainDownloadRootUrl}}"
                allowedMimeType="[image/png', 'image/jpeg', 'application/pdf']"
                allowedMimeTypeErrorMessage="Upload only file types: PNG, JPG and PDF."
                mode="simpleAsTextField"
                label="Document (JPG, PNG, PDF)"
                i18n-label="@@processingEvidenceItem.attachment-uploader.label"
                i18n-allowedMimeTypeErrorMessage="@@processingEvidenceItem.attachment-uploader.allowedMimeTypeErrorMessage"
                [form]="form.get('document')"
                [attachmentUploaderId]="'processingEvidenceItem'+listEditorManagerPosition"
                [invalid]="submitted && form.get('document').invalid"
                [readOnly]="form.get('document').disabled">
                <attachment-uploader-content i18n="@@processingEvidenceItem.attachment-uploader.content">
                  Upload document
                </attachment-uploader-content>
              </attachment-uploader>
              <attachment-uploader-errors>
                <ng-container *ngIf="submitted">
                  <div *ngIf="form.get('document').errors as errors" validation-error class="sc-invalid-feedback">
                    <div *ngIf="errors.required" i18n="@@processingEvidenceItem.attachment-uploader.error">
                      <span>
                        Document is required
                      </span>
                    </div>
                  </div>
                </ng-container>
              </attachment-uploader-errors>
            </ng-container>
          </div>
        </div>
      </subform-form>

      <subform-mini-buttons style="width: 100%;" class="d-flex justify-content-end">
        <mini-buttons
          (onSave)="save()"
          (onCancel)="cancel()"
          [error]="submitted && form.invalid">
        </mini-buttons>
      </subform-mini-buttons>

    </subform-layout>

  </tag-open>
</smart-tag>
