<!--

 Form grid, how does it work?

.af-form-wrapper                - main wrapper of form element ()
  .af-form-row                  - row for title
    .af-form-block--c12         - column for title
  .af-form-row                  - row for form elements
    .af-form-block--c6          - declaration of form block
      h2                        - block title
      .af-form-element          - element, that's where white bg comes in
        .af-form-row            - needed for rows inside form element
          .ac-c3                - individual elements of form (can have 1, 2, 3, 4, 6, 8 and 12 columns of width)

-->




<app-authorised-layout>

  <div *ngIf="form" class="af-layout--authorised">
    <div class="af-form-wrapper">


      <div class="af-form-row">
        <div class="af-form-block--c12 d-flex justify-content-between">
          <div class="title-page content-element--title">{{title}}<span></span></div>
          <!-- <div class="title-page content-element--title">Add [Processing, Quote, Transfer] action<span></span></div> -->
          <!-- <app-last-seen-tag></app-last-seen-tag> -->
        </div>
      </div>

      <!-- row 1 -->
      <div class="af-form-row">

        <!-- row 1, col 1 -->
        <div class="af-form-block--c6">
          <h2 i18n="@@productLabelStockProcessingOrderDetail.section.processing">Choose activity that you want to record</h2>
          <div class="af-form-element">

            <div class="af-row">
              <div class="af-c12">

                <single-choice
                  label="Processing"
                  i18n-label="@@productLabelStockProcessingOrderDetail.processingActionForm.label"
                  [formControlInput]="processingActionForm"
                  [codebookService]="activeProcessingCodebook"
                  style="min-width: 150px;"
                  (onChange)="setProcessingAction($event)"
                  [isInvalidChoice]="submitted && processingActionForm.invalid">
                  <ng-container *ngIf="submitted">
                    <div *ngIf="processingActionForm.errors as errors" class="sc-invalid-feedback" i18n="@@productLabelStockProcessingOrderDetail.processingActionForm.error">
                      Action is required
                    </div>
                  </ng-container>
                </single-choice>

                <!-- <pre>{{processingActionForm.value | json}}</pre> -->
              </div>
            </div>

          </div>
        </div>

        <div class="af-form-block--c6">
          <!-- <div class="d-flex justify-content-center align-items-center" style="margin-top: 32px;">
          <div class="label-card">
            <div class="qr-code-container">
              <qr-code [value]="qrCodeValue" [foreground]="theme.primary" [size]="qrCodeSize"></qr-code>
            </div>
          </div>
        </div> -->
        </div>
      </div>

      <!-- row 2 -->
      <div class="af-form-row">

        <div class="af-form-block--c6">
          <h2 i18n="@@productLabelStockProcessingOrderDetail.section.input">Material to be recorded</h2>
          <!-- <span>This is where you describe which coffee you want to handle.</span> -->

          <div class="af-form-element" style="position: relative;">
            <ng-container *ngIf="this.prAction">

              <div class="af-row mb-3" *ngIf="actionType === 'SHIPMENT'">
                <div class="af-c12">
                  {{inputFacilityForm?.value?.organization?.name}}
                </div>
              </div>

              <div class="af-row">
                <div class="af-c12">

                  <single-choice
                    *ngIf="inputFacilitiesCodebook"
                    label="Facility"
                    i18n-label="@@productLabelStockProcessingOrderDetail.inputFacilityForm.label"
                    [formControlInput]="inputFacilityForm"
                    [codebookService]="inputFacilitiesCodebook"
                    style="min-width: 150px;"
                    (onChange)="setInputFacility($event)"
                    [isInvalidChoice]="submitted && inputFacilityForm.invalid">
                    <ng-container *ngIf="submitted">
                      <div *ngIf="inputFacilityForm.errors as errors" class="sc-invalid-feedback" i18n="@@productLabelStockProcessingOrderDetail.inputFacilityForm.error">
                        Input facility is required
                      </div>
                    </ng-container>
                  </single-choice>

                </div>
              </div>

              <div class="af-row" *ngIf="showFilterSemiProduct">
                <div class="af-c12">

                  <single-choice
                    label="Select semi-product"
                    i18n-label="@@productLabelStockProcessingOrderDetail.filterSemiProduct.label"
                    [formControlInput]="filterSemiProduct"
                    [codebookService]="activeSemiProductsInFacility"
                    (onChange)="setSelectedSemiProduct($event)">
                  </single-choice>
                </div>
              </div>

              <div *ngIf="showInputTransactions" class="d-flex justify-content-between" style="margin-bottom: 1rem;" ngbDropdown placement="bottom-right" display="dynamic" container="body">

                <div class="af-row">
                  <div class="af-c12">

                    <div class="d-flex">
                      <app-datepicker
                        label="From"
                        i18n-label="@@productLabelStockProcessingOrderDetail.datepicker.date.from"
                        [form]="fromFilterDate"
                        [invalid]="submitted && fromFilterDate.invalid"
                        style="width: 130px; margin-right: 1rem;"
                        (onChange)="change($event,true)">
                        <ng-container>
                          <div *ngIf="fromFilterDate.errors as errors" class="sc-invalid-feedback">
                            <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.datepicker.date.error">
                              Delivery date is required
                            </div>
                          </div>
                        </ng-container>
                      </app-datepicker>

                      <app-datepicker
                        label="To"
                        i18n-label="@@productLabelStockProcessingOrderDetail.datepicker.date.to"
                        [form]="toFilterDate"
                        [invalid]="submitted && toFilterDate.invalid"
                        style="width: 130px"
                        (onChange)="change($event,false)">
                        <ng-container>
                          <div *ngIf="toFilterDate.errors as errors" class="sc-invalid-feedback">
                            <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.datepicker.date.error">
                              Delivery date is required
                            </div>
                          </div>
                        </ng-container>
                      </app-datepicker>

                      <button class="btn btn-search" (click)="dateSearch()" style="margin-left: 1rem; margin-top: 1.75rem; border-width: 1px" i18n-placeholder="@@productLabelStockProcessingOrderDetail.button.search">
                        <div class="button-icon">
                          <span class="button-icon-shape button-icon-shape--search"></span>
                        </div>
                        <span i18n="@@productLabelStockProcessingOrderDetail.button.search" class="button-icon-label">Search</span>
                      </button>

                    </div>
                  </div>
                </div>

                <div class="d-flex" *ngIf="showWomensFilter">
                  <div *ngIf="womensOnlyStatus.value != null" class="d-flex filter-text" style="margin-left: 0.25rem; margin-top: 2rem"> {{womensOnlyStatusValue}}
                    <div (click)="setWomensOnlyStatus(null)" style="margin-left: 0.5rem;">
                      <fa-icon style="cursor: pointer;" [icon]="faTimes" size="xs">
                      </fa-icon>
                    </div>
                  </div>

                  <button ngbDropdownToggle class="btn btn-filter" style="margin-left: 1rem; margin-top: 1.75rem; border-width: 1px;" i18n="@@productLabelStockProcessingOrderDetail.filter">
                    <div class="button-icon">
                      <span class="button-icon-shape button-icon-shape--filter"></span>
                    </div>
                    <span class="button-icon-label">Filter</span>
                  </button>

                  <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem (click)="setWomensOnlyStatus(true)" i18n="@@productLabelStockProcessingOrderDetail.filter.womensOnlyCoffee">Womens only coffee</button>
                    <button ngbDropdownItem (click)="setWomensOnlyStatus(false)" i18n="@@productLabelStockProcessingOrderDetail.filter.nonWomensOnlyCoffee">Non-womens only coffee</button>
                  </div>
                </div>
              </div>

              <div *ngIf="showInputTransactions" style="position: relative;">
                <div class="af-row">
                  <div class="af-c12">
                    <ng-container *ngIf="inputTransactions && inputTransactions.length">
                      <label class="ml-1">Existing transactions</label>
                      <div *ngFor="let tx of inputTransactions; index as i" class="af-row pb-2">
                        <ng-container *ngIf="inputStockOrders[i] as inputStockOrder">
                          <div class="af-c9 pl-3">{{inputStockOrder.identifier}} {{inputStockOrder.internalLotNumber}} ({{tx.status | formatTransactionStatus}})
                            <div *ngIf="tx.status === 'CANCELED'" class="canceled">{{tx.rejectComment}}</div>
                          </div>
                          <div class="af-c2 text-right">{{tx.outputQuantity}} {{tx.inputMeasureUnitType?.label}}</div>

                          <div class="af-c1 text-right" (click)="deleteTransaction(i)">
                            <fa-icon
                              class="del-icon"
                              [icon]="faTimes"></fa-icon>
                          </div>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="af-row" *ngIf="inputFacilityForm.value && nonOutputSemiProductsInputSemiProductsLength> 0">
                  <label i18n="@@productLabelStockProcessingOrderDetail.addNewTransactions" class="ml-1 mt-2">Add new transactions</label>
                  <div class="af-c12" style="margin-top: -1rem;">
                    <checkbox-input (onClick)="selectAll()" [form]="cbSelectAllForm" [disabled]="disabledLeftFields" style="margin-bottom: 1rem; margin-top: -1rem;">
                      <checkbox-input-rich-label i18n="@@productLabelStockProcessingOrderDetail.checkbox.selectAll">
                        Select all ({{this.translateName(currentInputSemiProduct)}})
                      </checkbox-input-rich-label>
                    </checkbox-input>
                  </div>
                </div>

                <div class="af-row" *ngIf="inputFacilityForm.value && nonOutputSemiProductsInputSemiProductsLength == 0">
                  <label class="ml-1 mt-2" i18n="@@productLabelStockProcessingOrderDetail.noStock">No relevant stock to add transactions in facility</label>
                </div>

                <ng-container *ngFor="let item of inputSemiProducts; index as i">
                  <div class="af-row" *ngIf="!isOutputStockOrder(item)">
                    <div class="af-c1">
                      <checkbox-input inTable="true" (onClick)="cbSelected(item, i)" [disabled]="disabledLeftFields" [checked]="this.inputSemiProducts[i].selected"></checkbox-input>
                    </div>
                    <div class="af-c8">
                      <ng-container *ngIf="item.orderType === 'PURCHASE_ORDER'">
                        {{item.identifier}} ({{item.producerUserCustomer.name}} {{item.producerUserCustomer.surname}})
                      </ng-container>
                      <ng-container *ngIf="item.orderType != 'PURCHASE_ORDER'">
                        {{item.identifier}} {{item.internalLotNumber}}
                      </ng-container>
                    </div>
                    <div class="af-c2 text-right">
                      <span *ngIf="item.selected">{{item.selectedQuantity}} / </span>{{item.availableQuantity}} {{currentInputSemiProduct.measurementUnitType.label}}
                    </div>
                    <div class="af-c1"></div>
                  </div>
                </ng-container>

                <ng-container *ngIf="inputQuantityOrOutputFacilityNotSet">
                  <small class="sc-invalid-feedback" [class.blink_text]="blinkInputQuantityFacilityError" i18n="@@productLabelStockProcessingOrderDetail.inputQuantityOrOutputFacilityNotSet.error">
                    Set output quantity first
                  </small>
                </ng-container>

                <ng-container *ngIf="submitted && oneInputStockOrderRequired">
                  <small class="sc-invalid-feedback" i18n="@@productLabelStockProcessingOrderDetail.inputSemiProducts.error">
                    At least one input semi-product is required
                  </small>
                </ng-container>
                <div *ngIf="inputQuantityOrOutputFacilityNotSet" style="position: absolute; top:0; bottom: 0; left: 0; right: 0; background-color: white; opacity: 0.5;"></div>

              </div>

              <!-- TODO: to here -->

              <ng-container *ngIf="this.prAction && this.prAction.requiredFields">
                <app-order-fields *ngFor="let fieldInfo of this.prAction.requiredFields"
                  side="left"
                  [disabled]="disabledLeftFields"
                  [isQuote]="actionType === 'SHIPMENT'"
                  [fieldInfo]="fieldInfo"
                  [formGroup]="outputStockOrderForm"
                  [submitted]="submitted"></app-order-fields>
              </ng-container>


              <div *ngIf="!showLeftSide" style="position: absolute; top:0; bottom: 0; left: 0; right: 0; background-color: white; opacity: 0.5;"></div>

            </ng-container>
          </div>



        </div>

        <!-- row 2, col 2 -->
        <div class="af-form-block--c6">
          <h2 i18n="@@productLabelStockProcessingOrderDetail.section.output">Results of recording</h2>
          <!-- <span>This is where you result is going to be.</span> -->
          <div class="af-form-element" style="position: relative;" *ngIf="outputStockOrderForm">
            <ng-container *ngIf="this.prAction">

              <div class="af-row mb-3" *ngIf="actionType === 'SHIPMENT'">
                <div class="af-c12">
                  {{outputFacilityForm?.value?.organization?.name}}
                </div>
              </div>

              <div class="af-row mb-3" *ngIf="actionType === 'SHIPMENT' && productOrderId">
                <div class="af-c12">
                  <span i18n="@@productLabelStockProcessingOrderDetail.orderID.label">Order ID:</span> {{productOrderId}}
                </div>
              </div>

              <div class="af-row">
                <div class="af-c12">

                  <single-choice
                    *ngIf="outputFacilitiesCodebook"
                    label="Facility"
                    i18n-label="@@productLabelStockProcessingOrderDetail.outputFacilityForm.label"
                    [formControlInput]="outputFacilityForm"
                    [codebookService]="outputFacilitiesCodebook"
                    style="min-width: 150px;"
                    (onChange)="setOutputFacility($event, false)"
                    [isInvalidChoice]="submitted && outputFacilityForm.invalid || invalidOutputFacility">
                    <ng-container *ngIf="submitted">
                      <div *ngIf="outputFacilityForm.errors as errors" class="sc-invalid-feedback" i18n="@@productLabelStockProcessingOrderDetail.outputFacilityForm.error">
                        Output facility is required
                      </div>
                    </ng-container>
                  </single-choice>

                </div>
              </div>

              <div class="af-row" *ngIf="showInternalLotNumberField">
                <div class="af-c12">

                  <textinput
                    [form]="outputStockOrderForm.get('internalLotNumber')"
                    label="Internal lot name*"
                    style="width: 100%"
                    placeholder="Enter internal lot name"
                    i18n-label="@@productLabelStockProcessingOrderDetail.textinput.internalLotNumber.label"
                    i18n-placeholder="@@productLabelStockProcessingOrderDetail.textinput.internalLotNumber.placeholder"
                    [isInvalid]="submitted && outputStockOrderForm.get('internalLotNumber').invalid">
                    <ng-container *ngIf="submitted">
                      <div *ngIf="outputStockOrderForm.get('internalLotNumber').errors as errors" class="sc-invalid-feedback">
                        <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.internalLotNumber.textinput.error">
                          Internal lot name is required
                        </div>
                      </div>
                    </ng-container>
                  </textinput>

                </div>
              </div>

              <div class="af-row">
                <div class="af-c12">
                  <app-datepicker
                    label="Processing date"
                    i18n-label="@@productLabelStockProcessingOrderDetail.datepicker.date.processingDate"
                    [form]="processingDateForm"
                    [invalid]="submitted && processingDateForm.invalid"
                    style="width: 130px; margin-right: 1rem;">
                    <ng-container>
                      <div *ngIf="processingDateForm.errors as errors" class="sc-invalid-feedback">
                        <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.datepicker.processingDate.error">
                          Processing date is required
                        </div>
                      </div>
                    </ng-container>
                  </app-datepicker>
                </div>
              </div>

              <div class="af-row">
                <div class="af-c12">

                  <textinput
                    [form]="currentOutputSemiProductNameForm"
                    label="Semi-product type"
                    style="width: 100%"
                    i18n-label="@@productLabelStockProcessingOrderDetail.textinput.semiProductType.label"
                    [readOnly]="true">
                  </textinput>

                </div>
              </div>


              <div class="af-row">
                <div class="af-c6 d-flex">
                  <textinput
                    [form]="form.get('outputQuantity')"
                    [label]="inputQuantityLabel"
                    style="width: 100%"
                    placeholder="Enter quantity"
                    i18n-placeholder="@@productLabelStockProcessingOrderDetail.textinput.inputQuantity.placeholder"
                    [readOnly]="true">
                    <!-- [value]="setOutputQuantity()"> -->
                    <!-- <ng-container *ngIf="submitted">
                    <div *ngIf="form.get('outputQuantity').errors as errors" class="sc-invalid-feedback">
                      <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.inputQuantity.textinput.error">
                        Quantity is required
                      </div>
                      <div *ngIf="errors.tooSmall as inputQuantity" i18n="@@productLabelStockProcessingOrderDetail.outputQuantityTooSmall.textinput.error">
                        Quantity is too small. The sum of input transactions is {{inputQuantity}}.
                      </div>
                    </div>
                  </ng-container> -->
                  </textinput>

                  <!-- <textinput
                [form]="form.get('outputQuantity')"
                label="Input quantity in kg"
                style="width: 100%"
                placeholder="Enter quantity"
                i18n-label="@@productLabelStockProcessingOrderDetail.textinput.outputQuantity.label"
                i18n-placeholder="@@productLabelStockProcessingOrderDetail.textinput.outputQuantity.placeholder"
                [isInvalid]="submitted && form.get('outputQuantity').invalid || invalidOutputQuantity"
                [readOnly]="outputQuantityReadonly"
                [value]="setOutputQuantity()">
                <ng-container *ngIf="submitted">
                  <div *ngIf="form.get('outputQuantity').errors as errors" class="sc-invalid-feedback">
                    <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.outputQuantity.textinput.error">
                      Quantity is required
                    </div>
                    <div *ngIf="errors.tooSmall as inputQuantity" i18n="@@productLabelStockProcessingOrderDetail.outputQuantityTooSmall.textinput.error">
                      Quantity is too small. The sum of input transactions is {{inputQuantity}}.
                    </div>
                  </div>
                </ng-container>
              </textinput> -->
                </div>

                <div class="af-c6" *ngIf="showRemainingForm">
                  <textinput
                    [form]="remainingForm"
                    label="Remaining"
                    style="width: 100%"
                    i18n-label="@@productLabelStockProcessingOrderDetail.textinput.remaining.label"
                    [value]="setRemaining()"
                    [readOnly]=true>
                  </textinput>

                </div>
              </div>


              <div class="af-row" *ngIf="showTotalQuantityForm">
                <!-- <div class="af-row"> -->
                <div class="af-c6">
                  <textinput
                    [form]="outputStockOrderForm.get('totalQuantity')"
                    [label]="outputQuantityLabel"
                    style="width: 100%"
                    placeholder="Enter quantity"
                    i18n-placeholder="@@productLabelStockProcessingOrderDetail.textinput.outputQuantity.placeholder"
                    [readOnly]="isUsingInput"
                    [isInvalid]="(submitted && (outputStockOrderForm.get('totalQuantity').invalid || invalidOutputQuantity)) || invalidOutputQuantityForShipment">
                    <ng-container>
                      <ng-container *ngIf="submitted">
                        <div *ngIf="outputStockOrderForm.get('totalQuantity').errors as errors" class="sc-invalid-feedback">
                          <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.outputQuantity.textinput.error">
                            Quantity is required
                          </div>
                          <div *ngIf="errors.tooSmall as inputQuantity" i18n="@@productLabelStockProcessingOrderDetail.outputQuantityTooSmall.textinput.error">
                            Quantity is too small. The sum of input transactions is {{inputQuantity}}.
                          </div>
                        </div>
                        <div *ngIf="invalidOutputQuantity && !(outputStockOrderForm.get('totalQuantity').errors && outputStockOrderForm.get('totalQuantity').errors.required)" i18n="@@productLabelStockProcessingOrderDetail.outputQuantity.textinput.error.required2" class="sc-invalid-feedback">
                          Quantity is required
                        </div>
                      </ng-container>
                      <div *ngIf="invalidOutputQuantityForShipment" i18n="@@productLabelStockProcessingOrderDetail.outputQuantityDesiredFirst.textinput.error" class="sc-invalid-feedback">
                        Enter the desired output quantity first
                      </div>
                    </ng-container>
                  </textinput>
                </div>
                <div class="af-c6 d-flex align-items-end mb-2">
                  <checkbox-input
                    *ngIf="showUseInput"
                    [form]="checkboxUseInputFrom"
                    (onClick)="useInput($event)">
                    <checkbox-input-rich-label
                      i18n="@@productLabelStockProcessingOrderDetail.checkbox.useInput.label">
                      Use input
                    </checkbox-input-rich-label>
                  </checkbox-input>
                  <checkbox-input
                    *ngIf="showClipOrder"
                    [form]="checkboxClipOrderFrom"
                    (onClick)="clipOrder($event)">
                    <checkbox-input-rich-label
                      i18n="@@productLabelStockProcessingOrderDetail.checkbox.clipOrder.label">
                      Clip input quantity
                    </checkbox-input-rich-label>
                  </checkbox-input>

                </div>
              </div>

              <div class="af-row" *ngIf="showDeliveryData">
                <div class="af-c6">
                  <app-datepicker
                    label="Preferred delivery date"
                    i18n-label="@@productLabelStockProcessingOrderDetail.textinput.preferedDeliveryDate.label"
                    [form]="outputStockOrderForm.get('deliveryTime')"
                    [invalid]="submitted && outputStockOrderForm.get('deliveryTime').invalid">
                    <ng-container>
                      <ng-container *ngIf="submitted">
                        <div *ngIf="outputStockOrderForm.get('deliveryTime').errors as errors" class="sc-invalid-feedback">
                          <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.preferedDeliveryDate.textinput.error">
                            Preferred delivery date is required
                          </div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </app-datepicker>
                </div>
                <!-- <div class="af-c6">
                <single-choice
                  label="Customer"
                  i18n-label="@@productLabelStockProcessingOrderDetail.textinput.companyCustomer.label"
                  [formControlInput]="outputStockOrderForm.get('consumerCompanyCustomer')"
                  [codebookService]="companyCustomerCodebook"
                  style="min-width: 150px;"
                  [isInvalidChoice]="submitted && outputStockOrderForm.get('consumerCompanyCustomer').invalid">
                  <ng-container *ngIf="submitted">
                    <div *ngIf="outputStockOrderForm.get('consumerCompanyCustomer').errors as errors" class="sc-invalid-feedback">
                      <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.singleChoice.companyCustomer.error">
                        Customer is required
                      </div>
                    </div>
                  </ng-container>
                </single-choice>
              </div> -->
              </div>


              <!-- <div class="af-row" *ngIf="showCustomer">
              <div class="af-c9">
                <single-choice
                  label="Customer"
                  i18n-label="@@productLabelStockProcessingOrderDetail.textinput.companyCustomer.label"
                  [formControlInput]="outputStockOrderForm.get('consumerCompanyCustomer')"
                  [codebookService]="companyCustomerCodebook"
                  style="min-width: 150px;"
                  [isInvalidChoice]="submitted && outputStockOrderForm.get('consumerCompanyCustomer').invalid">
                  <ng-container *ngIf="submitted">
                    <div *ngIf="outputStockOrderForm.get('consumerCompanyCustomer').errors as errors" class="sc-invalid-feedback">
                      <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.singleChoice.companyCustomer.error">
                        Customer is required
                      </div>
                    </div>
                  </ng-container>
                </single-choice>
              </div>
            </div> -->
              <!-- <div class="af-row">
              <div class="af-c12">
                <textinput
                  [form]="womensOnlyForm"
                  label="Women's only (%)"
                  style="width: 100%"
                  i18n-label="@@productLabelStockProcessingOrderDetail.textinput.womensOnlyForm.label"
                  [value]="setWomensOnly()"
                  [readOnly]=true>
                </textinput>

              </div>
            </div> -->

              <ng-container *ngIf="this.prAction && this.prAction.requiredFields">
                <app-order-fields *ngFor="let fieldInfo of this.prAction.requiredFields"
                  side="right"
                  [isQuote]="actionType === 'SHIPMENT'"
                  [fieldInfo]="fieldInfo"
                  [formGroup]="outputStockOrderForm"
                  [submitted]="submitted"></app-order-fields>
              </ng-container>
              <!-- SHOW GRADE {{showGrade}}  NN {{!noRepackaging}}, {{prAction.repackedOutputs}} -->

              <!-- <div class="af-row" *ngIf="showPricePerUnit">
              <div class="af-c12">

                <textinput
                  type="number"
                  min="0"
                  step="0.01"
                  [form]="outputStockOrderForm.get('pricePerUnit')"
                  label="Price per unit"
                  style="width: 100%"
                  placeholder="Enter price per unit (RWF)"
                  i18n-label="@@productLabelStockProcessingOrderDetail.textinput.pricePerUnit.label"
                  i18n-placeholder="@@productLabelStockProcessingOrderDetail.textinput.pricePerUnit.placeholder"
                  [isInvalid]="submitted && outputStockOrderForm.get('pricePerUnit').invalid">
                  <ng-container *ngIf="submitted">
                    <div *ngIf="outputStockOrderForm.get('pricePerUnit').errors as errors" class="sc-invalid-feedback">
                      <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.pricePerUnit.textinput.error">
                        Price per unit required
                      </div>
                    </div>
                  </ng-container>
                </textinput>

              </div>
            </div> -->
              <!-- <div class="af-row" *ngIf="showGrade">
              <div class="af-c12">

                <single-choice
                  label="Grade"
                  i18n-label="@@productLabelStockProcessingOrderDetail.choice.grade.label"
                  [formControlInput]="outputStockOrderForm.get('gradeAbbreviation')"
                  [codebookService]="gradeAbbreviationCodebook"
                  style="min-width: 150px;"
                  [isInvalidChoice]="submitted && outputStockOrderForm.get('gradeAbbreviation').invalid">
                  <ng-container *ngIf="submitted">
                    <div *ngIf="outputStockOrderForm.get('gradeAbbreviation').errors as errors" class="sc-invalid-feedback" i18n="@@productLabelStockProcessingOrderDetail.gradeAbbreviation.error">
                      Grade is required
                    </div>
                  </ng-container>
                </single-choice>

              </div>
            </div> -->

              <!-- <div class="af-row" *ngIf="showScreenSize">
              <div class="af-c12">

                <textinput
                  [form]="outputStockOrderForm.get('screenSize')"
                  label="Screen size"
                  style="width: 100%"
                  placeholder="Enter screen size"
                  i18n-label="@@productLabelStockProcessingOrderDetail.textinput.screenSize.label"
                  i18n-placeholder="@@productLabelStockProcessingOrderDetail.textinput.screenSize.placeholder"
                  [isInvalid]="submitted && outputStockOrderForm.get('screenSize').invalid">
                  <ng-container *ngIf="submitted">
                    <div *ngIf="outputStockOrderForm.get('screenSize').errors as errors" class="sc-invalid-feedback">
                      <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.screenSize.textinput.error">
                        Screen size is required
                      </div>
                    </div>
                  </ng-container>
                </textinput>

              </div>
            </div> -->
              <!-- <div class="af-row" *ngIf="showExportLotNumber">
              <div class="af-c12">

                <textinput
                  [form]="outputStockOrderForm.get('lotNumber')"
                  label="Export lot number"
                  style="width: 100%"
                  placeholder="Enter export lot number"
                  i18n-label="@@productLabelStockProcessingOrderDetail.textinput.lotNumber.label"
                  i18n-placeholder="@@productLabelStockProcessingOrderDetail.textinput.lotNumber.placeholder"
                  [isInvalid]="submitted && outputStockOrderForm.get('lotNumber').invalid">
                  <ng-container *ngIf="submitted">
                    <div *ngIf="outputStockOrderForm.get('lotNumber').errors as errors" class="sc-invalid-feedback">
                      <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.lotNumber.textinput.error">
                        Export lot number is required
                      </div>
                    </div>
                  </ng-container>
                </textinput>

              </div>
            </div> -->
              <!-- <div class="af-row" *ngIf="showLotLabel">
              <div class="af-c12">

                <textinput
                  [form]="outputStockOrderForm.get('lotLabel')"
                  label="Lot label"
                  style="width: 100%"
                  placeholder="Enter lot label"
                  i18n-label="@@productLabelStockProcessingOrderDetail.textinput.lotLabel.label"
                  i18n-placeholder="@@productLabelStockProcessingOrderDetail.textinput.lotLabel.placeholder"
                  [isInvalid]="submitted && outputStockOrderForm.get('lotLabel').invalid">
                  <ng-container *ngIf="submitted">
                    <div *ngIf="outputStockOrderForm.get('lotLabel').errors as errors" class="sc-invalid-feedback">
                      <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.lotLabel.textinput.error">
                        Lot label is required
                      </div>
                    </div>
                  </ng-container>
                </textinput>

              </div>
            </div> -->
              <!-- <div class="af-row" *ngIf="showStartOfDrying">
              <div class="af-c12">

                <app-datepicker
                  label="Start of drying"
                  [form]="outputStockOrderForm.get('startOfDrying')"
                  [invalid]="submitted && outputStockOrderForm.get('startOfDrying').invalid">
                  <ng-container *ngIf="submitted">
                    <div *ngIf="outputStockOrderForm.get('startOfDrying').errors as errors" class="sc-invalid-feedback">
                      <div *ngIf="errors.required">
                        Start of drying is required
                      </div>
                    </div>
                  </ng-container>
                </app-datepicker>

              </div>
            </div> -->

              <!-- <div class="af-row" *ngIf="showClientName">
              <div class="af-c12">

                <single-choice
                  label="Client name"
                  i18n-label="@@productLabelStockProcessingOrderDetail.outputClientNameForm.label"
                  [formControlInput]="outputStockOrderForm.get('clientId')"
                  [codebookService]="associatedCompaniesService"
                  style="min-width: 150px;"
                  [isInvalidChoice]="submitted && outputStockOrderForm.get('clientId').invalid">
                  <ng-container *ngIf="submitted">
                    <div *ngIf="outputStockOrderForm.get('clientId').errors as errors" class="sc-invalid-feedback" i18n="@@productLabelStockProcessingOrderDetail.outputClientNameForm.error">
                      Client name is required
                    </div>
                  </ng-container>
                </single-choice>

              </div>
            </div> -->

              <!-- <div class="af-row" *ngIf="showCertificatesIds">
              <div class="af-c12">

              </div>
            </div> -->

              <!-- <div class="af-row" *ngIf="showTransactionType">
              <div class="af-c12">

                <single-choice
                  label="Transaction type"
                  i18n-label="@@productLabelStockProcessingOrderDetail.transactionType.label"
                  [formControlInput]="outputStockOrderForm.get('actionType')"
                  [codebookService]="actionTypesCodebook"
                  style="min-width: 150px;"
                  [isInvalidChoice]="submitted && outputStockOrderForm.get('actionType').invalid">
                  <ng-container *ngIf="submitted">
                    <div *ngIf="outputStockOrderForm.get('actionType').errors as errors" class="sc-invalid-feedback" i18n="@@productLabelStockProcessingOrderDetail.transactionType.error">
                      Transaction type is required
                    </div>
                  </ng-container>
                </single-choice>

              </div>
            </div> -->

              <!-- <div class="af-row" *ngIf="showFlavourProfile">
              <div class="af-c12">
                <textinput
                  [form]="outputStockOrderForm.get('flavourProfile')"
                  label="Flavour profile"
                  style="width: 100%"
                  placeholder="Enter flavour profile"
                  i18n-label="@@productLabelStockProcessingOrderDetail.textinput.flavourProfile.label"
                  i18n-placeholder="@@productLabelStockProcessingOrderDetail.textinput.flavourProfile.placeholder"
                  [isInvalid]="submitted && outputStockOrderForm.get('flavourProfile').invalid">
                  <ng-container *ngIf="submitted">
                    <div *ngIf="outputStockOrderForm.get('flavourProfile').errors as errors" class="sc-invalid-feedback">
                      <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.flavourProfile.textinput.error">
                        Flavour profile is required
                      </div>
                    </div>
                  </ng-container>
                </textinput>
              </div>
            </div> -->
              <div class="af-row">
                <div class="af-c12">

                  <textinput
                    [form]="outputStockOrderForm.get('comments')"
                    label="Comments"
                    style="width: 100%"
                    [textarea]="true"
                    i18n-label="@@productLabelStockProcessingOrderDetail.textinput.comments.label">
                  </textinput>

                </div>
              </div>


              <ng-container *ngIf="outputStockOrders.length> 0">
                <div class="af-row" style="margin-top: 1rem;">
                  <div class="af-c10">
                    <label i18n="@@productLabelStockProcessingOrderDetail.outputStockOrders.outputs.label">Outputs</label>
                  </div>

                  <div class="af-c2">
                    <button class="btn btn-solid round" (click)="addOutput()" i18n="@@productLabelStockProcessingOrderDetail.outputStockOrders.add">
                      <span>+</span>
                    </button>
                  </div>

                </div>
              </ng-container>

              <ng-container *ngFor="let item of outputStockOrders.controls; index as idx">

                <div class="af-row">
                  <div class="af-c12">
                    <div class="row">

                      <!-- <div>ID: {{item.get('id').value}}</div> -->
                      <div class="col-3">
                        <textinput
                          [form]="item.get('sacNumber')"
                          type="number"
                          min="0"
                          step="1"
                          i18n-label="@@productLabelStockProcessingOrderDetail.textinput.sacNumber"
                          label="Sac number"
                          [isInvalid]="submitted && item.get('sacNumber').invalid">
                          <ng-container *ngIf="submitted">
                            <div *ngIf="item.get('sacNumber').errors as errors" class="sc-invalid-feedback">
                              <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.textinput.sacNumber.required.error">
                                Sac number is required
                              </div>
                            </div>
                          </ng-container>

                        </textinput>
                        <!-- [value]="setSacNumber(idx)"> -->
                      </div>

                      <div class="col-8">
                        <textinput
                          type="number"
                          min="0"
                          step="0.01"
                          [form]="item.get('totalQuantity')"
                          i18n-label="@@productLabelStockProcessingOrderDetail.textinput.sacTotalQuantity"
                          [label]="sacNetWLabel"
                          [isInvalid]="submitted && item.get('totalQuantity').invalid">
                          <ng-container *ngIf="submitted">
                            <div *ngIf="item.get('totalQuantity').errors as errors" class="sc-invalid-feedback">
                              <div *ngIf="errors.max" i18n="@@productLabelStockProcessingOrderDetail.textinput.quantity.max.error">
                                Input exceeds the max value
                              </div>
                              <div *ngIf="errors.max" i18n="@@productLabelStockProcessingOrderDetail.textinput.quantity.min.error">
                                Input is too small. Stock order is already partially used.
                              </div>
                            </div>
                          </ng-container>
                        </textinput>

                      </div>

                      <div class="col-1">
                        <div style="margin-top: 1.75rem; cursor: pointer" (click)="removeItem(idx)">
                          <fa-icon
                            class="del-icon"
                            [icon]="faTrashAlt">
                          </fa-icon>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </ng-container>

              <ng-container *ngIf="submitted && this.outputStockOrders.value.length> 0">
                <div *ngIf="outputStockOrders.errors as errors" class="sc-invalid-feedback" i18n="@@productLabelStockProcessingOrderDetail.outputs.atLeastOne.error">
                  At least one non-empty field is required
                </div>
              </ng-container>


              <div *ngIf="!showRightSide" style="position: absolute; top:0; bottom: 0; left: 0; right: 0; background-color: white; opacity: 0.5;"></div>

            </ng-container>
          </div>
        </div>
      </div>



      <ng-container>
        <div class="af-form-row">
          <div class="af-form-block--c12">
            <h2 i18n="@@productLabelStockProcessingOrderDetail.section.processingEvidence">Processing evidence</h2>

            <div class="af-form-element">

              <ng-container *ngIf="this.requiredProcessingEvidenceArray.length> 0">
                <ng-container *ngFor="let item of requiredProcessingEvidenceArray.controls; index as idx">

                  <div class="d-flex">

                    <div class="af-row">
                      <div class="af-c4">
                        <app-datepicker
                          label="Date"
                          i18n-label="@@processingEvidenceItem.datepicker.date.label"
                          [form]="item.get('date')"
                          [invalid]="submitted && item.get('date').invalid">
                          <ng-container *ngIf="submitted">
                            <div *ngIf="item.get('date').errors as errors" class="sc-invalid-feedback">
                              <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.datepicker.date.error">
                                Date is required
                              </div>
                            </div>
                          </ng-container>
                        </app-datepicker>
                      </div>
                      <div class="af-c8">
                        <!-- <pre>{{item.get('type').value | json}}</pre> -->
                        <textinput
                          [value]="item.get('type').value?.label"
                          label="Type"
                          [valueTextInput]="true"
                          i18n-label="@@productLabelStockProcessingOrderDetail.label.type"
                          [readOnly]="true">
                        </textinput>

                      </div>
                    </div>

                    <div class="af-c6">
                      <ng-container>
                        <attachment-uploader
                          [chainFile]="true"
                          url="{{chainRootUrl}}"
                          downloadUrl="{{chainDownloadRootUrl}}"
                          allowedMimeType="[image/png', 'image/jpeg', 'application/pdf']"
                          allowedMimeTypeErrorMessage="Upload only file types: PNG, JPG and JPEG."
                          mode="simpleAsTextField"
                          label="Document (JPG, PNG, PDF)"
                          i18n-label="@@productLabelStockProcessingOrderDetail.attachment-uploader.label"
                          i18n-allowedMimeTypeErrorMessage="@@productLabelStockProcessingOrderDetail.attachment-uploader.allowedMimeTypeErrorMessage"
                          [form]="item.get('document')"
                          [attachmentUploaderId]="'productLabelStockProcessingOrderDetail'+listEditorManagerPosition"
                          [invalid]="submitted && item.get('document').invalid"
                          [readOnly]="item.get('document').disabled">
                          <attachment-uploader-content i18n="@@productLabelStockProcessingOrderDetail.attachment-uploader.content">
                            Upload document
                          </attachment-uploader-content>
                        </attachment-uploader>
                        <attachment-uploader-errors>
                          <ng-container *ngIf="submitted">
                            <div *ngIf="item.get('document').errors as errors" validation-error class="sc-invalid-feedback">
                              <div *ngIf="errors.required" i18n="@@productLabelStockProcessingOrderDetail.attachment-uploader.error">
                                <span>
                                  Document is required
                                </span>
                              </div>
                            </div>
                          </ng-container>
                        </attachment-uploader-errors>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
                <!-- <div *ngIf="submitted && requiredEvidenceError" i18n="@@productLabelStockProcessingOrderDetail.requiredEvidence.error" class="sc-invalid-feedback">
                  All required (*) documents or at least one document should be uploaded
                </div> -->
              </ng-container>










              <list-editor *ngIf="processingEvidenceListManager"
                label="Other evidence documents"
                [listEditorManager]="processingEvidenceListManager"
                addText="Add document"
                [canAdd]="showRightSide"
                i18n-label="@@productLabelStockProcessingOrderDetail.list-editor.processingEvidence.label"
                i18n-addText="@@productLabelStockProcessingOrderDetail.list-editor.processingEvidence.addText">
                <list-editor-items>
                  <div cdkDropList
                    (cdkDropListDropped)="processingEvidenceListManager.onDrop($event)">
                    <div *ngFor="let item of otherProcessingEvidenceArray.controls; let i=index;">
                      <app-processing-evidence-item
                        title=null
                        [formControlInput]="item"
                        [typeAsObject]="true"
                        [isOpen]="processingEvidenceListManager.isOpen(i)"
                        [listEditorManager]="this.processingEvidenceListManager"
                        [listEditorManagerPosition]="i">
                      </app-processing-evidence-item>
                    </div>
                  </div>
                </list-editor-items>
                <list-editor-errors>
                </list-editor-errors>
              </list-editor>
            </div>

          </div>
        </div>
      </ng-container>


      <!--<ng-container *ngIf="showCertificatesIds && outputStockOrderForm.get('certificates')?.controls?.length > 0">-->
      <ng-container *ngIf="showCertificatesIds">
        <div class="af-form-row">
          <div class="af-form-block--c12">
            <h2 i18n="@@productLabelStockProcessingOrderDetail.section.certificationId">Certificates</h2>

            <div class="af-form-element">
              <list-editor
                label="Certificates"
                [listEditorManager]="certificationListManager"
                addText="Add document"
                [canAdd]="false"
                i18n-label="@@productLabelStockProcessingOrderDetail.section.certificationId.label"
                i18n-addText="@@productLabelStockProcessingOrderDetail.section.certificationId.addText">
                <list-editor-items>
                  <!--<div cdkDropList
                  (cdkDropListDropped)="certificationListManager.onDrop($event)">-->
                  <div *ngFor="let item of
                    outputStockOrderForm.get('certificates')?.controls; let i=
                    index;">
                    <app-certification-and-standard-item
                      title="Certification"
                      i18n-title="@@roductLabelStockProcessingOrderDetail.section.certificationId.title"
                      [formControlInput]="item"
                      [isOpen]="certificationListManager.isOpen(i)"
                      [listEditorManager]="this.certificationListManager"
                      [listEditorManagerPosition]="i">
                    </app-certification-and-standard-item>
                  </div>
                  <!--</div>-->
                </list-editor-items>
                <list-editor-errors>
                </list-editor-errors>
              </list-editor>
            </div>

          </div>
        </div>
      </ng-container>

      <!-- row 4 -->
      <div class="af-form-row">
        <div class="af-form-block--c12">

          <div class="af-bottom-buttons" i18n="@@productLabelStockProcessingOrderDetail.footer.buttons">
            <button class="btn btn-outlined mr-2" data-dismiss="modal" type="button" (click)="dismiss()"><span>Cancel</span></button>
            <button class="btn" type="button" (click)="!this.saveProcessingOrderInProgress && saveProcessingOrder()"><span>Save</span></button>
          </div>

        </div>
      </div>

    </div>
  </div>
</app-authorised-layout>
