@import "../../../variables";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.user-detail-container {
  max-width:1140px;
  background-color: white;
  @include media-breakpoint-up(lg) {
    width: 1140px;
  }
  @include media-breakpoint-down(lg) {
    padding-left: 2rem;
  }
}

.btn-link-pass {
  border: none;
  font-size: 1rem;
  color: $secondary;
  margin-top: 0.5rem;
  margin-left: 0;
}

.show-pointer{
  cursor: pointer;
}

.user-profile-view {
  margin-left: 8px;
  margin-right: 8px;

  @include media-breakpoint-up(lg) {
    margin-left: 2rem;
  }
}

.af-translation-language {
  div {
    margin-right: 20px;
    padding: 0.375rem 0.75rem;

    img {
      height: 16px;
      width: 16px;
      margin-top: -3px;
    }
  }
}
