@import "../../../variables";

.value-chain-action {
  margin: 0.25rem;
  cursor: pointer;
}

.enabled-action {
  color: $primary;
}

.enabled-action:hover {
  text-decoration: underline;
}

.limit-chars {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40ch;
}
