<app-authorised-layout>
    <div *ngIf="collectorForm" class="af-layout--authorised">
        <div class="af-form-wrapper">
            <div class="af-form-row">
                <div class="af-form-block--c12">
                    <div class="title-page content-element--title">{{title}}</div>
                </div>
            </div>

            <div class="af-form-row">
                <div class="af-form-block--c6">
                    <h2 i18n="@@collectorDetail.section.basicInfo">Basic information</h2>
                    <div class="af-form-element">
                        <textinput
                                [form]="$any(collectorForm.get('name'))"
                                label="First name"
                                style="width: 100%"
                                placeholder="Enter first name"
                                i18n-label="@@collectorDetail.textinput.name.label"
                                i18n-placeholder="@@collectorDetail.textinput.name.placeholder"
                                [isInvalid]="submitted && collectorForm.get('name').invalid">
                            <ng-container *ngIf="submitted">
                                <div *ngIf="collectorForm.get('name').errors as errors" class="sc-invalid-feedback">
                                    <div *ngIf="errors.required" i18n="@@collectorDetail.textinput.name.error">
                                        Name is required
                                    </div>
                                </div>
                            </ng-container>
                        </textinput>

                        <textinput
                                [form]="$any(collectorForm.get('surname'))"
                                label="Last name"
                                style="width: 100%"
                                placeholder="Enter last name"
                                i18n-label="@@collectorDetail.textinput.surname.label"
                                i18n-placeholder="@@collectorDetail.textinput.surname.placeholder"
                                [isInvalid]="submitted && collectorForm.get('surname').invalid">
                            <ng-container *ngIf="submitted">
                                <div *ngIf="collectorForm.get('surname').errors as errors" class="sc-invalid-feedback">
                                    <div *ngIf="errors.required" i18n="@@collectorDetail.textinput.name.error">
                                        Last name is required
                                    </div>
                                </div>
                            </ng-container>
                        </textinput>

                        <single-choice
                                label="Gender"
                                i18n-label="@@collectorDetail.label.gender"
                                [formControlInput]="$any(collectorForm.get('gender'))"
                                [codebookService]="genderCodebook"
                                [isInvalidChoice]="submitted && collectorForm.get('gender').invalid">
                            <ng-container *ngIf="submitted">
                                <div *ngIf="collectorForm.get('gender').errors as errors" class="sc-invalid-feedback">
                                    <div *ngIf="errors.required" i18n="@@collectorDetail.textinput.name.error">
                                        Gender is required
                                    </div>
                                </div>
                            </ng-container>

                        </single-choice>

                        <textinput
                                *ngIf="update"
                                [readOnly]=true
                                [form]="$any(collectorForm.get('id'))"
                                label="User ID"
                                style="width: 100%"
                                placeholder=""
                                i18n-label="@@collectorDetail.textinput.userCustomerId.label">
                        </textinput>
                    </div>
                </div>

                <div class="af-form-block--c6" *ngIf="update">
                    <div class="d-flex justify-content-center align-items-center" style="margin-top: 32px;">
                        <div class="label-card">
                            <img src="assets/logo-INATrace/logo-INA.png" class="logo-image" alt="Logo image">
                            <div class="name-sector">{{collectorForm.get('name').value}} {{collectorForm.get('surname').value}}</div>
                            <div class="location-sector">{{collectorForm.get('location.address.village').value}}, {{collectorForm.get('location.address.cell').value}}, {{collectorForm.get('location.address.sector').value}}</div>
                            <div class="qr-code-container">
                                <qr-code [value]="collectorForm.get('id').value.toString()"
                                         [foreground]="theme.primary"
                                         [size]="qrCodeSize"></qr-code>
                            </div>
                            <div style="flex: 1 1 0"></div>
                            <div class="trademark-title">
                                {{appName}}™
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="af-form-row">
                <div class="af-form-block--c12">
                    <h2 i18n="@@collectorDetail.section.address">Address</h2>
                    <div class="af-form-element">
                        <location-form
                                [form]="$any(collectorForm.get('location'))"
                                [submitted]="submitted"></location-form>
                    </div>
                </div>
            </div>

            <div class="af-form-row">
                <div class="af-form-block--c6">
                    <h2 i18n="@@collectorDetail.section.additionalInfo">Additional information about user</h2>
                    <div class="af-form-element">
                        <textinput
                                [form]="$any(collectorForm.get('phone'))"
                                label="Phone number"
                                style="width: 100%"
                                placeholder="Enter phone number"
                                i18n-label="@@collectorDetail.textinput.phone.label"
                                i18n-placeholder="@@collectorDetail.textinput.phone.placeholder">
                        </textinput>

                        <textinput
                                [form]="$any(collectorForm.get('email'))"
                                label="E-mail"
                                style="width: 100%"
                                placeholder="Enter e-mail address"
                                i18n-label="@@collectorDetail.textinput.email.label"
                                i18n-placeholder="@@collectorDetail.textinput.email.placeholder">
                        </textinput>

                        <checkbox-input [form]="$any(collectorForm.get('hasSmartphone'))">
                            <checkbox-input-rich-label i18n="@@collectorDetail.checkbox-input.hasSmartPhone">
                                Smart phone
                            </checkbox-input-rich-label>
                        </checkbox-input>
                    </div>
                </div>

                <div class="af-form-block--c6">
                    <h2 i18n="@@collectorDetail.section.bankInfo">Bank information</h2>
                    <div class="af-form-element">
                        <textinput
                                [form]="$any(collectorForm.get('bank.accountHolderName'))"
                                label="Account holder's name"
                                style="width: 100%"
                                placeholder="Enter account holder's name"
                                i18n-label="@@collectorDetail.textinput.accountHoldersName.label"
                                i18n-placeholder="@@collectorDetail.textinput.accountHoldersName.placeholder">
                        </textinput>

                        <textinput
                                [form]="$any(collectorForm.get('bank.accountNumber'))"
                                label="Account number"
                                style="width: 100%"
                                placeholder="Enter account number"
                                i18n-label="@@collectorDetail.textinput.accountNumber.label"
                                i18n-placeholder="@@collectorDetail.textinput.accountNumber.placeholder">
                        </textinput>

                        <textinput
                                [form]="$any(collectorForm.get('bank.bankName'))"
                                label="Bank name"
                                style="width: 100%"
                                placeholder="Enter bank name"
                                i18n-label="@@collectorDetail.textinput.bankName.label"
                                i18n-placeholder="@@collectorDetail.textinput.bankName.placeholder">
                        </textinput>

                        <textinput
                                [form]="$any(collectorForm.get('bank.additionalInformation'))"
                                label="Additional information"
                                style="width: 100%"
                                placeholder="Enter additional information"
                                i18n-label="@@collectorDetail.textinput.additionalInfo.label"
                                i18n-placeholder="@@collectorDetail.textinput.additionalInfo.placeholder">
                        </textinput>
                    </div>
                </div>
            </div>

            <div class="af-form-row">
                <div class="af-form-block--c6">
                    <h2 i18n="@@collectorDetail.section.companies">Companies</h2>
                    <div class="af-form-element">
                        <list-editor *ngIf="producersListManager"
                                     label="Supplier of"
                                     [listEditorManager]="producersListManager"
                                     addText="Add new"
                                     [canAdd]="true"
                                     i18n-label="@@collectorDetail.list-editor.cooperatives.label"
                                     i18n-addText="@@collectorDetail.list-editor.cooperatives.addText"
                                     [invalid]="submitted && collectorForm.get('cooperatives')?.invalid">
                            <list-editor-items>
                                <div *ngFor="let item of collectorForm.get('cooperatives').controls; let i=index;">
                                    <app-producers-item *ngIf="codebookCoop"
                                                        [codebookCoop]="codebookCoop"
                                                        [assocCoop]="assocCoop"
                                                        title=null
                                                        [formControlInput]="item"
                                                        [type]="collectorType"
                                                        [isOpen]="producersListManager.isOpen(i)"
                                                        [listEditorManager]="this.producersListManager"
                                                        [listEditorManagerPosition]="i">
                                    </app-producers-item>
                                </div>
                            </list-editor-items>
                            <list-editor-errors>
                                <ng-container *ngIf="submitted">
                                    <div *ngIf="collectorForm.get('cooperatives').errors as errors" class="sc-invalid-feedback">
                                        <div *ngIf="errors.required" i18n-title="@@collectorDetail.list-editor.cooperatives.error">
                                            <span>
                                                Cooperative is required
                                            </span>
                                        </div>
                                    </div>
                                </ng-container>
                            </list-editor-errors>
                        </list-editor>
                    </div>
                </div>

                <div class="af-form-block--c6">
                    <h2 i18n="@@collectorDetail.section.associations">Associations</h2>
                    <div class="af-form-element">
                        <div class="search-field">
                            <textinput
                                    label="Member of associations"
                                    [form]="assocForm"
                                    i18n-label="@@collectorDetail.textinput.assoc.label"
                                    placeholder="Type association ..."
                                    i18n-placeholder="@@collectorDetail.textinput.assoc.placeholder"
                                    [codebookService]="codebookAssoc"
                                    [resultFormatter]="assocResultFormatter"
                                    [inputFormatter]="assocInputFormatter"
                                    (itemMatching)="addAssociation($event, assocForm)">
                            </textinput>
                        </div>
                        <div *ngFor="let item of collectorForm.value.associations; index as i">
                            <div class="d-flex justify-content-between pl-3 pr-3 mb-1">
                                <div>{{item.company.name}}</div>
                                <div (click)="deleteAssociation(item, i)">
                                    <fa-icon
                                            class="del-icon"
                                            [icon]="faTimes"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="af-form-row">
                <div class="af-form-block--c12">
                    <div class="af-bottom-buttons" i18n="@@collectorDetail.modal.footer.buttons">
                        <button class="btn btn-outlined mr-2" data-dismiss="modal" type="button" (click)="dismiss()"><span>Cancel</span></button>
                        <button class="btn" type="button" (click)="save()"><span>Save</span></button>
                    </div>
                </div>
            </div>

            <div class="af-form-row" *ngIf="this.update">
                <div class="af-form-block--c12">
                    <h2 i18n="@@collectorDetail.section.purchaseOrders">Purchase orders</h2>
                        <ng-container *ngIf="purchaseOrders">
                            <div class="counting-page content-element--counting"
                                 i18n="@@productLabelStock.subTitle.showingPurchaseOrders">
                                Showing {{ showedPurchaseOrders }}/{{ allPurchaseOrders }}</div>
                            <app-stock-unit-list
                              (countAll)="onCountAllPO($event)"
                              (showing)="onShowPO($event)"
                              [selectedOrders]="selectedOrders"
                              (selectedIdsChanged)="selectedIdsChanged($event, 'PURCHASE')"
                              [companyId]="companyId"
                              [representativeOfProducerUserCustomerIdPing$]="representativeOfUserCustomerIdPing$">
                            </app-stock-unit-list>
                        </ng-container>
                </div>
            </div>

            <div class="af-form-row mb-5" *ngIf="this.update">
                <div class="af-form-block--c12">
                    <h2 i18n="@@collectorDetail.section.payments">Payments</h2>
                        <ng-container *ngIf="payments">
                            <div class="counting-page content-element--counting"
                                 i18n="@@productLabelStock.subTitle.showingPurchaseOrders">
                                Showing {{ showedPaymentOrders }}/{{ allPaymentOrders }}</div>
                            <app-stock-payments-list
                              [companyId]="companyId"
                              [representativeOfRecepientUserCustomerIdPing$]="representativeOfUserCustomerIdPing$"
                              [selectedPayments]="selectedPayments"
                              [currency]="company.currency.code"
                              (selectedPaymentsChanged)="selectedIdsChanged($event)"
                              (showing)="onShowPayments($event)"
                              (countAll)="onCountAllPayments($event)">
                            </app-stock-payments-list>
                        </ng-container>
                </div>
            </div>
        </div>
    </div>
</app-authorised-layout>
