@import "../../../variables";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.label {
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}

.search-field .form-group {
  margin-bottom: 0.5rem;
}

.company-detail-container{
  background-color: white;
  max-width: 1140px;
}
