<ng-container *ngIf="orders$ | async as orders">

  <div class="container container--bare">
    <div class="row" style="margin-top: 30px;">

      <div class="col-md-6 col-lg-4 col--bare" *ngFor="let order of orders.items">
        <app-customer-order-card
          [order]="order">
        </app-customer-order-card>
      </div>
    </div>
  </div>

  <div *ngIf="orders && orders.items && orders.items.length == 0" class="no-list-results" i18n="@@productLabelStockProcessingFacilityList.noOrders">
    No orders
  </div>

</ng-container>
