<div class="modal-container" style="max-width: 500px;">
  <div class="modal-header">
    <h4 class="modal-title" i18n="@@productLabelFrontFeedback.modal.title">Give Feedback</h4>
    <button type="button" class="close" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <div class="modal-body">
      <textinput
        [form]="$any(feedbackForm.get('feedback'))"
        label="The producers of {{ productName }} look forward to your feedback (what do you like / not)"
        style="width: 100%;"
        [textarea]="true"
        i18n-label="@@productLabelFrontFeedback.modal.body.textinput.text.label"
        [readOnly]="readOnly">
        <small i18n="@@productLabelFrontFeedback.modal.body.textinput.feedback.small">Describe in max 500 characters.</small>
        <ng-container *ngIf="submitted">
          <div *ngIf="feedbackForm.get('feedback').errors as errors" class="sc-invalid-feedback" i18n="@@productLabelFrontFeedback.modal.body.textinput.feedback.errorMaxLength">
            Feedback should not exceed 500 characters.
          </div>
        </ng-container>
      </textinput>

      <h5 i18n="@@productLabelFrontFeedback.modal.body.questions">Please also answer the following questions:</h5>

      <single-choice
        label="1. How would you rate the taste of {{ productName }} in comparison to other products that you consume?"
        i18n-label="@@productLabelFrontFeedback.modal.body.taste"
        [formControlInput]="$any(feedbackForm.get('questionnaireAnswers.rateTaste'))"
        [codebookService]="codebookTasteCodes"
        style="min-width: 150px;">
      </single-choice>

      <textinput
        [form]="$any(feedbackForm.get('questionnaireAnswers.age'))"
        label="2. Your age"
        style="width: 100%;"
        placeholder="Enter your age"
        i18n-label="@@productLabelFrontFeedback.modal.body.textinput.age.label"
        i18n-placeholder="@@productLabelFrontFeedback.modal.body.textinput.age.placeholder"
        [readOnly]="readOnly">
      </textinput>

      <single-choice
        label="3. Gender"
        i18n-label="@@productLabelFrontFeedback.modal.body.gender"
        [formControlInput]="$any(feedbackForm.get('questionnaireAnswers.gender'))"
        [codebookService]="codebookAgeCodes"
        style="min-width: 150px;">
      </single-choice>

      <textinput
        [form]="$any(feedbackForm.get('email'))"
        label="In case you would like to receive an answer from us, please provide your email address"
        style="width: 100%;"
        placeholder="Enter e-mail"
        i18n-label="@@productLabelFrontFeedback.modal.body.textinput.email.label"
        i18n-placeholder="@@productLabelFrontFeedback.modal.body.textinput.email.placeholder"
        [readOnly]="readOnly">
        <ng-container *ngIf="submitted">
          <div *ngIf="feedbackForm.get('email').errors as errors" class="sc-invalid-feedback">
            <div *ngIf="errors.wrongEmail" i18n="@@productLabelFrontFeedback.modal.body.textinput.email.error">
              E-mail is in the wrong format
            </div>
          </div>
        </ng-container>
      </textinput>

      <div i18n="@@productLabelFrontFeedback.modal.body.permissioToContact">Permission to Contact</div>
      <div [innerHTML]="this.gdprHtmlContext"></div>

      <checkbox-input
        [form]="$any(feedbackForm.get('gdprConsent'))"
        [disabled]="readOnly">
        <checkbox-input-rich-label
          i18n="@@productLabelFrontFeedback.checkbox-input.gdprConsent">
          GDPR consent
        </checkbox-input-rich-label>
      </checkbox-input>

    </div>
  </div>
  <div class="modal-footer" i18n="@@productLabelFrontFeedback.modal.footer.buttons">
    <button class="btn btn-outlined" data-dismiss="modal" type="button" (click)="dismiss()"><span>Cancel</span></button>
    <button *ngIf="!readOnly" class="btn" type="button" (click)="submitFeedback()"><span>Submit</span></button>
  </div>
</div>
