<div class="container">
  <div class="row login-row">
    <div class="col-sm-12 col-lg-6 align-self-center">
      <div class="login-left-inner">
        <div class="login-title" i18n="@@resetPassword.title">Reset password?</div>
        <div class="login-big-spacer"></div>

        <textinput
          #passwordInput
          biggerTextInput="true"
          [form]="$any(form.get('password'))"
          type="password"
          id="password"
          label="Password"
          class="register-text-left"
          style="width: 100%"
          placeholder="Enter new password"
          i18n-label="@@resetPassword.textinput.password.label"
          i18n-placeholder="@@resetPassword.textinput.password.placeholder"
          [isInvalid]="submitted && form.get('password').invalid">
          <div *ngIf="submitted && form.get('password').invalid" class="sc-invalid-feedback">
            <div *ngIf="form.get('password').errors.minlength || form.get('password').errors.required" i18n="@@resetPassword.textinput.password.error">
              <span>
                Password should contain at least 8 characters.
              </span>
            </div>
          </div>
          <small i18n="@@resetPassword.helperText">Password should contain at least 8 characters.</small>
        </textinput>

        <div class="login-small-spacer"></div>
        <div class="login-small-spacer"></div>

        <textinput
          #passwordInput2
          biggerTextInput="true"
          [form]="$any(form.get('confirmPassword'))"
          type="password"
          id="confirmPassword"
          label="Confirm password"
          style="width: 100%"
          placeholder="Confirm Password"
          i18n-label="@@resetPassword.textinput.confirmPassword.label"
          i18n-placeholder="@@resetPassword.textinput.confirmPassword.placeholder"
          [isInvalid]="submitted && form.get('confirmPassword').invalid">
          <div *ngIf="submitted && form.get('confirmPassword').invalid" class="sc-invalid-feedback">
            <div *ngIf="form.get('confirmPassword').errors.minlength || form.get('confirmPassword').errors.required" i18n="@@resetPassword.textinput.confirmPassword.error">
              <span>
                Password should contain at least 8 characters.
              </span>
            </div>
            <div *ngIf="form.get('confirmPassword').errors.doNotMatch" i18n="@@resetPassword.textinput.confirmPassword.errorDoNotMatch">
              <span>
                Passwords do not match.
              </span>
            </div>
          </div>
        </textinput>

        <div class="login-medium-spacer"></div>
        <div>
          <a [routerLink]="['/', 'login']" i18n="@@resetPassword.link.backToLogin"><span class="login-forgot-password">Back to login</span></a>
        </div>
        <div class="login-small-spacer"></div>
        <div class="login-small-spacer"></div>
        <div class="login-small-spacer"></div>
        <div class="login-small-spacer"></div>

        <button class="btn btn-register" (click)="onSubmit()" i18n="@@resetPassword.button.resetPassword">
          <span>Reset password</span>
        </button>

      </div>
    </div>
    <div class="col-sm-0 col-lg-6" style="background-color: rgba(247,247,247,0.56); border-radius: 32px;">
      <div class="login-right-side-text">
        Make agricultural supply chains transparent and fair with INATrace
      </div>
    </div>
  </div>
</div>
