<div class="d-flex flex-column h-100">
    <header *ngIf="!loading" [style.background-color]="headerColor" class="py-3">

    </header>

    <div class="flex-grow-1">
        <ng-container *ngIf="loading">
            <div class="h-100 d-flex flex-column justify-content-center">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!loading">
            <app-b2c-tabs *ngIf="tab" [tab]="tab" [backgroundColor]="headerColor" [productName]="productName" [uuid]="uuid" [qrTag]="qrTag"></app-b2c-tabs>

            <router-outlet></router-outlet>
        </ng-container>
    </div>

    <footer *ngIf="!loading" [style.background-color]="footerColor" class="py-3">
        <div class="container-fluid">
            <div class="row text-white text-center">
                <div class="col-12 col-md-6">
                    <p>Terms of Use</p>
                </div>
                <div class="col-12 col-md-6">
                    <p>Privacy Policy</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <p class="text-muted m-0">Copyright © 2022 INATrace.<br>All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</div>
