<footer class="main-footer">
  <div class="container">

      <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">

          <div>
              <div class="mb-2">Copyright 2022, INATrace. All Rights Reserved.</div>
              <div><a [routerLink]="['/','s','cookies']">Cookie policy.</a>&nbsp;<a [routerLink]="['/','s','privacy']">Privacy policy.</a>&nbsp;<a [routerLink]="['/','s','terms-and-conditions']">Terms and conditions.</a></div>
          </div>
          
          <div class="d-flex logos">
              <img src="/assets/landing-page/bmz-logo.jpg" alt="BMZ logo image" class="mr-5">
              <img src="/assets/landing-page/giz-logo.jpg" alt="GIZ logo image" class="mr-5">
              <img src="/assets/landing-page/ina-logo.jpg" alt="INA logo image">
          </div>

      </div>

  </div>
</footer>
