@import "src/_variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.modal-header {
    border-bottom: 0 none;
}

.wel-link {
  color: $primary;
  font-weight: 300;
  font-size: 1rem;
  text-decoration: underline;
}
