<app-authorised-layout class="af-layout--system">

  <app-system-left-panel
          [isAdmin]="true"
          i18n="@@settingsPage.navTitle"
          title="System">
  </app-system-left-panel>

  <div class="main">

    <!-- SEMI-PRODUCTS -->
    <div class="main-inside-top content-element">
      <div class="d-flex justify-content-between main-inside-top--row1">
        <div class="title-page content-element--title" i18n="@@settingsPage.title.semiProducts">Semi-products</div>
        <button class="btn btn-solid round btn-table-new content-element--btn" (click)="newType('semi-products')">
          <span>+ Add</span>
        </button>
      </div>
      <div class="d-flex align-items-start main-inside-top--row2">
        <div>
          <div class="sub-title-page content-element--subtitle" i18n="@@settingsPage.subTitle.listOfSemiProducts">List of semi-products</div>
          <div class="counting-page content-element--counting" i18n="@@settingsPage.subTitle.showingSemiProducts">Showing {{ allSemiProducts }}/{{ showedSemiProducts }}</div>
        </div>
      </div>
    </div>
    <app-type-list
            [parentReload]="parentReloadSemiProducts"
            type='semi-products'
            (countAll)="onCountAll($event, 'semi-products')"
            (showing)="onShow($event, 'semi-products')">
    </app-type-list>

    <!-- FACILITY TYPES CODEBOOK -->
    <div class="main-inside-top content-element">
      <div class="d-flex justify-content-between main-inside-top--row1">
        <div class="title-page content-element--title" i18n="@@settingsPage.title.facilityType">Facility types</div>
        <button class="btn btn-solid round btn-table-new content-element--btn" (click)="newType('facility-types')" style="" i18n="@@settingsPage.button.newFacilityType">
          <span>+ Add</span>
        </button>
      </div>
      <div class="d-flex align-items-start main-inside-top--row2">
        <div>
          <div class="sub-title-page content-element--subtitle" i18n="@@settingsPage.subTitle.listOfFacilitiesTypes">List of facility types</div>
          <div class="counting-page content-element--counting" i18n="@@settingsPage.subTitle.showingFacilitiesTypes">Showing {{showedFacilities}}/{{allFacilities}}</div>
        </div>
      </div>
    </div>
    <app-type-list
      [parentReload]="parentReloadFacility"
      type='facility-types'
      (countAll)="onCountAll($event, 'facility-types')"
      (showing)="onShow($event, 'facility-types')">
    </app-type-list>

    <!-- MEASUREMENT UNIT TYPES CODEBOOK -->
    <div class="main-inside-top content-element">

      <div class="d-flex justify-content-between main-inside-top--row1">
        <div class="title-page content-element--title" i18n="@@settingsPage.title.measurementUnitTypes">Measurement unit types</div>
        <button class="btn btn-solid round btn-table-new content-element--btn" (click)="newType('measurement-unit-types')" i18n="@@settingsPage.button.newMeasurementUnitType">
          <span>+ Add</span>
        </button>
      </div>
      <div class="d-flex align-items-start main-inside-top--row2">
        <div>
          <div class="sub-title-page content-element--subtitle" i18n="@@settingsPage.subTitle.listOfMeasurementUnitTypes">List of measurement unit types</div>
          <div class="counting-page content-element--counting" i18n="@@settingsPage.subTitle.showingMeasurementUnitTypes">Showing {{showedMeasurements}}/{{allMeasurements}}</div>
        </div>
      </div>
    </div>
    <app-type-list
      [parentReload]="parentReloadMeasure"
      type='measurement-unit-types'
      (countAll)="onCountAll($event, 'measurement-unit-types')"
      (showing)="onShow($event, 'measurement-unit-types')">
    </app-type-list>

    <!-- PROCESSING EVIDENCE TYPES CODEBOOK -->
    <div class="main-inside-top content-element">
      <div class="d-flex justify-content-between main-inside-top--row1">
        <div class="title-page content-element--title" i18n="@@settingsPage.title.processingEvidenceType">Processing evidence types</div>
        <button class="btn btn-solid round btn-table-new content-element--btn" (click)="newType('processing-evidence-types')" i18n="@@settingsPage.button.newProcessingEvidenceType">
          <span>+ Add</span>
        </button>
      </div>
      <div class="d-flex align-items-start main-inside-top--row2">
        <div>
          <div class="sub-title-page content-element--subtitle" i18n="@@settingsPage.subTitle.listOfProcessingEvidenceType">List of processing evidence types</div>
          <div class="counting-page content-element--counting" i18n="@@settingsPage.subTitle.showingProcessingEvidenceType">Showing {{showedProcEvidTypes}}/{{allProcEvidTypes}}</div>
        </div>
      </div>
    </div>
    <app-type-list
      [parentReload]="parentReloadProcEvidTypes"
      type='processing-evidence-types'
      (countAll)="onCountAll($event, 'processing-evidence-types')"
      (showing)="onShow($event, 'processing-evidence-types')">
    </app-type-list>

    <!-- PROCESSING EVIDENCE FIELDS CODEBOOK -->
    <div class="main-inside-top content-element">
      <div class="d-flex justify-content-between main-inside-top--row1">
        <div class="title-page content-element--title" i18n="@@settingsPage.title.processingEvidenceFields">Processing evidence fields</div>
        <button class="btn btn-solid round btn-table-new content-element--btn" (click)="newType('processing-evidence-fields')" i18n="@@settingsPage.button.newProcessingEvidenceField">
          <span>+ Add</span>
        </button>
      </div>
      <div class="d-flex align-items-start main-inside-top--row2">
        <div>
          <div class="sub-title-page content-element--subtitle" i18n="@@settingsPage.subTitle.listOfProcessingEvidenceField">List of processing evidence fields</div>
          <div class="counting-page content-element--counting" i18n="@@settingsPage.subTitle.showingProcessingEvidenceField">Showing {{showedProcEvidFields}}/{{allProcEvidFields}}</div>
        </div>
      </div>
    </div>
    <app-type-list
            [parentReload]="parentReloadProcEvidFields"
            type='processing-evidence-fields'
            (countAll)="onCountAll($event, 'processing-evidence-fields')"
            (showing)="onShow($event, 'processing-evidence-fields')">
    </app-type-list>


    <!-- PRODUCT TYPES CODEBOOK -->
    <div class="main-inside-top content-element">
      <div class="d-flex justify-content-between main-inside-top--row1">
        <div class="title-page content-element--title" i18n="@@settingsPage.title.productTypes">Product types</div>
        <button class="btn btn-solid round btn-table-new content-element--btn" (click)="newType('product-types')" i18n="@@settingsPage.button.newProductType">
          <span>+ Add</span>
        </button>
      </div>
      <div class="d-flex align-items-start main-inside-top--row2">
        <div>
          <div class="sub-title-page content-element--subtitle" i18n="@@settingsPage.subTitle.listOfProductTypes">List of product types</div>
          <div class="counting-page content-element--counting" i18n="@@settingsPage.subTitle.showingProductTypes">Showing {{showedProductTypes}}/{{allProductTypes}}</div>
        </div>
      </div>
    </div>
    <app-type-list
      [parentReload]="parentReloadProductTypes"
      type='product-types'
      (countAll)="onCountAll($event, 'product-types')"
      (showing)="onShow($event, 'product-types')">
    </app-type-list>

  </div>
</app-authorised-layout>
