

<div class="modal-container">
  <div class="modal-header">
    <h4 class="modal-title" i18n="@@cookies.cookieManagement.modal.title">Cookies settings</h4>
    <button *ngIf="dismissable" type="button" class="close" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <div class="sp-cookie-management-table">
      <div class="row">
        <div class="col-10 sp-cookie-management-label" i18n="@@cookies.cookieManagement.modal.body.googleAnalytics">
          <span>Google Analytics</span>
          <span>Performance cookies.</span>
        </div>
        <div class="col-2">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"
              [formControl]="form.get('googleAnalytics')" id="googleAnalyticsCookie">
            <label class="custom-control-label" for="googleAnalyticsCookie">
              <span class="show-for-sr"></span>
            </label>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-10 sp-cookie-management-label">
          <span>Facebook Pixel</span>
          <span>Targeting Cookies.</span>
        </div>
        <div class="col-2">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"
              [formControl]="form.get('facebookPixel')" id="facebookPixelCookie">
            <label class="custom-control-label" for="facebookPixelCookie">
              <span class="show-for-sr"></span>
            </label>
          </div>
        </div>
      </div> -->
      <div class="row" *ngIf="chatEngine === 'intercom'">
        <div class="col-10 sp-cookie-management-label" i18n="@@cookies.cookieManagement.modal.body.intercom">
          <span>Intercom</span>
          <span>Customer suport with live chat.</span>
        </div>
        <div class="col-2">

          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"
              [formControl]="form.get('intercom')" id="intercomCookie">
            <label class="custom-control-label" for="intercomCookie">
              <span class="show-for-sr"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="chatEngine === 'rocket'">
        <div class="col-10 sp-cookie-management-label" i18n="@@cookies.cookieManagement.modal.body.rocketChat">
          <span>Rocket Chat</span>
          <span>Customer suport with live chat.</span>
        </div>
        <div class="col-2 sp-cookie-management-checkbox">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"
              [formControl]="form.get('rocket')" id="rocketCookie">
            <label class="custom-control-label" for="rocketCookie">
              <span class="show-for-sr"></span>
            </label>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer" i18n="@@cookies.cookieManagement.modal.footer.buttons.backAndSave">
    <button
      class="btn"
      (click)="activeModal.dismiss('Nazaj click')"
      style="margin-left: 0px;"><span>Back</span></button>
    <button
      class="btn"
      (click)="save()"><span>Save</span></button>

  </div>
</div>
