@import "../../../variables";

.modal-header {
    border-bottom: 0 none;
}
.modal-footer {
    border-top: 0 none;
}

.sp-cookie-management-table {
    margin: 1rem;
}

.sp-cookie-management-label {

    span:first-child {
        display: block;
    }
    span:last-child {
        display: inline-block;
        margin-bottom: 1rem;
        padding-right: 1rem;
        font-size: 85%;
        font-style: italic;
        color: #888;
    }
}

.modal-container {
    .custom-control-input:checked ~ .custom-control-label::before {
        border-color: $theme-primary;
        background-color: $theme-primary;
    }

    .custom-control-input:focus ~ .custom-control-label::before {
        box-shadow: 0 0 0 0.2rem $theme-primary-light;
    }

    .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
        border-color: $theme-primary;
    }
}
