<div class="modal-container self-onboarding-checklist-step-success-modal">
    <div class="modal-body">
        <div class="left-content-container">
            <img src="/assets/icons/icon-self-onboarding-assistant.svg" alt="Image representing pineapple">
        </div>
        <div class="right-content-container">
            <h2 i18n="@@guidedTour.successModal.message">AWESOME! You now got to know all parts of the 'My stock' menu.
                Continue exploring the system yourself.</h2>
            <button type="button"
                    class="btn btn-secondary btn-register"
                    (click)="ok()">
                <span i18n="@@guidedTour.successModal.ok.button">OK</span>
            </button>
        </div>
    </div>
</div>
