<div class="af-card" (click)="onClick()">

    <div class="af-card-section">
      <div [ngClass]="cardColor()">
        <span class="af-card-indicator">&nbsp;</span>
        <span class="af-card-title"><span i18n=":@@orderCard.orderID.label"></span>{{order?.id}}</span>
        <span class="af-card-subtitle">{{order.customer?.name}} ({{weightText}}) <span i18n=":@@orderCard.dueDeliveryDate.label">due</span> {{formatDate(order?.deliveryDeadline)}}</span>
        <div class="af-card-icon">
          <span [ngClass]="orderIcon()"></span>
        </div>
      </div>
    </div>

    <div class="af-card-section">
      <div class="af-card-section-content">
        <span class="af-card-description">
          {{order?.requiredGrade?.label}}, <span i18n=":@@orderCard.womansOnly.label">Women's only:</span>  {{womensOnlyText(order)}},
          {{ordersText}}
        </span>
      </div>
    </div>


</div>
