<!--
<app-authorised-layout>
  <app-order-left-panel-content>
  </app-order-left-panel-content>

  <div class="main">

    <div class="row">

      <div class="col">

        <div class="main-inside-top content-element">
          <div class="d-flex align-items-start content-element--row1">
            <div class="title-page content-element--title" i18n="@@productLabelOrder.title.allOrders">All orders</div>
          </div>
        </div>


      </div>


    </div>
  </div>
</app-authorised-layout>
 -->




<app-authorised-layout>
  <app-order-left-panel-content
    *ngIf="product$ | async as product"
    [order$]="order$"
    [producersString$]="producersString$"
    [product]="product"
    [orderId]="orderID">
  </app-order-left-panel-content>
  <div class="main">
    <div class="row">

      <div class="col">

        <div class="main-inside-top content-element">
          <div class="d-flex align-items-start content-element--row1">
            <div class="title-page content-element--title" i18n="@@customerOrderDetail.title.orderDetails">Order details</div>
          </div>
        </div>

        <ng-container *ngIf="order$ | async as order">

          <div class="row">
            <div class="col-5">

              <div class="af-section-documents-title">Products ordered</div>
              <div class="container container--bare" style="margin-top: 1rem;">
                <div class="row" *ngFor="let item of order.items">

                  <!-- <div class="col-md-6 col-lg-3 col--bare" > -->
                  <div class="col-10 col--bare">
                    <div class="af-ordered">
                      <div class="af-ordered-section">

                        <div class='af-ordered-content'>

                          <a class="af-ordered-button" (click)="generateQRCodes(item)">
                            <span class="af-ordered-button-label" i18n="@@customerOrderDetails.label.manageQRCodes">Manage QR codes</span>
                            <div class="af-ordered-button-icon">
                              <span class="af-ordered-button-icon-shape af-ordered-button-icon-shape--qrcode"></span>
                            </div>
                          </a>

                          <span class="af-ordered-title">{{item.semiProduct?.name}}</span>
                          <span class="af-ordered-description">({{item.totalQuantity}}kg)</span>

                          <div>
                            <div class="af-ordered-bar">
                              <span *ngIf="progress$ | async as progress" class="af-ordered-bar--filled" style="width: {{progress}}%"></span>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
            <div class="col-7">
              <div class="af-section-documents-title">Ingredients</div>
              <div class="row af-details-line" style="margin-top: 1rem;">
                <div class="col-4" i18n="@@customerOrderDetails.lineLabel.producer">Producer</div>
                <div class="col-8">{{producersString$ | async}}</div>
              </div>
              <div class="row af-details-line">
                <div class="col-4" i18n="@@customerOrderDetails.lineLabel.product">Product</div>
                <div class="col-8"><ng-container *ngIf="product$ | async as product">{{product.name}}</ng-container></div>
              </div>

              <div class="row af-details-line">
                <div class="col-4" i18n="@@customerOrderDetails.lineLabel.quantity">Quantity</div>
                <div class="col-8">{{itemsQuantityString(order)}}</div>
              </div>

              <div class="row af-details-line">
                <div class="col-4" i18n="@@customerOrderDetails.lineLabel.quality">Quality</div>
                <div class="col-8">{{order.requiredGrade?.label}}</div>
              </div>

              <div class="row af-details-line">
                <div class="col-4" i18n="@@customerOrderDetails.lineLabel.cuppingForms">Cupping forms</div>
                <div class="col-8 row">
                  <ng-container *ngIf="cuppingFormReport$ | async as reports">
                    <div *ngFor="let report of reports">
                      <app-document-card [report]="report"></app-document-card>
                    </div>
                  </ng-container>
                </div>
              </div>

              <div class="row af-details-line">
                <div class="col-4" i18n="@@customerOrderDetails.lineLabel.samplingNote">Sampling note</div>
                <div class="col-8">
                  <ng-container *ngIf="samplingDeliveryNote$ | async as reports">
                    <div *ngFor="let report of reports">
                      <app-document-card [report]="report"></app-document-card>
                    </div>
                  </ng-container>
                </div>
              </div>

              <div class="row af-details-line">
                <div class="col-4" i18n="@@customerOrderDetails.lineLabel.womenShare">Women's share</div>
                <div class="col-8">{{this.getWomenOnlyLabel(order.requiredwomensOnly)}}</div>
              </div>


            </div>
          </div>
        </ng-container>


        <div class="main-inside-top content-element">
          <div class="d-flex align-items-start content-element--row1">
            <div class="title-page content-element--title" i18n="@@customerOrderDetail.title.documentation">Documentation</div>
          </div>

          <!-- <div class="af-section-title" i18n="@@customerOrderDetails.subtitle.label.order">Order</div>
          <div *ngIf="orderDocs$ | async as reports" class="d-flex flex-wrap">
            <div *ngFor="let report of reports">
              <app-document-card [report]="report" mode='big'></app-document-card>
            </div>
          </div>

          <div class="af-section-title" i18n="@@customerOrderDetails.subtitle.label.order">Payments</div> -->
          <div class="af-section-documents-title" i18n="@@customerOrderDetails.subtitle.label.fairness">F - Fairness</div>
          <div class="af-section-documents-count" *ngIf="fairnessCount$ | async as count">{{count[0]}} / {{count[1]}}</div>
          <div *ngIf="fairnessDocs$ | async as reports" class="d-flex flex-wrap">
            <div *ngFor="let report of reports">
              <app-document-card [report]="report" mode='big'></app-document-card>
            </div>
          </div>

          <div class="af-section-documents-title" i18n="@@customerOrderDetails.subtitle.label.provenance">P - Provenance</div>
          <div class="af-section-documents-count" *ngIf="provenanceCount$ | async as count">{{count[0]}} / {{count[1]}}</div>
          <div *ngIf="provenanceDocs$ | async as reports" class="d-flex flex-wrap">
            <div *ngFor="let report of reports">
              <app-document-card [report]="report" mode='big'></app-document-card>
            </div>
          </div>

          <div class="af-section-documents-title" i18n="@@customerOrderDetails.subtitle.label.quality">Q - Quality</div>
          <div class="af-section-documents-count" *ngIf="qualityCount$ | async as count">{{count[0]}} / {{count[1]}}</div>
          <div *ngIf="qualityDocs$ | async as reports" class="d-flex flex-wrap">
            <div *ngFor="let report of reports">
              <app-document-card [report]="report" mode='big'></app-document-card>
            </div>
          </div>

          <div class="af-section-documents-title" i18n="@@customerOrderDetails.subtitle.label.payments">Payments</div>
          <div class="af-section-documents-count">{{countPayments[0]}} / {{countPayments[1]}}</div>
          <div *ngIf="this.payments" class="d-flex flex-wrap">
            <div *ngFor="let report of this.payments">
              <app-document-card [report]="report" mode='big'></app-document-card>
            </div>
          </div>

        </div>

        <!-- <ng-container *ngIf="fairnessDocs$ | async as entity">
          <pre>{{entity | json}}</pre>
        </ng-container> -->

        <!-- <ng-container *ngIf="confirmation$ | async as confirmation">
          <pre>{{confirmation | json}}</pre>
        </ng-container> -->
      </div>
    </div>
    <div style="height: 10vh;"></div>
  </div>

</app-authorised-layout>
