<app-product-label-front-top-nav></app-product-label-front-top-nav>
<div [class.breadcrumbs-space]="isBreadcrumbsSpaceNeeded" *ngIf="isBreadcrumbsSpaceNeeded">
  <div class="container container-drobtinice">
    <ul class="drobtinice" *ngIf="drobtinice">
      <ng-container *ngFor="let drobtinica of drobtinice; first as isFirst">
        <li><span class="drobtinice-separator" *ngIf="!isFirst">/</span>
          <a *ngIf="drobtinica.route" [routerLink]="drobtinica.route">{{drobtinica.title}}</a>
          <ng-container *ngIf="!drobtinica.route">{{drobtinica.title}}</ng-container>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
<div [class.green-padding]="isGreenPaddingNeeded"></div>
<div class="wrapper">
  <app-page-content></app-page-content>
</div>
<app-landing-page-footer></app-landing-page-footer>
