<ng-container *ngIf="field">
  <!-- <pre>{{field | json}}</pre> -->
  <span *ngIf="isOrdinary(field)" class="af-timeline-value"><span class="{{styleForRequired(field)}}">{{labelForField(field)}}: <fa-icon *ngIf="iconForQuoteRequired(field)" class="{{iconClassForQuoteRequired(field)}}" [icon]="iconForQuoteRequired(field)"></fa-icon></span> {{stringValueForField(field)}}</span>
  <ng-container *ngIf="isListAttribute(field)">
    <ng-container *ngIf="field.fieldID === 'CERTIFICATES_IDS'">
      <div><span class="{{styleForRequired(field)}}">{{labelForField(field)}}: <fa-icon *ngIf="iconForQuoteRequired(field)" class="{{iconClassForQuoteRequired(field)}}" [icon]="iconForQuoteRequired(field)"></fa-icon></span></div>
      <ul>
        <li *ngFor="let certificate of field.value">
          <a (click)="onDownload(certificate.certificate); $event.stopPropagation()">
            {{certificate.certificate?.name}}
          </a>
          ({{certificate.type}}, {{certificate.validity}}, {{certificate.description}})
        </li>
      </ul>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="isObjectAttribute(field)">
    <ng-container *ngIf="field.fieldID === 'CLIENT_NAME'">
      <span class="{{styleForRequired(field)}}">{{labelForField(field)}}: <fa-icon *ngIf="iconForQuoteRequired(field)" class="{{iconClassForQuoteRequired(field)}}" [icon]="iconForQuoteRequired(field)"></fa-icon></span> {{field.value?.name || ' - '}}
    </ng-container>
    <ng-container *ngIf="field.fieldID !== 'CLIENT_NAME'">
      <span class="{{styleForRequired(field)}}">{{labelForField(field)}}: <fa-icon *ngIf="iconForQuoteRequired(field)" class="{{iconClassForQuoteRequired(field)}}" [icon]="iconForQuoteRequired(field)"></fa-icon></span> <pre>{{(field.value | json) || ' - '}}</pre>
    </ng-container>
  </ng-container>
</ng-container>

<ng-container *ngIf="document">
  <!-- <pre>{{document | json}}</pre> -->

  <span class="af-timeline-value">
    <span class="{{styleForRequired(document)}}">{{labelForField(document)}} :</span>
    <fa-icon
      *ngIf="iconForQuoteRequired(document)"
      class="{{iconClassForQuoteRequired(document)}}"
      [icon]="iconForQuoteRequired(document)">
    </fa-icon>
    <span>
      <div
        *ngIf="document.requiredOneOfGroupIdForQuote"
        class="{{classForQuoteOneOfRequired(document)}} ml-1">G{{document.requiredOneOfGroupIdForQuote}}
      </div>
    </span>
    <!-- <pre>{{document | json}}</pre> -->
    <a *ngIf="document.value" (click)="onDownload(document.value[2].files[0]); $event.stopPropagation()" class="af-timeline-value af-timeline-value--document hover-pointer">
      {{document.value[0]?.stringValue}} {{document.value[2].files[0]?.name}}
    </a>
    <span *ngIf="!document.value"> - </span>
    <!-- <span>{{requirementMask(document)}}</span> -->
  </span>
  <!-- <a (click)="onDownload(document.value[2].files[0]); $event.stopPropagation()" class="af-timeline-value hover-pointer">
    {{document.value[0].stringValue}} {{document.value[2].files[0]?.name}} ({{document.quantity}}kg)
  </a> -->
</ng-container>
