@import "src/_variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.af-timeline {
  &-value {
    font-weight: 400;

    &--document {
      padding-left: 20px;
      position: relative;
      text-decoration: underline;

      &:hover {
        color: $moderate-cyan;
        text-decoration: underline;
      }

      &::before {
        content: "";
        position: absolute;
        height: 16px;
        width: 16px;
        padding-right: 4px;
        left: 5px;
        top: 2px;
        // background-color: cyan;

        // display: inline-block;
        // height: 48px;
        // width: 48px;
        // background: $white;
        // mask-size: cover;
        // margin-left: 12px;
        // margin-top: 12px;

        background: url(/assets/icons/icon-doc-small.svg) no-repeat;
      }
    }
  }
}


