<header class="af-b2c-header">
<div></div>
<div class="af-b2c-header--logo" (click)="goTo(null)">
  <h1 class="mb-0">{{ productName }}</h1>
</div>
<ul class="af-b2c-nav" *ngIf="this.doShowTabs">
  <li i18n="@@frontPage.header.tab.journey" [ngClass]="this.tab == 'journey' ? 'af-b2c-nav--selected' : 'af-b2c-nav'" (click)="goTo('journey')">journey</li>
  <li i18n="@@frontPage.header.tab.fair-prices" [ngClass]="this.tab == 'fair-prices' ? 'af-b2c-nav--selected'  : 'af-b2c-nav'" (click)="goTo('fair-prices')">fair prices</li>
  <li i18n="@@frontPage.header.tab.producers" [ngClass]="this.tab == 'producers' ? 'af-b2c-nav--selected'  : 'af-b2c-nav'" (click)="goTo('producers')">producers</li>
  <li i18n="@@frontPage.header.tab.quality" [ngClass]="this.tab == 'quality' ? 'af-b2c-nav--selected'  : 'af-b2c-nav'" (click)="goTo('quality')">quality</li>
  <li i18n="@@frontPage.header.tab.feedback" [ngClass]="this.tab == 'feedback' ? 'af-b2c-nav--selected'  : 'af-b2c-nav'" (click)="goTo('feedback')">feedback</li>
</ul>
</header>
