<app-authorised-layout>

  <div class="container">

    <div class="row">
      <div class="col nav-buttons-container">

        <div class="nav-button">
          <a routerLink="/my-stock">
            <div class="nav-button-inner">
              <img src="../../../assets/icons/icon-my-stock.svg" alt="Warehouse icon">
              <h4 i18n="@@productLabel.sideTitle.stock">My stock</h4>
            </div>
          </a>
        </div>

        <div class="nav-button">
          <a routerLink="/my-orders">
            <div class="nav-button-inner">
              <img src="assets/icons/icon-orders.svg" alt="Orders icon">
              <h4 i18n="@@productLabel.sideTitle.orders">Orders</h4>
            </div>
          </a>
        </div>

        <div *ngIf="showMyCustomersNavButton" class="nav-button">
          <a routerLink="/my-customers">
            <div class="nav-button-inner">
              <img src="assets/icons/icon-my-customers.svg" alt="Store icon">
              <h4 i18n="@@userHome.customers.title">My customers</h4>
            </div>
          </a>
        </div>

        <div class="nav-button">
          <a routerLink="/my-farmers">
            <div class="nav-button-inner">
              <img src="assets/icons/icon-farmers.svg" alt="Farmer icon">
              <h4 i18n="@@companyLeftPanel.farmers">Farmers</h4>
            </div>
          </a>
        </div>

        <div *ngIf="showCollectorsNavButton" class="nav-button">
          <a routerLink="/my-collectors">
            <div class="nav-button-inner">
              <img src="assets/icons/icon-collectors.svg" alt="Collector icon">
              <h4 i18n="@@companyLeftPanel.collectors">Collectors</h4>
            </div>
          </a>
        </div>

        <div class="nav-button">
          <a routerLink="/company-dashboard">
            <div class="nav-button-inner">
              <img src="assets/icons/icon-dashboard.svg" alt="Dashboard icon">
              <h4 i18n="@@userHome.dashboard.title">Dashboard</h4>
            </div>
          </a>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col my-products-container">
        <ng-container *ngIf="products$ | async as products">
          <div class="main-inside-top content-element">
            <div class="d-flex justify-content-between content-element--row1">
              <div class="title-page content-element--title" i18n="@@userHome.products.title">My Products</div>
            </div>
          </div>

          <div class="row" style="margin-top: 30px;">
            <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let product of products.items">
              <app-product-card
                      [product]= product>
              </app-product-card>
            </div>
          </div>

          <div *ngIf="products && products.items && products.items.length == 0" class="no-list-results" i18n="@@productList.noProducts">
            No products
          </div>

          <div [style.display]="showPagination() ? 'flex' : 'none'" class="justify-content-end">
            <ngb-pagination
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="products.count"
                    (pageChange)="onPageChange($event)"
                    [maxSize]="7"
                    [rotate]="true">
            </ngb-pagination>
          </div>
        </ng-container>
      </div>
    </div>

  </div>

</app-authorised-layout>
