@import 'src/_variables';

.my-products-container {
  border-top: 3px solid #F1F2F5;
  border-bottom: 3px solid #F1F2F5;
  margin-bottom: 30px;
}

.nav-buttons-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin-top: 64px;
  margin-bottom: 50px;

  @media (min-width:576px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width:768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.nav-button {
  color: #999933;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow, scale 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    scale: 1.02;
  }

  &:active {
    scale: 0.93;
  }

  a:hover {
    text-decoration: none;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

    img {
      height: 96px;
      margin-bottom: 5px;
    }

    h5 {
      font-size: 1rem;
      margin-bottom: 0;
      color: #999933;
    }
  }
}

.help-assistant {
  position: fixed;
  bottom: 15px;
  right: 30px;
  height: 225px;
  width: 175px;
  z-index: 1049;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/icons/icon-pineapple.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: scale 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    scale: 1.1;
  }

  &:active {
    scale: 0.9;
  }
}

.help-tooltip-main {
  position: fixed;
  background-color: $theme-secondary;
  color: #fff;
  font-weight: bold;
  max-width: 130px;
  border-radius: 50%;
  bottom: 200px;
  right: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  text-align: center;
  padding: 10px;
}

.help-tooltip-second-ring {
  position: fixed;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $theme-secondary;
  bottom: 180px;
  right: 170px;
}

.help-tooltip-first-ring {
  position: fixed;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $theme-secondary;
  bottom: 170px;
  right: 160px;
}
