<div class="af-sidenav--block">

  <div class="above-sidenav">

    <div class="img-container-small">
      <span class="img-container-small--overlay"></span>
      <img *ngIf="this.imgStorageKey"
        src="/api/common/image/{{this.imgStorageKey}}/SMALL"
        default="/api/common/image/{{this.imgStorageKey}}"
        class="img-style">
    </div>

    <div class="above-sidenav-title d-flex">

      <div class="above-sidenav-title-cursor" (click)="goToProduct()">
        <div *ngIf="showIcon" class="above-sidenav-icon">
          <span class="above-sidenav-icon-shape above-sidenav-icon-shape--back"></span>
        </div>
      </div>
      {{title}}
    </div>
  </div>

  <ul class="sidenav">

    <div class="img-container">
      <span class="img-container--overlay"></span>
      <img *ngIf="this.imgStorageKey"
        src="/api/common/image/{{this.imgStorageKey}}/SMALL"
        default="/api/common/image/{{this.imgStorageKey}}"
        class="img-style">
    </div>

    <li style="max-width:100%; margin-top: 2.375rem">
      <a class="link-normal"
        [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="active"
        routerLink="/product-labels/{{this.productId}}/product"
        i18n="@@productLabel.sideTitle.productSettings">
        Product settings
      </a>
    </li>
    <li>
      <a class="link-normal"
        [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="active"
        [ngClass]="{'active': labelsActive.isActive}"
        routerLink="/product-labels/{{this.productId}}"
        i18n="@@productLabel.sideTitle.qrLabels">
        QR labels
      </a>
    </li>
    <li>
      <a class="link-normal"
        routerLinkActive="active"
        [routerLink]="goTo('knowledge-blog')"
        i18n="@@productLabel.sideTitle.knowledgeBlog">
        Knowledge blog
      </a>
    </li>
    <li>
      <a class="link-normal"
        routerLinkActive="active"
        [routerLink]="goTo('stakeholders')"
        i18n="@@productLabel.sideTitle.stakeholders">
        Stakeholders
      </a>
    </li>
    <li>
      <a class="link-normal"
         routerLinkActive="active"
         [routerLink]="goTo('final-products')"
         i18n="@@productLabel.sideTitle.finalProducts">
        Final products
      </a>
    </li>
    <li *ngIf="isSystemAdmin">
      <div class="spacer"></div>
      <a class="link-error">
        <div (click)="deleteCurrentProduct()" [class.side-menu-item-disabled]="changed" i18n="@@productLabel.sideTitle.archiveProduct">
          Archive product
        </div>
      </a>
    </li>
    <li style="height: 32px;"></li>
  </ul>

</div>

<button [routerLink]="['/product-labels', this.productId, 'labels']" routerLinkActive #labelsActive="routerLinkActive" style="display: none"></button>
