@import 'src/_variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.img-view {
    height: 100%;
    width: 100%;
}

.sign-in-image {
    margin-top: -4px;
    z-index: 1;
    border: 3px solid $white;
}
