<div class="d-lg-none">
  <header id="main-header">
    <nav class="navbar navbar-light bg-white">
      <a class="navbar-brand white" [routerLink]="['/']">
        <img src="/assets/landing-page/landing-inatrace-logo.png" alt="Logo image">
      </a>
      <button type="button" class="navbar-toggler" (click)="toggleNavButtons()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div *ngIf="showNavButtons$.value" class="navbar-collapse" id="headercontet">
        <ul class="navbar-nav mr-auto">
          <ng-container *ngIf="userProfile">
            <li class="nav-item font-italic">
              <app-user-box></app-user-box>
            </li>
          </ng-container>
          <ng-container *ngIf="!userProfile">
            <li class="nav-item font-italic">
              <a class="nav-link" [routerLink]="['/','login']">Login</a>
            </li>
          </ng-container>
        </ul>
      </div>
    </nav>
  </header>
</div>
<div class="d-none d-lg-block">
  <header id="main-header-overlay">
    <div class="mainbar-wrap">
      <nav class="navbar navbar-light">
        <a class="navbar-brand white" [routerLink]="['/']">
          <img src="/assets/landing-page/landing-inatrace-logo.png" alt="Logo image">
        </a>
        <form class="form-inline">
          <ng-container *ngIf="userProfile">
            <app-user-box></app-user-box>
          </ng-container>
          <ng-container *ngIf="!userProfile">
            <a class="btn btn-lg" [routerLink]="['/','login']">Login</a>
          </ng-container>
        </form>
      </nav>
    </div>
  </header>
</div>
