<div *ngIf="showSplitter" class="af-b2c-splitter"></div>

<div class="af-b2c-social-wrapper">
  <div class="af-b2c-social" *ngIf="facebook">
    <a role="button" href="{{ facebook }}" target="_blank">
      <span class="af-b2c-social-shape af-b2c-social-shape--fb"></span>
    </a>
  </div>
  <div class="af-b2c-social" *ngIf="twitter">
    <a role="button" href="{{ twitter }}" target="_blank">
      <span class="af-b2c-social-shape af-b2c-social-shape--twitter"></span>
    </a>
  </div>
  <div class="af-b2c-social" *ngIf="instagram">
    <a role="button" href="{{ instagram }}" target="_blank">
      <span class="af-b2c-social-shape af-b2c-social-shape--instagram"></span>
    </a>
  </div>
  <div class="af-b2c-social" *ngIf="youtube">
    <a role="button" href="{{ youtube }}" target="_blank">
      <span class="af-b2c-social-shape af-b2c-social-shape--youtube"></span>
    </a>
  </div>
  <div class="af-b2c-social" *ngIf="other">
    <a role="button" href="{{ other }}" target="_blank">
      <span class="af-b2c-social-shape af-b2c-social-shape--other"></span>
    </a>
  </div>
</div>

<footer class="af-b2c-footer">
  <div class="d-flex justify-content-around af-b2c-footer-inside">
    <div i18n="@@front-page.footer.termsOfUse" (click)="goTo('terms-of-use')">Terms of Use</div>
    <div i18n="@@front-page.footer.privacyPolicy" (click)="goTo('privacy-policy')">Privacy Policy</div>
  </div>
  <div class="">
    <div i18n="@@front-page.footer.copyright">Copyright © 2020 INATrace.</div>
    <div i18n="@@front-page.footer.allrightsreserved">All Rights Reserved.</div>
  </div>
</footer>
