<app-authorised-layout>
    <app-system-left-panel
            i18n="@@companyDetailTranslate.navTitle"
            title="System">
    </app-system-left-panel>

    <div class="main"
         *ngIf="prepared">

        <div class="af-form-wrapper">

            <!-- Top row -->
            <div class="af-form-row">
                <div class="af-form-block--c12">
                    <div class="title-page content-element--title">{{title}}</div>
                </div>
            </div>
            <!-- END: Top row -->

            <div class="af-form-row">

                <div class="af-form-block--c6">

                    <!-- Basic information -->

                    <h2 i18n="@@companyDetailProcessingActions.section0.translations">Basic information</h2>
                    <div class="af-form-element">

                        <div class="spacer-title-section"></div>

                        <!-- Action type-->
                        <single-choice
                                label="Action type"
                                i18n-label="@@companyDetailProcessingActions.singleChoice.type.label"
                                [formControlInput]="form.get('type')"
                                [codebookService]="codebookProcessingTransaction"
                                [isInvalidChoice]="submitted && form.get('type').invalid">
<!--                                [organizationId]="organizationId"-->
                            <ng-container *ngIf="submitted">
                                <div *ngIf="form.get('type').errors as errors" class="sc-invalid-feedback">
                                    <div *ngIf="errors.required" i18n="@@companyDetailProcessingActions.singleChoice.type.error.required">
                                        Type is required
                                    </div>
                                </div>
                            </ng-container>
                        </single-choice>

                        <ng-container *ngIf="form.get('type').value === 'SHIPMENT' || form.get('type').value === 'TRANSFER'">
                            <single-choice
                                    label="Select semi-product"
                                    i18n-label="@@companyDetailProcessingActions.singleChoice.semiProduct.label"
                                    [formControlInput]="form.get('inputSemiProduct')"
                                    [codebookService]="activeSemiProductService"
                                    [isInvalidChoice]="submitted && form.get('inputSemiProduct').invalid">
<!--                                    [organizationId]="organizationId"-->
                                <ng-container *ngIf="submitted">
                                    <div *ngIf="form.get('inputSemiProduct').errors as errors" class="sc-invalid-feedback">
                                        <div *ngIf="errors.required" i18n="@@companyDetailProcessingActions.singleChoice.semiProduct.error.required">
                                            Semi-product is required
                                        </div>
                                    </div>
                                </ng-container>
                            </single-choice>
                        </ng-container>

                        <ng-container *ngIf="form.get('type').value === 'PROCESSING'">
                            <single-choice
                                    label="Select input semi-product"
                                    i18n-label="@@companyDetailProcessingActions.singleChoice.inputSemiProduct.label"
                                    [formControlInput]="form.get('inputSemiProduct')"
                                    [codebookService]="activeSemiProductService"
                                    [isInvalidChoice]="submitted && form.get('inputSemiProduct').invalid">
<!--                                    [organizationId]="organizationId"-->
                                <ng-container *ngIf="submitted">
                                    <div *ngIf="form.get('inputSemiProduct').errors as errors" class="sc-invalid-feedback">
                                        <div *ngIf="errors.required" i18n="@@companyDetailProcessingActions.singleChoice.inputSemiProduct.error.required">
                                            Input semi-product is required
                                        </div>
                                    </div>
                                </ng-container>
                            </single-choice>

                            <single-choice
                                    label="Select output semi-product"
                                    i18n-label="@@companyDetailProcessingActions.outputSemiProduct.label"
                                    [formControlInput]="form.get('outputSemiProduct')"
                                    [codebookService]="activeSemiProductService"
                                    [isInvalidChoice]="submitted && form.get('outputSemiProduct').invalid">
<!--                                    [organizationId]="organizationId"-->
                                <ng-container *ngIf="submitted">
                                    <div *ngIf="form.get('outputSemiProduct').errors as errors" class="sc-invalid-feedback">
                                        <div *ngIf="errors.required" i18n="@@companyDetailProcessingActions.singleChoice.outputSemiProduct.error.required">
                                            Output semi-product is required
                                        </div>
                                    </div>
                                </ng-container>
                            </single-choice>

                            <div class="af-row" *ngIf="form.get('type').value === 'PROCESSING'">
                                <div class="af-c6">
                                    <single-choice
                                            label="Repacked outputs"
                                            i18n-label="@@companyDetailProcessingActions.singleChoice.repackedOutputs.label"
                                            [formControlInput]="form.get('repackedOutputs')"
                                            [enumFormatter]="repackedFormatter"
                                            [booleanTrue]="booleanTrue"
                                            [booleanFalse]="booleanFalse"
                                            (onChange)="repackedOutputsSet($event)">
                                    </single-choice>
                                </div>
                                <div class="af-c6 center">
                                    <textinput
                                            [label]="maxOutputQuantityLabel"
                                            placeholder="Enter max output quantity"
                                            i18n-label="@@companyDetailProcessingActions.textInput.maxOutputWeight.label"
                                            i18n-placeholder="@@companyDetailProcessingActions.textInput.maxOutputWeight.placeholder"
                                            type="number"
                                            step="0.01"
                                            [form]="form.get('maxOutputWeight')"
                                            [isInvalid]="submitted && form.get('maxOutputWeight').invalid">
                                        <ng-container *ngIf="submitted">
                                            <div *ngIf="form.get('maxOutputWeight').errors as errors" class="sc-invalid-feedback">
                                                <div *ngIf="errors.required" i18n-label="@@companyDetailProcessingActions.textInput.maxOutputWeight.error">
                                                    <span>
                                                      Max output weight is required
                                                    </span>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </textinput>
                                </div>
                            </div>
                        </ng-container>

                        <textinput
                                label="Internal lot name prefix"
                                placeholder="Enter prefix"
                                i18n-label="@@companyDetailProcessingActions.textInput.prefix.label"
                                i18n-placeholder="@@companyDetailProcessingActions.textInput.prefix.helpText"
                                [form]="form.get('prefix')"
                                [isInvalid]="submitted && form.get('prefix').invalid"
                                style="width: 100%">
                            <ng-container *ngIf="submitted">
                                <div *ngIf="form.get('prefix').errors as errors" class="sc-invalid-feedback">
                                    <div *ngIf="errors.required" i18n-label="@@companyDetailProcessingActions.textInput.prefix.error">
                                        <span>
                                          Alias for the process is required
                                        </span>
                                    </div>
                                </div>
                            </ng-container>
                        </textinput>
                    </div>


                    <!-- END: Basic information -->
                    <!-- Translations -->

                    <h2 i18n="@@companyDetailProcessingActions.section1.translations">Translations</h2>
                    <div class="af-form-element">

                        <small i18n="@@companyDetailProcessingActions.hint.translations">
                            Specify name in English and add translations for all used languages.
                        </small>

                        <div class="spacer-title-section"></div>

                        <div class="af-row">
                            <div class="af-c12">
                                <div class="d-flex af-translation-language">
                                    <div (click)="selectLanguage('EN')"
                                         [ngClass]="selectedLanguage === 'EN' ? 'af-translation-language--selected' : ''">
                                        <img src="../../../../assets/icons/icon-flag--united-kingdom.svg" alt="Select EN lang">
                                        <span>EN</span>
                                    </div>
                                    <div (click)="selectLanguage('DE')"
                                         [ngClass]="selectedLanguage === 'DE' ? 'af-translation-language--selected' : ''">
                                        <img src="../../../../assets/icons/icon-flag--germany.svg" alt="Select DE lang">
                                        <span>DE</span>
                                    </div>
                                    <div (click)="selectLanguage('RW')"
                                         [ngClass]="selectedLanguage === 'RW' ? 'af-translation-language--selected' : ''">
                                        <img src="../../../../assets/icons/icon-flag--rwanda.svg" alt="Select RW lang">
                                        <span>RW</span>
                                    </div>
                                    <div (click)="selectLanguage('ES')"
                                         [ngClass]="selectedLanguage === 'ES' ? 'af-translation-language--selected' : ''">
                                        <img src="../../../../assets/icons/icon-flag--spain.svg" alt="Select ES lang">
                                        <span>ES</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="spacer-title-section"></div>

                        <textinput
                                label="Name of process"
                                placeholder="Enter name"
                                i18n-label="@@companyDetailProcessingActions.textInput.name.label"
                                i18n-placeholder="@@companyDetailProcessingActions.textInput.name.helpText"
                                [form]="form.get('name')"
                                [isInvalid]="submitted && form.get('name').invalid"
                                style="width: 100%">
                            <ng-container *ngIf="submitted">
                                <div *ngIf="form.get('name').errors as errors" class="sc-invalid-feedback">
                                    <div *ngIf="errors.required" i18n-label="@@companyDetailProcessingActions.textInput.name.error">
                                        <span>
                                          Name of process is required
                                        </span>
                                    </div>
                                </div>
                            </ng-container>
                        </textinput>

                        <textinput
                                label="Description"
                                helpText="Enter short processing action description."
                                i18n-label="@@companyDetailProcessingActions.textInput.description.label"
                                i18n-helpText="@@companyDetailProcessingActions.textInput.description.helpText"
                                [form]="form.get('description')"
                                [textarea]="true"
                                [isInvalid]="submitted && form.get('description').invalid"
                                style="width: 100%">
                            <ng-container *ngIf="submitted">
                                <div *ngIf="form.get('description').errors as errors" class="sc-invalid-feedback">
                                    <div *ngIf="errors.required" i18n-label="@@companyDetailProcessingActions.textInput.description.error">
                                        <span>
                                          Description is required
                                        </span>
                                    </div>
                                </div>
                            </ng-container>
                        </textinput>

                        <textinput
                                label="Public timeline label"
                                placeholder="Enter timeline label"
                                i18n-label="@@companyDetailProcessingActions.textInput.publicTimelineLabel.label"
                                i18n-placeholder="@@companyDetailProcessingActions.textInput.publicTimelineLabel.helpText"
                                [form]="form.get('publicTimelineLabel')"
                                [isInvalid]="submitted && form.get('publicTimelineLabel').invalid"
                                style="width: 100%">
                            <ng-container *ngIf="submitted">
                                <div *ngIf="form.get('publicTimelineLabel').errors as errors" class="sc-invalid-feedback">
                                    <div *ngIf="errors.required" i18n-label="@@companyDetailProcessingActions.textInput.publicTimelineLabel.error">
                                        <span>
                                          Public timeline label
                                        </span>
                                    </div>
                                </div>
                            </ng-container>
                        </textinput>

                    </div>
                </div>

                <div class="af-form-block--c6">

                     <!-- Processing evidence fields -->

                    <h2 i18n="@@companyDetailProcessingActions.section2.translations">Processing Evidence Fields</h2>
                    <div class="af-form-element">

                        <small i18n="@@companyDetailProcessingActions.hint.processingEvidenceFields">
                            Add processing evidence fields that have to be specified after this processing action has been performed.
                        </small>

                        <div class="spacer-title-section"></div>

                        <div class="search-field">
                            <textinput
                                    [form]="evidenceFieldInputForm"
                                    placeholder="Select evidence field..."
                                    i18n-placeholder="@@companyDetailProcessingActions.textInput.search-field.processingEvidenceFields.placeholder"
                                    [codebookService]="processingEvidenceFieldsService"
                                    [resultFormatter]="fieldResultFormatter"
                                    [inputFormatter]="fieldInputFormatter"
                                    (itemMatching)="addSelectedEvidenceField($event)">
                            </textinput>
                        </div>

                        <div class="spacer-title-section"></div>

                        <ng-container *ngIf="this.form.get('requiredEvidenceFields').value.length > 0">
                            <div class="af-row user-line pl-3 pr-3 mb-1">
                                <div class="af-c5"></div>
                                <div>
                                    <small i18n="@@companyDetailProcessingActions.hint.processingEvidenceFields.checkBox">
                                        mandatory / required on quote
                                    </small>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="this.form.get('requiredEvidenceFields')">
                            <div *ngFor="let field of this.form.get('requiredEvidenceFields').value; index as i">
                                <div class="af-row user-line pl-3 pr-3 mb-1">
                                    <div class="af-c6 d-flex align-items-center">{{field?.label}}</div>

                                    <div class="af-c5 d-flex align-items-center">
                                        <checkbox-input
                                                [noBottomMargin]="true"
                                                [inTable]="true"
                                                (onClick)="cbSelectedSP(field, i, 'mandatory')"
                                                [checked]="field.mandatory">
                                        </checkbox-input>
                                        <!--                                        <ng-container class="af-row" *ngIf="this.transactionType === 'SHIPMENT'">-->
                                        <checkbox-input
                                                [noBottomMargin]="true"
                                                class="ml-1"
                                                [inTable]="true"
                                                (onClick)="cbSelectedSP(field, i, 'quote')"
                                                [checked]="field.requiredOnQuote">
                                        </checkbox-input>

                                        <!--                                        </ng-container>-->
                                        <!-- <div class="ml-1" i18n="@@productLabelProcessingAction.checkbox.mandatory">Mandatory</div> -->
                                    </div>
                                    <div class="af-c1 d-flex align-items-center" (click)="removeEvidenceField(field)">
                                        <fa-icon
                                                class="del-icon"
                                                [icon]="faTimes"></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <!-- END: Processing evidence fields -->
                    <!-- Processing evidence documents -->

                    <h2 i18n="@@companyDetailProcessingActions.section3.translations">Processing Evidence Documents</h2>
                    <div class="af-form-element">

                        <small i18n="@@companyDetailProcessingActions.hint.processingEvidenceDocuments">
                            Add processing evidence documents that have to be specified after this processing action has been performed.
                        </small>

                        <div class="spacer-title-section"></div>

                        <div class="search-field">
                            <textinput
                                    [form]="evidenceDocInputForm"
                                    placeholder="Select document type..."
                                    i18n-placeholder="@@companyDetailProcessingActions.textInput.search-field.processingEvidenceDocuments.placeholder"
                                    [codebookService]="processingEvidenceTypeService"
                                    [resultFormatter]="docResultFormatter"
                                    [inputFormatter]="docInputFormatter"
                                    (itemMatching)="addSelectedEvidenceDoc($event)">
                            </textinput>
                        </div>

                        <div class="spacer-title-section"></div>

                        <ng-container *ngIf="this.form.get('requiredDocumentTypes').value.length > 0">
                            <div class="af-row user-line pl-3 pr-3 mb-1">
                                <div class="af-c3"></div>
                                <div>
                                    <small i18n="@@companyDetailProcessingActions.hint.processingEvidenceDocuments.checkBox">
                                        mandatory / required on quote / required in a group on quote
                                    </small>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="this.form.get('requiredDocumentTypes')">
                            <div *ngFor="let doc of this.form.get('requiredDocumentTypes').value; index as i">
                                <div class="af-row user-line pl-3 pr-3 mb-1">
                                    <div class="af-c6 d-flex align-items-center">{{doc?.label}}</div>

                                    <div class="af-c5 d-flex align-items-center">
                                        <checkbox-input
                                                [noBottomMargin]="true"
                                                [inTable]="true"
                                                (onClick)="cbSelectedSP(doc, i, 'mandatory')"
                                                [checked]="doc.mandatory">
                                        </checkbox-input>
                                        <!--                                        <ng-container class="af-row" *ngIf="this.transactionType === 'SHIPMENT'">-->
                                        <checkbox-input
                                                [noBottomMargin]="true"
                                                class="ml-1"
                                                [inTable]="true"
                                                (onClick)="cbSelectedSP(doc, i, 'quote')"
                                                [checked]="doc.requiredOnQuote">
                                        </checkbox-input>
                                        <checkbox-input
                                                class="ml-1"
                                                [noBottomMargin]="true"
                                                [inTable]="true"
                                                (onClick)="groupDecided(doc)"
                                                [checked]="!!doc.requiredOneOfGroupIdForQuote">
                                        </checkbox-input>

                                        <input *ngIf="doc.requiredOneOfGroupIdForQuote != null"
                                               class="form-control text-input labelPlaceholder ml-3"
                                               style="max-width: 5rem;"
                                               [ngModel]="doc.requiredOneOfGroupIdForQuote"
                                               (ngModelChange)="changeRequiredOneOf($event, doc)">
                                        <!--                                        </ng-container>-->
                                        <!-- <div class="ml-1" i18n="@@productLabelProcessingAction.checkbox.mandatory">Mandatory</div> -->
                                    </div>
                                    <div class="af-c1 d-flex align-items-center" (click)="removeEvidenceDoc(doc)">
                                        <fa-icon
                                                class="del-icon"
                                                [icon]="faTimes"></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <!-- END: Processing evidence documents -->
                </div>

            </div>

            <!-- Bottom row -->
            <div class="af-form-row">
                <div class="af-form-block--c12">
                    <div class="af-bottom-buttons">
                        <button class="btn mr-2"
                                type="button"
                                i18n="@@companyDetailTranslate.bottom-buttons.save"
                                (click)="saveProcessingAction()"
                                [disabled]="!this.form.valid">
                            <span>Save</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- END: Bottom row -->

        </div>
    </div>
</app-authorised-layout>




