// @import 'src/_variables';

// .edit-link {
//     color: $primary;
//     cursor: pointer;
// }

// .no-resize {
//     resize: none;
// }

// .fake-textarea {
//     // max-height: 8em;
//     min-height: 8em;
//     overflow: hidden;
//     width: 100%;
//     padding: 0.375rem 0.75rem;
//     background-color: #fff;
//     background-clip: padding-box;
//     border: 1px solid $gray-semi;
//     border-radius: 0.25rem;
//     margin: 0;
//   }

// .dropdown-menu-warning .dropdown-menu {
//     background-color: $warning !important;
// }

// .dropdown-header {
//     color: $warning !important;
//     margin-left: -1.5rem;
//     font-size: inherit;
//     font-weight: bold;
// }

// .no-bottom-margin {
//   margin-bottom: 0;
// }


.icon-inside {
      position: absolute;
      right: 10px;
      top: calc(50% - 12px);
      pointer-events: none;
      font-size: 1.125rem;
      color: #c4c3c3;
      z-index: 3;
}

.prefix-or-suffix-input-wrapper {
      display: flex;
      background-color: #FFFFFF;
      border: 1px solid #CED4DA;
      border-radius: 5px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:focus-within {
            border-color: #bfe5ec;
            box-shadow: 0 0 0 0.2rem rgb(93 188 207 / 25%);
      }
}

.prefix-or-suffix-text-input {
      border: none;
      transition: none;

      &:focus {
            box-shadow: none;
      }
}

.prefix, .suffix {
      position: relative;
      display: flex;
      align-items: center;
      color: #7B7B93;
}

.prefix {
      padding-left: 8px;
}

.suffix {
      padding-right: 8px;
}
