<app-authorised-layout>
  <ng-container *ngIf="history$ | async as history">
    <ng-container *ngIf="readRootStockOrder(history.items) as stockOrder">

      <div class="af-form-wrapper">

        <div class="af-form-row">
          <div class="af-form-block--c12">

            <div class="title-page content-element--title d-flex justify-content-between">
              <div i18n="@@orderHistoryView.title.orderDetails">Order details</div>
              <button class="btn btn-solid round btn-table-new content-element--btn" (click)="edit(stockOrder)" i18n="@@orderHistoryView.button.edit">
                <span>Edit</span>
              </button>

            </div>

          </div>
        </div>

        <div class="af-form-row">

          <div class="af-form-block--c6">

            <div>
              <h2 i18n="@@orderHistoryView.formTitle.basicInformation">Basic information</h2>
            </div>

            <div class="af-form-element">

              <table class="af-table af-table--200 table-striped">
                <tbody>

                <tr>
                  <th i18n="@@orderHistoryView.tableCol.internalLotNumber">Internal lot name</th>
                  <td>{{stockOrder.internalLotNumber}}</td>
                </tr>
                <tr>
                  <th i18n="@@orderHistoryView.tableCol.facilityName">Facility</th>
                  <td>{{stockOrder.facility?.name}} ({{stockOrder.company?.name}})</td>
                </tr>
                <tr>
                  <th i18n="@@orderHistoryView.tableCol.semiProduct">Semi-product</th>
                  <td>{{stockOrder.semiProduct?.name}}</td>
                </tr>
                </tbody>
              </table>

              <table class="af-table af-table--200 table-striped af-table--divider">
                <tbody>
                <tr>
                  <th>Total</th>
                  <td>{{stockOrder.totalQuantity}} {{stockOrder.measureUnitType?.label}} </td>
                </tr>
                <tr>
                  <th>Fullfiled</th>
                  <td>{{stockOrder.fulfilledQuantity}} {{stockOrder.measureUnitType?.label}}</td>
                </tr>
                <tr>
                  <th>Available quantity</th>
                  <td>{{stockOrder.availableQuantity}} {{stockOrder.measureUnitType?.label}} </td>
                </tr>
                </tbody>
              </table>

              <table class="af-table af-table--200 table-striped af-table--divider">
                <tbody>
                <tr>
                  <th i18n="@@orderHistoryView.tableCol.created">Created</th>
                  <td>{{stockOrder.creationTimestamp | date: 'yyyy-MM-dd hh:mm'}}</td>
                </tr>
                <tr>
                  <th i18n="@@orderHistoryView.tableCol.lastChange">Last change</th>
                  <td>{{stockOrder.updateTimestamp | date: 'yyyy-MM-dd hh:mm'}}</td>
                </tr>
                <tr>
                  <th i18n="@@orderHistoryView.tableCol.productionDate">Production date</th>
                  <td>{{stockOrder.productionDate | date: 'yyyy-MM-dd'}}</td>
                </tr>
                <tr>
                  <th i18n="@@orderHistoryView.tableCol.comment">Comment</th>
                  <td>{{stockOrder.comments || '-'}}</td>
                </tr>

                </tbody>
              </table>

            </div>

          </div>


          <div class="af-form-block--c6">

            <div>
              <h2 i18n="@@orderHistoryView.formTitle.processingInformation">Processing information</h2>
            </div>

            <div class="af-form-element">

              <table class="af-table af-table--200 table-striped">
                <tbody>
                <tr>
                  <th i18n="@@orderHistoryView.tableCol.orderType">Order type</th>
                  <td>{{stockOrder.orderType | formatStockOrderType}}</td>
                </tr>

                <tr *ngIf="rootHistory.processingOrder?.processingAction">
                  <th i18n="@@orderHistoryView.tableCol.processingAction">Processing action</th>
                  <td>{{rootHistory.processingOrder?.processingAction?.name}} ({{rootHistory.processingOrder?.processingAction?.type | formatProcessingActionType}})</td>
                </tr>

                <tr *ngIf="rootHistory.processingOrder && rootHistory.processingOrder.processingAction?.type === 'PROCESSING'">
                  <th i18n="@@orderHistoryView.tableCol.sibilingOrders">Sibling orders</th>
                  <td>
                    <ng-container>
                      {{rootHistory.processingOrder?.processingAction?.outputSemiProduct?.name}}
                      <ul style="margin-bottom: 0;">
                        <ng-container *ngFor="let order of rootHistory.processingOrder?.targetStockOrders">
                          <li *ngIf="isThisOrder(stockOrder, order)"><a class="ab-edit-link" (click)="goToSibiling(order)">{{order.totalQuantity}} {{order.measureUnitType?.label}}</a><span> (this order)</span></li>
                          <li *ngIf="!isThisOrder(stockOrder, order)"><a class="ab-edit-link" (click)="goToSibiling(order)">{{order.totalQuantity}} {{order.measureUnitType?.label}}</a></li>
                        </ng-container>
                      </ul>
                    </ng-container>
                  </td>
                </tr>

                <!-- TODO: add trigger orders -->
<!--                <tr *ngIf="stockOrder.triggerOrders && stockOrder.triggerOrders.length> 0">-->
<!--                  <th i18n="@@orderHistoryView.tableCol.triggerOrders">Trigger orders for this order</th>-->
<!--                  <td>-->
<!--                    <ng-container>-->
<!--                      <ul style="margin-bottom: 0;">-->
<!--                        <ng-container *ngFor="let order of stockOrder.triggerOrders">-->
<!--                          <li><a class="ab-edit-link" (click)="goToSibiling(order)">{{order.totalQuantity}} {{order.measurementUnitType?.label}}</a></li>-->
<!--                        </ng-container>-->
<!--                      </ul>-->
<!--                    </ng-container>-->
<!--                  </td>-->
<!--                </tr>-->

<!--                <tr *ngIf="stockOrder.triggeredOrders && stockOrder.triggeredOrders.length> 0">-->
<!--                  <th i18n="@@orderHistoryView.tableCol.triggeredOrders">Triggered orders</th>-->
<!--                  <td>-->
<!--                    <ng-container>-->
<!--                      <ul style="margin-bottom: 0;">-->
<!--                        <ng-container *ngFor="let order of stockOrder.triggeredOrders">-->
<!--                          <li><a class="ab-edit-link" (click)="goToSibiling(order)">{{order.totalQuantity}} {{order.measurementUnitType?.label}}</a></li>-->
<!--                        </ng-container>-->
<!--                      </ul>-->
<!--                    </ng-container>-->
<!--                  </td>-->
<!--                </tr>-->

                <ng-container *ngIf="stockOrder.purchaseOrder">
                  <tr>
                    <th i18n="@@orderHistoryView.tableCol.semiProductName">Farmer</th>
                    <td>{{stockOrder.producerUserCustomer?.name}} {{stockOrder.producerUserCustomer?.surname}} {{stockOrder.productionLocation | json}}</td>
                  </tr>
                  <tr>
                    <th i18n="@@orderHistoryView.tableCol.farmerRepresentative">Farmer representative</th>
                    <td>{{stockOrder.representativeOfProducerUserCustomer?.name}} {{stockOrder.representativeOfProducerUserCustomer?.surname}}</td>
                  </tr>
                  <tr>
                    <th i18n="@@orderHistoryView.tableCol.costPaidBalance">Cost / Paid / Balance</th>
                    <td>{{stockOrder.cost}} / {{stockOrder.paid || 0}} / {{stockOrder.balance}} {{stockOrder.currency}}</td>
                  </tr>
                </ng-container>

                </tbody>
              </table>



              <div class="af-row af-table--divider">

                <div class="af-c6">
                  <table class="af-table af-table--75" *ngIf="!stockOrder.purchaseOrder" style="height: 100%;">
                    <tbody>
                    <tr *ngIf="!stockOrder.purchaseOrder">
                      <th i18n="@@orderHistoryView.tableCol.inputs">Inputs</th>
                      <td>
                        {{rootHistory.processingOrder?.processingAction?.inputSemiProduct?.name}}
                        <ul *ngIf="rootHistory.processingOrder?.inputTransactions && rootHistory.processingOrder?.inputTransactions.length> 0" style="margin-bottom: 0;">
                          <li *ngFor="let tx of rootHistory.processingOrder?.inputTransactions">
                            <a [ngClass]="transactionColor(tx)" (click)="goToInput(tx)">{{tx.inputQuantity}} {{tx.inputMeasureUnitType?.label}}</a>
                            <div *ngIf="tx.status === 'CANCELED'" class="canceled">{{tx.rejectComment}}</div>

                          </li>
                        </ul>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <div class="af-c6">
                  <table class="af-table af-table--75" style="height: 100%;">
                    <tbody>
                    <tr>
                      <th i18n="@@orderHistoryView.tableCol.outputs">Outputs</th>
                      <td>
                        {{rootHistory.processingOrder?.processingAction?.outputSemiProduct?.name}}
                        <ul *ngIf="rootHistory.processingOrder?.outputTransactions && rootHistory.processingOrder?.outputTransactions.length> 0" style="margin-bottom: 0;">
                          <li *ngFor="let tx of rootHistory.processingOrder?.outputTransactions">
                            <a [ngClass]="transactionColor(tx)" (click)="goToOutput(tx)">{{tx.inputQuantity}} {{tx.inputMeasureUnitType?.label}}</a>
                            <div *ngIf="tx.status === 'CANCELED'" class="canceled">{{tx.rejectComment}}</div>
                          </li>
                        </ul>

                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="af-row">
                <div class="af-c6">
                  <div *ngIf="qrCodeString(stockOrder)">
                    <div class="d-flex justify-content-start mt-2">
                      <div class="ml-3" (click)="code.select(); copyToClipboard();">
                        <qr-code [value]="qrCodeString(stockOrder)" [size]="qrCodeSize"></qr-code>
                      </div>
                      <input #code value="{{qrCodeString(stockOrder)}}" class="offscreen">
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>


        <div class="af-form-row">
          <span i18n="@@orderHistoryView.history.legend">Legend:</span>
          <span i18n="@@orderHistoryView.history.requiredPresent" class="required-present ml-1">required in process - present</span>,
          <span i18n="@@orderHistoryView.history.requiredMissing" class="required-missing ml-1">required in process - missing</span>,
          <span i18n="@@orderHistoryView.history.additionalDocument" class="non-required-present ml-1">additional document in process</span>,
          <span i18n="@@orderHistoryView.history.requiredOnQuotePresent" class="ml-1">
            <fa-icon
              class="quote-required-present"
              [icon]="faCheckCircle">
            </fa-icon>
            required on quote - present</span>,
          <span i18n="@@orderHistoryView.history.requiredOnQuoteMissing" class="ml-1">
            <fa-icon
              class="quote-required-missing"
              [icon]="faExclamationCircle">
            </fa-icon>
            required on quote - missing</span>,
          <span i18n="@@orderHistoryView.history.requiredOnQuoteOneOfPresent" class="ml-1">
            <span
              class="quote-required-one-of quote-required-one-of-present ml-1">G1
            </span>

            one of required documents on quote in group G1 present</span>,
          <span i18n="@@orderHistoryView.history.requiredOnQuoteOneOfMissing" class="ml-1">
            <span
              class="quote-required-one-of quote-required-one-of-missing ml-1">G1
            </span>

            all of required documents on quote in group G1 missing</span>
        </div>
        <div class="af-form-row">

          <div class="af-form-block--c6">

            <div>
              <h2 i18n="@@orderHistoryView.title.history">History</h2>
            </div>

            <div class="af-form-element" style="background-color: inherit;">

              <ng-container *ngIf="history">

                <ng-container *ngFor="let aggregate of history.items; let i= index; let last= last">
                  <div class="af-timeline-box" [class.last-box]="last">
                    <h4 class="af-timeline-box-subtitle">
                      <span *ngIf="processingCreationDate(aggregate) as dateOfCreation">{{dateOfCreation | date: 'yyyy-MM-dd hh:mm'}} - </span>{{processingOrderName(aggregate)}}

                    </h4>

                    <ul>
                      <ng-container *ngFor="let agg of aggregate.aggregations">
                        <li *ngIf="agg.stockOrder as oneStockOrder">
                          <a class="ab-edit-link" [class.root-order]="isRoot(stockOrder, oneStockOrder)"
                             (click)="goToOrderView(oneStockOrder)">
                            {{oneStockOrder.creationTimestamp | date: 'yyyy-MM-dd hh:mm'}} @ {{oneStockOrder.facility?.name}} : {{oneStockOrder.internalLotNumber || oneStockOrder.identifier }} - {{oneStockOrder.totalQuantity}} {{oneStockOrder.measureUnitType?.label}}
                            <span *ngIf="isRoot(stockOrder, oneStockOrder)">&nbsp;(<span i18n="@@orderHistoryView.thisOrder.notice">this order</span>)</span>
                          </a>

                          <ul>

                            <!-- TODO: add fields and docs -->
<!--                            <ng-container *ngFor="let field of agg.fields">-->
<!--                              <li><app-field-or-doc-info [field]="field"></app-field-or-doc-info></li>-->
<!--                            </ng-container>-->
<!--                            <ng-container *ngFor="let doc of agg.documents">-->
<!--                              <li><app-field-or-doc-info [document]="doc"></app-field-or-doc-info></li>-->
<!--                            </ng-container>-->
                          </ul>
                        </li>
                      </ng-container>
                    </ul>

                    <div class="af-timeline-bullet"></div>
                  </div>
                </ng-container>
              </ng-container>

            </div>
          </div>


        </div>
      </div>
    </ng-container>
  </ng-container>
</app-authorised-layout>
