<form class="p-3 bg-white card-border-like-textfield">
        <div class="subform-table">
            <div class="subform-content">
                <ng-content select="subform-form"></ng-content>
            </div>
            <div class="mini-button-media-align">
                    <ng-content select="subform-mini-buttons"></ng-content>
            </div>
        </div>
</form>




<!-- <form class="p-3 bg-light card-border-like-textfield">
        <div class="row">
            <div class="col-md-12 col-lg-9 col-xl-10">
                <ng-content select="subform-form"></ng-content>
            </div>
            <div class="col-md-0 col-lg-3 col-xl-2 mini-button-media-align">
                    <ng-content select="subform-mini-buttons"></ng-content>
            </div>
        </div>
</form> -->
