<!-- <div class="container container--bare" >
  <div class="row" style="margin-top: 30px;">

    <div class="col-md-6 col-lg-4 col--bare">

XXXX

    </div>
  </div>
</div> -->


<div class="af-docs" *ngIf="mode === 'big'" (click)="navigateToStockOrder()" style="width: 200px">
  <div class="af-docs-section">

    <div class="af-docs-aside">
      <div class="af-docs-icon" (click)="onDownload(); $event.stopPropagation()">
        <span class="af-docs-icon-shape af-docs-icon-shape--doc"
          [class.af-card-file-present]="isFilePresent()"
          [class.af-card-file-missing]="!isFilePresent()"></span>
      </div>
    </div>

    <div class='af-docs-content'>
      <div class="af-docs-dots">
        <span class="af-docs-dots-shape af-docs-dots-shape--dots"></span>
      </div>
      <span class="af-docs-title">{{documentType}}</span>
      <span class="af-docs-description">{{documentDate}}</span>
    </div>
  </div>
  <!-- <pre>{{report | json}}</pre> -->
</div>


<ng-container *ngIf="mode === 'folder'">
  <!-- <div class="col-md-3 col-lg-2 col--bare"> -->
  <div style="width: 36px;" (click)="onDownload()" class="hover-pointer">
    <div class="af-docs-icon">
      <span class="af-docs-icon-shape af-docs-icon-shape--doc"
        [class.af-card-file-present]="isFilePresent()"
        [class.af-card-file-missing]="!isFilePresent()"></span>
    </div>
  </div>
  <!-- </div> -->
</ng-container>



<!-- <ng-container *ngIf="false">
  <div class="container container--bare">
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-check"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-dot"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-archive"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-archive-check"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-archive-dot"></span>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-inf"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-inf-check"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-inf-dot"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-xls"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-xls-check"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-xls-dot"></span>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-img"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-img-check"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-img-dot"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-word"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-word-check"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-word-dot"></span>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-pdf"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-pdf-check"></span>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col--bare">
        <div class="af-docs-icon">
          <span class="af-docs-icon-shape af-docs-icon-shape--doc-pdf-dot"></span>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->
