
<app-authorised-layout>
  <app-product-label-left-panel-content>
  </app-product-label-left-panel-content>

  <div class="main">

    <div class="row">
      <div class="col">


        <ng-container *ngIf="blogs$ | async as blogs">

          <div class="main-inside-top content-element">
            <div class="d-flex justify-content-between content-element--row1">
              <div class="title-page content-element--title" i18n="@@productLabelKnowledgeBlog.title.knowledgeBlogs">Knowledge blogs</div>
              <button class="btn btn-round round btn-table-new content-element--btn" (click)="selectSection()" i18n="@@productLabelKnowledgeBlog.button.new">
                New
              </button>
            </div>

            <div class="d-flex justify-content-between content-element--row2">
              <div>
                <div class="sub-title-page content-element--subtitle" i18n="@@productLabelKnowledgeBlog.subTitle.listOfKnowledgeBlogs">List of knowledge blogs</div>
                <div class="counting-page content-element--counting" i18n="@@productLabelKnowledgeBlog.subTitle.showing" style="margin-top: 0px;">Showing {{showedBlogs}}/{{allBlogs}}</div>
              </div>

              <div class="d-flex align-items-top">
                <div class="d-flex align-items-center" style="margin-bottom: 1rem;" ngbDropdown placement="bottom-right" display="dynamic" container="body">
                  <div *ngIf="searchStatus && searchStatus?.value.length>0" class="d-flex filter-text" style="margin-left: 0.75rem"> Show {{searchStatus.value | lowercase}}
                    <div (click)="clearValue()" style="margin-left: 0.5rem;">
                      <fa-icon class="cursor-pointer" [icon]="faTimes" size="xs">
                      </fa-icon>
                    </div>
                  </div>

                  <button ngbDropdownToggle class="btn btn-filter" style="margin-left: 1rem;" i18n-placeholder="@@productLabelKnowledgeBlog.filter.placeholder">
                    <div class="button-icon">
                      <span class="button-icon-shape button-icon-shape--filter"></span>
                    </div>
                    <span i18n="@@list.button.filter" class="button-icon-label">Filter</span>
                  </button>


                  <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem (click)="showStatus('FAIRNESS')" i18n="@@productLabelKnowledgeBlog.filter.showFairness">Show fairness</button>
                    <button ngbDropdownItem (click)="showStatus('QUALITY')" i18n="@@productLabelKnowledgeBlog.filter.showQuality">Show quality</button>
                    <button ngbDropdownItem (click)="showStatus('PROVENANCE')" i18n="@@productLabelKnowledgeBlog.filter.showProvenance">Show provenance</button>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div class="main-inside-main">
            <table *ngIf="blogs && blogs.items && blogs.items.length> 0" class="af-table">
              <thead>
                <tr scope="col" result-sorter [sortOptions]="sortOptions" (sortByKey)="changeSort($event)"></tr>
              </thead>
              <tbody>
                <tr *ngFor="let blog of blogs.items">
                  <td scope="row" [attr.data-label]="sortOptions[0].name"><span>{{blog.title}}</span></td>
                  <td [attr.data-label]="sortOptions[1].name"><span>{{blog.date}}</span></td>
                  <td [attr.data-label]="sortOptions[2].name"><span>{{blog.type}}</span></td>
                  <td [attr.data-label]="sortOptions[3].name">
                    <span>
                    <a i18n="@@productLabelKnowledgeBlog.tableCol.edit"
                      (click)="blogDetail(blog)"
                      class="company-action"
                      [class.enabled-action]="true">
                      Edit
                    </a>
                    <!-- <a i18n="@@productLabelKnowledgeBlog.tableCol.viewPage"
                      (click)="viewPage(blog)"
                      class="company-action"
                      [class.enabled-action]="true">
                      View page
                    </a> -->
                    <!-- <a i18n="@@productLabelKnowledgeBlog.tableCol.delete"
                        (click)="deleteCollector(collector)"
                        class="company-action"
                        [class.enabled-action]="true">
                        Delete
                      </a> -->
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="blogs && blogs.items && blogs.items.length == 0" class="no-list-results" i18n="@@productLabelKnowledgeBlog.noFairnessItems">
              No items found
            </div>
          </div>
          <div [style.display]="showPagination() ? 'flex' : 'none'" class="justify-content-end">
            <ngb-pagination
              [(page)]="page"
              [pageSize]="pageSize"
              [collectionSize]="blogs.count"
              (pageChange)="onPageChange($event)"
              [maxSize]="7"
              [rotate]="true">
            </ngb-pagination>
          </div>
        </ng-container>

      </div>

    </div>
  </div>
</app-authorised-layout>
