<app-authorised-layout>

  <app-company-left-panel></app-company-left-panel>

  <div class="main" *ngIf="this.isAuthRoleToSeeMyStock">
    <div class="main-inside-top content-element">

      <div class="d-flex justify-content-between content-element--row1">
        <div class="title-page content-element--title" i18n="@@productLabelStock.title.allStockOrders">All stock orders</div>
        <div *ngIf="!isBeycoAuthorized">
          <button class="btn" type="button" (click)="getAuthCodeFromBeyco()">Authorize Beyco application</button>
        </div>
      </div>

      <!-- FACILITY SELECTION DROPDOWN -->
      <div class="af-form-row af-form-row--nomargin">
        <div class="af-form-block--c6">
          <div class="af-form-element">
            <div class="af-row">
              <div class="af-c12">
                <single-choice *ngIf="facilityCodebook"
                               label="Selected facility"
                               i18n-label="@@productLabelStockPurchaseOrdersModal.singleChoice.facilityForStockOrder"
                               [formControlInput]="facilityForStockOrderForm"
                               [codebookService]="facilityCodebook"
                               (onChange)="facilityForStockOrderChanged($event)"
                               style="min-width: 150px;">
                </single-choice>
              </div>
            </div>
          </div>
        </div>

        <div class="af-form-block--c6">
          <div *ngIf="!this.selectedFacilityId" style="max-width: 260px; font-size: 14px; color: #8788AA; line-height: 20px;" i18n="@@productLabelStock.facility.select.desc">Please select one facility to see the list of all stock orders.</div>
        </div>
      </div>

      <!-- FILTERS -->
      <div class="d-flex justify-content-between main-inside-top--row2" *ngIf="this.selectedFacilityId">
        <div>
          <div *ngIf="!showGroupView" class="sub-title-page content-element--subtitle" i18n="@@productLabelStock.subTitle.listOfOrders">List of orders</div>
          <div *ngIf="showGroupView" class="sub-title-page content-element--subtitle" i18n="@@productLabelStock.subTitle.listOfGroupedOrders">List of grouped orders</div>
          <div class="counting-page content-element--counting" i18n="@@productLabelStock.subTitle.showingOrders">Showing {{ showedOrders }}/{{ allOrders }}</div>
        </div>

        <div class="d-flex align-items-top">
          <div class="d-flex align-items-center" style="margin-bottom: 1rem;" ngbDropdown placement="bottom-right" display="dynamic" container="body">

            <div *ngIf="openBalanceOnly" class="d-flex filter-text" style="margin-left: 0.75rem" i18n="@@productLabelStock.filter.openBalanceOnly.filter">Open balance
              <div style="margin-left: 0.5rem;" (click)="setOpenBalanceOnly(false)">
                <fa-icon style="cursor: pointer;" [icon]="faTimes" size="xs"></fa-icon>
              </div>
            </div>

            <div *ngIf="purchaseOrderOnly" class="d-flex filter-text" style="margin-left: 0.75rem" i18n="@@productLabelStock.filter.purchaseOrderOnly.filter">Purchase order only
              <div style="margin-left: 0.5rem;" (click)="setPurchaseOrdersOnly(false)">
                <fa-icon style="cursor: pointer;" [icon]="faTimes" size="xs"></fa-icon>
              </div>
            </div>

            <div *ngIf="availableOnly" class="d-flex filter-text" style="margin-left: 0.75rem" i18n="@@productLabelStock.filter.availableOnly.filter">Available only
              <div style="margin-left: 0.5rem;" (click)="setAvailableOnly(false)">
                <fa-icon style="cursor: pointer;" [icon]="faTimes" size="xs"></fa-icon>
              </div>
            </div>

            <button ngbDropdownToggle class="btn btn-filter" style="margin-left: 1rem;" i18n-placeholder="@@productLabelStock.filter.placeholder">
              <div class="button-icon">
                <span class="button-icon-shape button-icon-shape--filter"></span>
              </div>
              <span i18n="@@list.button.filter" class="button-icon-label">Filter</span>
            </button>

            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem (click)="setPurchaseOrdersOnly(true)" i18n="@@productLabelStock.filter.purchaseOrderOnly.button">Purchase order only</button>
              <button ngbDropdownItem (click)="setAvailableOnly(true)" i18n="@@productLabelStock.filter.availableOnly.button">Available only</button>
            </div>

            <input class="toggle-switch-checkbox" type="checkbox" id="switch" [formControl]="groupViewControl" />
            <label class="toggle-switch-label" for="switch">Toggle</label>

            <div class="ml-2">
              <single-choice
                      [noMargin]="true"
                      i18n-label="@@productLabelStockPurchaseOrdersModal.semiProduct.label"
                      [formControlInput]="semiProductFrom"
                      [codebookService]="facilitySemiProducts">
              </single-choice>
            </div>

            <button *ngIf="isBeycoAuthorized" class="btn ml-2" type="button">Create Beyco order</button>
          </div>
        </div>
      </div>

      <!-- LIST OF STOCK ORDERS -->
      <app-stock-order-list
              *ngIf="this.selectedFacilityId && !showGroupView"
              mode="GENERAL"
              [reloadPingList$]="reloadStockOrdersPing$"
              (countAll)="onCountAllSO($event)"
              [facilityId$]="facilityIdPing$"
              (showing)="onShowSO($event)"
              [openBalanceOnly$]="openBalancePing$"
              [purchaseOrderOnly$]="purchaseOrderOnly$"
              [availableOnly$]="availableOnly$"
              [semiProductId$]="semiProductId$"
              [pageListingMode]="pageMode"
              [selectedOrders]="selectedOrders"
              (selectedIdsChanged)="selectedIdsChanged($event, 'PURCHASE')"
              [clickAddPaymentsPing$]="clickAddPaymentsPing$">
      </app-stock-order-list>

      <app-group-stock-order-list
              *ngIf="this.selectedFacilityId && showGroupView"
              [reloadPingList$]="reloadStockOrdersPing$"
              (countAll)="onCountAllSO($event)"
              [facilityId$]="facilityIdPing$"
              (showing)="onShowSO($event)"
              [openBalanceOnly$]="openBalancePing$"
              [purchaseOrderOnly$]="purchaseOrderOnly$"
              [availableOnly$]="availableOnly$"
              (selectedIdsChanged)="selectedIdsChanged($event, 'PURCHASE')"
      ></app-group-stock-order-list>

    </div>
  </div>

</app-authorised-layout>
