<main class="af-b2c-main">
    <h1 [style.color]="b2cSettings.headingColor"
        [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''"
        i18n="@@frontPage.quality.title">Quality and Certificates</h1>

    <div *ngIf="b2cSettings.graphicQuality" class="af-bgraph-wrapper">
        <div class="af-bgraph">

            <div class="af-bgraph-row">
                <div class="af-bgraph-col" style="height: 160px;">
                    <span class="af-bgraph-description" [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">
                        {{ qualityChartLabel }}
                    </span>
                </div>
                <div class="af-bgraph-col" style="height: 160px; width: 40px">
              <span class="af-bgraph-bar af-bgraph-bar--darkergray">
              </span>
                </div>
                <div class="af-bgraph-col" [style.height]="gradeHeight + 'px'">
              <span class="af-bgraph-bar" [style.background-color]="b2cSettings.primaryColor">
                <span class="af-bgraph-bar-number" [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">
                    <ng-container *ngIf="grade; else noGrade">
                        {{ grade }} points
                    </ng-container>
                    <ng-template #noGrade>
                        /
                    </ng-template>
                </span>
              </span>
                </div>
            </div>

        </div>
    </div>

    <p *ngIf="b2cSettings.graphicQuality"
       i18n="@@frontPage.quality.paragraph.points"
       [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">
        The graphic shows the quality score of this package of <strong>{{ productName }}</strong> in comparison to the minimum level of 80 points for specialty coffee according to the Specialty Coffee Association (SCA).
    </p>

    <!-- Flavour profile (retrieved from the history) -->
    <h2 [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">{{ flavourProfileTitle }}</h2>
    <p [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">{{ flavourProfile ? flavourProfile : '/' }}</p>

    <!-- Roasting profile (retrieved from the history) -->
    <h2 [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">{{ roastingProfileTitle }}</h2>
    <p [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">{{ roastingProfile ? roastingProfile : '/' }}</p>

    <!-- Companies certificates -->
    <h2 [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">{{ certificatesSectionTitle }}</h2>
    <ng-container *ngIf="certificates.length > 0; else noCertificates">
        <div *ngFor="let cert of certificates" class="af-b2c-quality-card">
            <h2>{{ cert.type | formatCompanyCerts }}</h2>
            <p *ngIf="cert.validity" i18n="@@frontPage.quality.cert.paragraph.valid">valid: {{ cert.validity }}</p>
            <p>{{ cert.description }}</p>
            <button i18n="@@frontPage.quality.cert.button.download"
                    class="af-b2c-quality-card--cta"
                    type="button"
                    (click)="downloadCert(cert.certificate)">
                <span>Download</span>
            </button>
        </div>
    </ng-container>
    <ng-template #noCertificates>
        <p [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">/</p>
    </ng-template>

</main>
