<main class="af-b2c-main">
    <h1 [style.color]="b2cSettings.headingColor" [style.font-family]="b2cSettings.font ? 'custom' : ''">Quality and Certificates</h1>

    <div class="af-bgraph-wrapper">
        <div class="af-bgraph">

            <div class="af-bgraph-row">
                <div class="af-bgraph-col" style="height: 160px;">
                    <span class="af-bgraph-description">{{label1}}</span>
                </div>
                <div class="af-bgraph-col" style="height: 160px; width: 40px">
              <span class="af-bgraph-bar af-bgraph-bar--darkergray">
              </span>
                </div>
                <div class="af-bgraph-col" [style.height]="this.gradeHeight + 'px'">
              <span class="af-bgraph-bar af-bgraph-bar--purple">
                <span class="af-bgraph-bar-number">{{this.grade}} points</span>
              </span>
                </div>
            </div>

        </div>
    </div>

    <p i18n="@@frontPage.quality.paragraph.points">The graphic shows the quality score of this package of {{ productName }} in comparison to the minimum level of 80 points for specialty coffee according to the Specialty Coffee Association (SCA).</p>

    <h2>{{subtitle}}</h2>

    <!-- <p i18n="@@frontPage.quality.paragraph.flavor">Smooth body, brown sugar, orange and honey flavor, balanced acidity, clean and sweet finish.</p> -->
    <p>{{this.flavour}}</p>

    <ng-container *ngFor="let item of rwCerts">
        <div class="af-b2c-quality-card">
            <h2>{{item.type | formatCompanyCerts}}</h2>
            <p *ngIf="item.validity" i18n="@@frontPage.quality.cert.paragraph.valid">valid: {{item.validity}}</p>
            <p>{{item.description}}</p>
            <button i18n="@@frontPage.quality.cert.button.download" class="af-b2c-quality-card--cta" type="button" (click)="downloadCert(item.certificate)"><span>Download</span></button>
        </div>
    </ng-container>


    <ng-container *ngFor="let item of coopCerts">
        <div class="af-b2c-quality-card">
            <h2>{{item.type | formatCompanyCerts}}</h2>
            <p *ngIf="item.validity" i18n="@@frontPage.quality.cert.paragraph.valid">valid: {{item.validity}}</p>
            <p>{{item.description}}</p>
            <button i18n="@@frontPage.quality.cert.button.download" class="af-b2c-quality-card--cta" type="button" (click)="downloadCert(item.certificate)"><span>Download</span></button>
        </div>
    </ng-container>


    <ng-container *ngFor="let item of kfCerts">
        <div class="af-b2c-quality-card">
            <h2>{{item.type | formatCompanyCerts}}</h2>
            <p *ngIf="item.validity" i18n="@@frontPage.quality.cert.paragraph.valid">valid: {{item.validity}}</p>
            <p>{{item.description}}</p>
            <button i18n="@@frontPage.quality.cert.button.download" class="af-b2c-quality-card--cta" type="button" (click)="downloadCert(item.certificate)"><span>Download</span></button>
        </div>
    </ng-container>
</main>
