@import "src/_variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// $search-tag-bg: yellow;
// $search-tag-wrapper-bg: orange;
$search-tag-bg: inherit;
$search-tag-wrapper-bg: inherit;


.af-search {

  &-wrapper {
    background: $search-tag-wrapper-bg;
    position: relative;
    padding-left: 0;

    @include media-breakpoint-up(lg) {
    //   background: $search-tag-wrapper-bg;
    //   position: relative;
      padding-left: 20px;
    }
  }
  &-field {
     background-color: inherit;
    // border-bottom: 1px solid #25265E;
    // border-top: none;
    // border-right: none;
    // border-left: none;

    // top: 20px;
    // right: 0;
    // position: absolute;

    // @include media-breakpoint-up(md) {
      position: relative;
    // }

    // WE'RE HIDING IN STYLES.SCSS
    // .text-input-search {}
    // &--ellipsis {
    //   .text-input-search {}
    // }
  }
  &-tag {
    background-color: $search-tag-bg;
    position: absolute;
    right: 5px;
    top: 5px;

    &-pill {
      position: relative;
      // background: red;
      background-color: gainsboro;
      border-radius: 4px;
      padding: 2px 15px 2px 5px;
      font-size: 10px;

      &::after {
        content: "";
        // background: yellow;
        position: absolute;
        height: 10px;
        width: 10px;
        top: 7px;
        right: 5px;

        width: 0;
        height: 0;
        border-radius: 1px;
        border-width: 4px 4px 0 4px;
        border-color: $icons-color transparent transparent transparent;
        border-style: solid;
      }
    }
  }
}

