<smart-tag
  [isOpen]="isOpen && !rawObjectData"
  [readOnly]="rawObjectData"
  [viewOnly]="viewOnly"
  (onEdit)="toggle($event)"
  (onView)="toggle($event)"
  [formControlInput]="originalFormControl"
  [disableDelete]="disableDelete">
  <tag-closed>
    <div *ngIf="contentObject" class="c-capitalize-first">
      <div class="tagitem-text-container">
        {{name}}
      </div>
    </div>
  </tag-closed>
  <tag-open>
    <subform-layout *ngIf="this.form && searchFarmers.value">

      <subform-form>
        <div [ngClass]="this.whichClass()">
          <app-payment-form
            [form]="form"
            [payableFromForm]="payableFromForm"
            [submitted]="submitted"
            [searchCompanies]="searchCompanies"
            [searchFarmers]="searchFarmers"
            [farmersCodebook]="farmersCodebook"
            [searchCollectors]="searchCollectors"
            [collectorsCodebook]="collectorsCodebook"
            [orderReferenceForm]="orderReferenceForm"
            [openBalance]="openBalanceToBeSet"
            [purchased]="purchasedToBeSet"
            [viewOnly]="viewOnly">
          </app-payment-form>
        </div>
      </subform-form>

      <subform-mini-buttons style="width: 100%;" class="d-flex justify-content-end">
        <mini-buttons
          (onSave)="!this.updatePaymentInProgress && overWriteSave()"
          (onCancel)="cancel()"
          [error]="submitted && form.invalid"
          [cancelButtonOnly]="viewOnly">
        </mini-buttons>
      </subform-mini-buttons>

    </subform-layout>

  </tag-open>
</smart-tag>
