@import "../../../variables";

.dashboard-container {
  padding-bottom: 64px;
}

.button-selected {
  color: white;
  background-color: $theme-primary;
}

.chart-info-message {
  color: $theme-secondary-text;
  font-size: 0.85rem;
}
