@import "src/_variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$casovnica-circle-radius: 22px;

.af-timeline {

  &-box {
    // background-color: white;
    // border-top-left-radius: 0.25rem;
    // border-bottom-left-radius: 0.25rem;
    border-left: 1px solid $gray-semi;
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 0;
    padding-bottom: 1rem;
    position: relative;
    margin-left: $casovnica-circle-radius/2;
    // display: flex;
    // flex-direction: column;

    &-subtitle {
      font-size: 16px;
      letter-spacing: 0;
      line-height: 25px;
      color: $secondary;
    }
    &-label {
      font-size: 14px;
      letter-spacing: 0;
      line-height: 25px;
      color: $secondary;
    }
    ul {
      font-size: 0.875rem;
      line-height: 1.5;

      li {
        a {
          font-weight: inherit;
          // color: red;
        }
      }

    }
  }
  &-bullet {
    width: $casovnica-circle-radius;
    height: $casovnica-circle-radius;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: -$casovnica-circle-radius/2;
    border: 3px solid $secondary;
    background-color: $gray-light;
  }
}

.last-box {
  border: 0px !important;
}

// .root-order {
//   color: red;
// }

.offscreen {
  position: fixed;
  left: -1000px;
}

.del-icon {
  color: $danger;
}

.canceled {
  color: $moderate-red
}
