
<!-- WE'RE not Dragons -->
<ng-container *ngIf="!published">

  <div class="af-b2c-front" style="height: 100vh;">

    <div class="af-b2c-front--logo">
      <!-- <h1 i18n="@@front-page.AngeliquesFinest">Angelique's <span>finest</span></h1> -->
      <img src="/assets/logo/af-b2c-logo--angeliques-finest-front.svg" />
    </div>

    <h2 class="af-b2c-front--headline af-b2c-front--nope">
      <span>{{unpublishedText}}</span>
    </h2>
  </div>

</ng-container>

<!-- HERE BE DRAGONS -->
<ng-container *ngIf="published">

  <div class="af-b2c-front"
     (swipeleft)="published && onSwipeLeft()">

    <div class="af-b2c-front--logo">
      <!-- <h1 i18n="@@front-page.AngeliquesFinest">Angelique's <span>finest</span></h1> -->
      <img src="/assets/logo/af-b2c-logo--angeliques-finest-front.svg" />
    </div>

    <h2 class="af-b2c-front--headline">
      <span>{{this.productName}}</span>
    </h2>

    <button class="af-b2c-front--cta" i18n="@@front-page.button.productJourney" (click)="goToJourney()">PRODUCT JOURNEY</button>

  </div>

  <app-front-page-footer
    [showSplitter]="false">
  </app-front-page-footer>

</ng-container>
