<!-- WE'RE not Dragons -->
<ng-container *ngIf="!published">

  <div class="af-b2c-front" style="height: 100vh;">

    <div class="mt-5">
      <h2 class="af-b2c-front--headline">
        <span>{{unpublishedText}}</span>
      </h2>
    </div>
  </div>

</ng-container>

<!-- HERE BE DRAGONS -->
<ng-container *ngIf="published">

  <div class="d-flex flex-column" style="height: 100%">
    <div class="af-b2c-front flex-grow-1"
         (swipeleft)="published && onSwipeLeft()">

      <div class="af-b2c-front--logo">
      </div>

      <h2 class="af-b2c-front--headline mb-4">
        <span>{{ this.productName }}</span>
      </h2>

      <button class="btn"
              style="padding-left: 100px; padding-right: 100px;"
              i18n="@@front-page.button.productJourney"
              (click)="goToJourney()">PRODUCT JOURNEY</button>

    </div>

    <app-front-page-footer
            [showSplitter]="false">
    </app-front-page-footer>
  </div>

</ng-container>
