<div class="container">
  <div class="row login-row">
    <div class="col-sm-12 col-lg-6 align-self-center">
      <div class="login-left-inner">
        <div class="login-title" i18n="@@resetPasswordRequest.title">Reset password?</div>
        <div class="login-small-spacer"></div>
        <div class="login-subtitle" i18n="@@resetPasswordRequest.subtitle">Enter the email address associated with your account, and we will email you a link to reset your password.</div>
        <div class="login-big-spacer"></div>

        <textinput
          biggerTextInput="true"
          [form]="$any(form.get('email'))"
          label="Email"
          style="width: 100%"
          class="register-text-left"
          placeholder="Enter your email"
          i18n-label="@@resetPasswordRequest.textinput.email.label"
          i18n-placeholder="@@resetPasswordRequest.textinput.email.placeholder"
          [isInvalid]="submitted && form.get('email').invalid">
          <div *ngIf="submitted && form.get('email').invalid"
            class="sc-invalid-feedback">
            <div *ngIf="form.get('email').errors.required" i18n-label="@@resetPasswordRequest.textinput.email.errorEmpty">
              <span>
                Email cannot be empty.
              </span>
            </div>
            <div *ngIf="form.get('email').value &&
              form.get('email').errors.wrongEmail" i18n-label="@@resetPasswordRequest.textinput.email.errorWrongFormat">
              <span>
                Email is in the wrong format.
              </span>
            </div>
          </div>
        </textinput>
        <div *ngIf="sent" class="login-subtitle" i18n="@@resetPasswordRequest.emailSent">
          If a user with this email exists in our system, a link to reset his or her password has been sent to this email address.
        </div>

        <div class="login-medium-spacer"></div>

        <div>
          <a [routerLink]="['/', 'login']" i18n="@@resetPasswordRequest.link.backToLogin"><span class="login-forgot-password">Back to login</span></a>
        </div>

        <div class="login-small-spacer"></div>
        <div class="login-small-spacer"></div>
        <div class="login-small-spacer"></div>
        <div class="login-small-spacer"></div>
        <button class="btn btn-register" (click)="resetPassword()" i18n="@@resetPasswordRequest.button.resetPassword">
          <span>Reset password</span>
        </button>

      </div>
    </div>
    <div class="col-sm-0 col-lg-6" style="background-color: rgba(247,247,247,0.56); border-radius: 32px;">
      <div class="login-right-side-text">
        Make agricultural supply chains transparent and fair with INATrace
      </div>
    </div>
  </div>
</div>
