@import "src/_variables";

.processing-icon {
  width: 48px;
  height: 48px;
  background: $theme-primary-text;
  &.input {
    mask: url("/assets/icons/icon-input.svg") no-repeat;
    mask-size: 48px;
  }

  &.output {
    mask: url("/assets/icons/icon-output.svg") no-repeat;
    mask-size: 48px;
  }
}
