@import "src/_variables";

.del-icon {
  color: $danger;
}

.canceled {
  color: $moderate-red;
}

.disabled-section-overlay {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.5;
}

.outputs-bottom-spacing {
  margin-bottom: 25px;
}

.delete-output-icon {
  margin-top: 1.9rem;
  cursor: pointer;

  &.disabled {
    cursor: default;
    pointer-events: none;
    .del-icon {
      color: $gray;
    }
  }
}
