<app-authorised-layout>
    <div class="af-layout--authorised">
        <div class="af-form-wrapper">

            <!-- Page title - set dynamically depending on the selected processing action type -->
            <div class="af-form-row">
                <div class="af-form-block--c12 d-flex justify-content-between">
                    <div class="title-page content-element--title">{{ title }}<span></span></div>
                </div>
            </div>

            <!-- Display the selected processing action and final product name if action is QR code generation -->
            <div class="af-form-row">
                <div class="af-form-block--c6">
                    <h2 i18n="@@productLabelStockProcessingOrderDetail.section.processing">Choose activity that you want to record</h2>
                    <div class="af-form-element">

                        <!-- Dropdown for selecting processing action (if ID present ina path, selected automatically) -->
                        <div class="af-row">
                            <div class="af-c12">
                                <single-choice
                                        label="Processing"
                                        i18n-label="@@productLabelStockProcessingOrderDetail.processingActionForm.label"
                                        [formControlInput]="processingActionForm"
                                        [codebookService]="activeProcessingCodebook"
                                        style="min-width: 150px;"
                                        (onChange)="setProcessingAction($event)"
                                        [isInvalidChoice]="submitted && processingActionForm.invalid">
                                    <ng-container *ngIf="submitted">
                                        <div *ngIf="processingActionForm.errors as errors" class="sc-invalid-feedback"
                                             i18n="@@productLabelStockProcessingOrderDetail.processingActionForm.error">
                                            Action is required
                                        </div>
                                    </ng-container>
                                </single-choice>
                            </div>
                        </div>

                        <!-- If action is for QR code generation, display the final product name -->
                        <div class="af-row" *ngIf="actionType === 'GENERATE_QR_CODE'">
                            <div class="af-c12">
                                <textinput
                                        [form]="qrCodeForFinalProductForm"
                                        label="QR code for final product"
                                        i18n-label="@@productLabelStockProcessingOrderDetail.qrCodeForFinalProduct.label"
                                        style="width: 100%"
                                        [readOnly]="true">
                                </textinput>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</app-authorised-layout>
