<app-product-label-left-panel-content>
</app-product-label-left-panel-content>

<div class="main">

  <div class="row">

    <div class="col">


      <ng-container *ngIf="activeTab == 0">

        <div class="main-inside-top content-element">

          <div class="d-flex justify-content-between content-element--row1">
            <div class="title-page content-element--title" i18n="@@productLabelStakeholders.title.buyers">Buyers</div>
            <button class="btn btn-solid round btn-table-new content-element--btn" (click)="newBuyer()" i18n="@@productLabelStakeholders.button.newBuyer">
              <span>+ Add buyer</span>
            </button>
          </div>

          <div class="container container--bare">
            <div class="row" style="margin-top: 30px;" *ngIf="this.buyers">
              <div class="col-md-6 col-lg-4 col--bare" *ngFor="let buyer of this.buyers">

                <app-company-card
                  (onSelect)="remove($event)"
                  [company]="buyer">
                </app-company-card>

              </div>
            </div>
          </div>


        </div>


        <div class="main-inside-top content-element">

          <div class="d-flex justify-content-between content-element--row1">
            <div class="title-page content-element--title" i18n="@@productLabelStakeholders.title.owners">Owners</div>
            <button class="btn btn-solid round btn-table-new content-element--btn" (click)="newOwner()" i18n="@@productLabelStakeholders.button.newOwner">
              <span>+ Add owner</span>
            </button>
          </div>

          <div class="container container--bare">
            <div class="row" style="margin-top: 30px;" *ngIf="this.owners">
              <div class="col-md-6 col-lg-4 col--bare" *ngFor="let owner of this.owners">

                <app-company-card
                  (onSelect)="remove($event)"
                  [company]="owner">
                </app-company-card>

              </div>
            </div>
          </div>

        </div>

        <div class="main-inside-top content-element">

          <div class="d-flex justify-content-between content-element--row1">
            <div class="title-page content-element--title" i18n="@@productLabelStakeholders.title.producers">Producers</div>
            <button class="btn btn-solid round btn-table-new content-element--btn" (click)="newProducer()" i18n="@@productLabelStakeholders.button.newProducer">
              <span>+ Add producer</span>
            </button>
          </div>

          <div class="container container--bare">
            <div class="row" style="margin-top: 30px;" *ngIf="this.producers">
              <div class="col-md-6 col-lg-4 col--bare" *ngFor="let producer of this.producers">

                <app-company-card
                  (onSelect)="remove($event)"
                  [company]="producer">
                </app-company-card>

              </div>
            </div>
          </div>

        </div>
        <div class="main-inside-top content-element">

          <div class="d-flex justify-content-between content-element--row1">
            <div class="title-page content-element--title" i18n="@@productLabelStakeholders.title.roasters">Roasters</div>
            <button class="btn btn-solid round btn-table-new content-element--btn" (click)="newRoaster()" i18n="@@productLabelStakeholders.button.newRoaster">
              <span>+ Add roaster</span>
            </button>
          </div>

          <div class="container container--bare">
            <div class="row" style="margin-top: 30px;" *ngIf="this.roasters">
              <div class="col-md-6 col-lg-4 col--bare" *ngFor="let roaster of this.roasters">

                <app-company-card
                  (onSelect)="remove($event)"
                  [company]="roaster">
                </app-company-card>

              </div>
            </div>
          </div>

        </div>

        <div class="main-inside-top content-element">
          <div class="d-flex justify-content-between content-element--row1">
            <div class="title-page content-element--title" i18n="@@productLabelStakeholders.title.associations">Associations</div>
            <button class="btn btn-solid round btn-table-new content-element--btn" (click)="newAssociation()" i18n="@@productLabelStakeholders.button.newAssociation">
              <span>+ Add association</span>
            </button>
          </div>

          <div class="container container--bare">
            <div class="row" style="margin-top: 30px;" *ngIf="this.associations">
              <div class="col-md-6 col-lg-4 col--bare" *ngFor="let association of this.associations">

                <app-company-card
                  (onSelect)="remove($event)"
                  [company]="association">
                </app-company-card>

              </div>
            </div>
          </div>

        </div>
      </ng-container>


      <ng-container *ngIf="activeTab == 1">

        <div class="main-inside-top content-element">
          <div class="d-flex justify-content-between content-element--row1">
            <div class="title-page" i18n="@@productLabelStakeholders.title.collectors">Collectors</div>
            <button class="btn btn-solid round btn-table-new content-element--btn" (click)="collectorDetail('collectors')" i18n="@@productLabelStakeholders.button.newCollector">
              <span>+ Add collector</span>
            </button>
          </div>
          <!-- <single-choice
            label="Company"
            i18n-label="@@productLabelStakeholders.singleChoice.company"
            [formControlInput]="companyForCollectorForm"
            [codebookService]="chainOrganizationCodebook"
            (onChange)="organizationForCollectorChanged($event)"
            style="min-width: 150px;">
          </single-choice> -->

          <div class="d-flex justify-content-between content-element--row2">
            <div>
              <div class="sub-title-page content-element--subtitle" i18n="@@productLabelStakeholders.subTitle.listOfCollectors">List of collectors</div>
              <div class="counting-page content-element--counting" i18n="@@productLabelStakeholders.subTitle.showingCollectors">Showing {{showedCollectors}}/{{allCollectors}}</div>
            </div>
            <app-search-textinput
              [form]="searchNameCollectors"
              (valueChange)="serchInput($event, 'collectors')"
              [items]="items"
              byCategory="true"
              [searchCategory]="this.byCategoryCollector"
              (categoryChange)="onCategoryChange($event, 'collectors')">
            </app-search-textinput>
          </div>
        </div>


        <app-product-label-stakeholders-collectors *ngIf="this.organizationId"
          [query]="searchNameCollectors.value"
          [reloadPingList$]="reloadCollectorsPing$"
          [sortingParams$]="sortingParamsCollector$"
          (countAll)="onCountAll($event, 'collectors')"
          (showing)="onShow($event, 'collectors')"
          (onSortChanged)="onSortChanged($event, 'collectors')"
          organizationId="{{this.organizationId}}"
          role="COLLECTOR"
          byCategory="{{byCategoryCollector}}">
        </app-product-label-stakeholders-collectors>

      </ng-container>

      <ng-container *ngIf="activeTab == 2">

        <div class="main-inside-top content-element">
          <div class="d-flex justify-content-between content-element--row1">
            <div class="title-page" i18n="@@productLabelStakeholders.title.farmers">Farmers</div>
            <button class="btn btn-solid round btn-table-new content-element--btn" (click)="collectorDetail('farmers')" i18n="@@productLabelStakeholders.button.newFarmer">
              <span>+ Add farmer</span>
            </button>
          </div>
          <!-- <single-choice
            label="Company"
            i18n-label="@@productLabelStakeholders.singleChoice.company"
            [formControlInput]="companyForCollectorForm"
            [codebookService]="chainOrganizationCodebook"
            (onChange)="organizationForCollectorChanged($event)"
            style="min-width: 150px;">
          </single-choice> -->

          <div class="d-flex justify-content-between content-element--row2">
            <div>
              <div class="sub-title-page content-element--subtitle" i18n="@@productLabelStakeholders.subTitle.listOfFarmers">List of farmers</div>
              <div class="counting-page content-element--counting" i18n="@@productLabelStakeholders.subTitle.showingFarmers">Showing {{showedFarmers}}/{{allFarmers}}</div>
            </div>
            <app-search-textinput
              [form]="searchNameFarmers"
              (valueChange)="serchInput($event, 'farmers')"
              [items]="items"
              byCategory="true"
              [searchCategory]="this.byCategoryFarmer"
              (categoryChange)="onCategoryChange($event, 'farmers')">
            </app-search-textinput>
          </div>
        </div>


        <app-product-label-stakeholders-collectors *ngIf="this.organizationId"
          [query]="searchNameFarmers.value"
          [reloadPingList$]="reloadFarmersPing$"
          [sortingParams$]="sortingParamsFarmer$"
          (countAll)="onCountAll($event, 'farmers')"
          (showing)="onShow($event, 'farmers')"
          (onSortChanged)="onSortChanged($event, 'farmers')"
          organizationId="{{this.organizationId}}"
          role="FARMER"
          byCategory="{{byCategoryFarmer}}">
        </app-product-label-stakeholders-collectors>

      </ng-container>


      <ng-container *ngIf="activeTab == 3">

        <div class="main-inside-top content-element">
          <div class="d-flex justify-content-between content-element--row1">
            <div class="title-page content-element--title" i18n="@@productLabelStakeholders.title.customers">Customers</div>
            <button class="btn btn-solid round btn-table-new content-element--btn" (click)="customerDetail()" i18n="@@productLabelStakeholders.button.newCustomer">
              <span>+ Add customer</span>
            </button>
          </div>
          <div class="d-flex justify-content-between content-element--row2">
            <div>
              <div class="sub-title-page content-element--subtitle" i18n="@@productLabelStakeholders.subTitle.listOfCustomers">List of customers</div>
              <div class="counting-page content-element--counting" i18n="@@productLabelStakeholders.subTitle.showingCustomers">Showing {{showedCustomers}}/{{allCustomers}}</div>
            </div>
            <!-- <app-search-textinput
              [form]="searchNameCustomers"
              (valueChange)="serchInput($event, 'customers')">
            </app-search-textinput> -->
          </div>
        </div>

        <app-product-label-stakeholders-customers *ngIf="this.organizationId"
          [query]="searchNameFarmers.value"
          [reloadPingList$]="reloadCustomersPing$"
          (countAll)="onCountAll($event, 'customers')"
          (showing)="onShow($event, 'customers')"
          organizationId="{{this.organizationId}}">
        </app-product-label-stakeholders-customers>

      </ng-container>

    </div>
  </div>
</div>
