<app-authorised-layout>
  <app-product-label-left-panel-content>
  </app-product-label-left-panel-content>

  <div class="main">

    <div class="row">

      <div class="col">


          <div class="main-inside-top content-element">
            <div class="d-flex justify-content-between content-element--row1">
              <div class="title-page" i18n="@@productLabelStakeholders.title.farmers">Farmers</div>
              <button class="btn btn-solid round btn-table-new content-element--btn" (click)="collectorDetail('farmers')" i18n="@@productLabelStakeholders.button.newFarmer">
                <span>+ Add farmer</span>
              </button>
            </div>
            <!-- <single-choice
            label="Company"
            i18n-label="@@productLabelStakeholders.singleChoice.company"
            [formControlInput]="companyForCollectorForm"
            [codebookService]="chainOrganizationCodebook"
            (onChange)="organizationForCollectorChanged($event)"
            style="min-width: 150px;">
          </single-choice> -->

            <div class="d-flex justify-content-between content-element--row2">
              <div>
                <div class="sub-title-page content-element--subtitle" i18n="@@productLabelStakeholders.subTitle.listOfFarmers">List of farmers</div>
                <div class="counting-page content-element--counting" i18n="@@productLabelStakeholders.subTitle.showingFarmers">Showing {{showedFarmers}}/{{allFarmers}}</div>
              </div>
              <app-search-textinput
                [form]="searchNameFarmers"
                (valueChange)="serchInput($event, 'farmers')"
                [items]="items"
                byCategory="true"
                [searchCategory]="this.byCategoryFarmer"
                (categoryChange)="onCategoryChange($event, 'farmers')">
              </app-search-textinput>
            </div>
          </div>


          <app-product-label-stakeholders-collectors *ngIf="this.organizationId"
            [query]="searchNameFarmers.value"
            [reloadPingList$]="reloadFarmersPing$"
            [sortingParams$]="sortingParamsFarmer$"
            (countAll)="onCountAll($event, 'farmers')"
            (showing)="onShow($event, 'farmers')"
            (onSortChanged)="onSortChanged($event, 'farmers')"
            organizationId="{{this.organizationId}}"
            role="FARMER"
            byCategory="{{byCategoryFarmer}}">
          </app-product-label-stakeholders-collectors>


      </div>
    </div>
  </div>
</app-authorised-layout>
