<div class="container container--bare" >
  <div class="row" style="margin-top: 30px;">

     <!-- This elements repeats, grid above should probably be in the parent logic -->
    <div class="col-md-6 col-lg-4 col--bare">
      <div class="af-card">

        <div class="af-card-section">
          <!-- this is here we declare colour of card --red, --green, --... -->
          <div class='af-card-section-content af-card-section-content--cyan'>
            <span class="af-card-indicator">&nbsp;</span>
            <span class="af-card-order-number">344532 </span>
            <div class="af-card-label af-card-label--cyan">
              <div class="af-card-icon">
                <span class="af-card-icon-shape af-card-icon-shape--home"></span>
              </div>
              <!-- this is here we declare state of label --red, --green, --... -->
              <span class="af-card-label-title af-card-label-title--cyan">cyan</span>
            </div>
          </div>
        </div>

        <div class="af-card-section">
          <div class="af-card-section-content">
            <span class="af-card-order-details af-card-order-details--left">500kg</span>
            <span class="af-card-order-details af-card-order-details--right">Musasa</span>
            <span class="af-card-order-smallprint af-card-order-smallprint--left">AFMg, AFM, CDE</span>
            <span class="af-card-order-smallprint af-card-order-smallprint--right">DM</span>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
