<div class="modal-container self-onboarding-checklist-step-success-modal">
    <div class="modal-body">
        <div class="left-content-container">
            <img src="/assets/icons/icon-self-onboarding-assistant.svg" alt="Image representing pineapple">
        </div>
        <div class="right-content-container">
            <h2 i18n="@@selfOnboarding.checklist.addProcAction.success.message">GREAT! You have successfully added your processing action.</h2>
            <button type="button"
                    class="btn btn-secondary btn-register"
                    (click)="continue()">
                <span i18n="@@selfOnboarding.checklist.item.successModal.continue.button">Continue</span>
            </button>
        </div>
    </div>
</div>
