
<ng-container *ngIf="entities$ | async as entities">
  <div class="main-inside-main">
    <table *ngIf="entities && entities.items && entities.items.length> 0" class="af-table">
      <thead>
        <tr scope="col" result-sorter [sortOptions]="sortOptions" (sortByKey)="changeSort($event)"></tr>
      </thead>
      <tbody>
        <tr *ngFor="let entity of entities.items">
          <td scope="row" [attr.data-label]="sortOptions[0].name"><span>{{entity | translateCodebook: 'name'}}</span></td>
          <td scope="row" [attr.data-label]="sortOptions[1].name"><span>{{setBoolean(entity.isBuyable)}}</span></td>
          <td scope="row" [attr.data-label]="sortOptions[2].name"><span>{{setBoolean(entity.isSKU)}}</span></td>
          <td scope="row" [attr.data-label]="sortOptions[3].name"><span>{{setBoolean(entity.isSKUEndCustomer)}}</span></td>
          <td [attr.data-label]="sortOptions[4].name">
            <span>
            <a i18n="@@semiProductListing.tableCol.edit"
              (click)="entityDetail(entity)"
              class="company-action"
              [class.enabled-action]="true">
              Edit
            </a>
            <a i18n="@@semiProductListing.tableCol.delete"
              (click)="deleteEntity(entity)"
              class="company-action"
              [class.enabled-action]="true">
              Delete
            </a>
          </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="entities && entities.items && entities.items.length == 0" class="no-list-results" i18n="@@semiProductListing.noSemiProducts">
      No semi-products found
    </div>


  </div>
  <div [style.display]="showPagination() ? 'flex' : 'none'" class="justify-content-end">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="entities.count"
      (pageChange)="onPageChange($event)"
      [maxSize]="7"
      [rotate]="true">
    </ngb-pagination>
  </div>
</ng-container>
