
<div class="af-sidenav--block">

  <div class="above-sidenav">
    <div class="above-sidenav-title">
      {{title}}
    </div>
  </div>

  <ul class="sidenav">
    <li style="max-width:100%; margin-top: 2.375rem">
      <a class="link-normal"
        routerLinkActive="active"
        [routerLink]="['/companies']"
        i18n="@@systemLeftPanel.sideTitle.companies">
        Companies
      </a>
    </li>
    <li>
      <a class="link-normal"
        routerLinkActive="active"
        [routerLink]="['/users']"
        i18n="@@systemLeftPanel.sideTitle.users">
        Users
      </a>
    </li>
    <li>
      <a class="link-normal"
        routerLinkActive="active"
        [routerLink]="['/settings']"
        i18n="@@systemLeftPanel.sideTitle.settings">
        Settings
      </a>
    </li>
  </ul>

</div>


<!-- <div class="d-lg-none d-block">
  <div style="max-width:200px; margin-bottom: 3.875rem; margin-top: 1.5rem">
    <div>
      <a class="link-normal-mobile"
        routerLinkActive="active"
        [routerLink]="['/companies']"
        i18n="@@systemLeftPanel.sideTitle.companies">
        Companies
      </a>
    </div>
    <div class="spacer-mobile"></div>
    <div>
      <a class="link-normal-mobile"
        routerLinkActive="active"
        [routerLink]="['/users']"
        i18n="@@systemLeftPanel.sideTitle.users">
        Users
      </a>
    </div>
    <div class="spacer-mobile"></div>
    <div>
      <a class="link-normal-mobile"
        routerLinkActive="active"
        [routerLink]="['/settings']"
        i18n="@@systemLeftPanel.sideTitle.settings">
        Settings
      </a>
    </div>
  </div>
</div> -->
