<main class="af-b2c-main">
    <h1 [style.color]="b2cSettings.headingColor" [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''" i18n="@@frontPage.journey.title">Product journey</h1>

    <google-map
            *ngIf="isGoogleMapsLoaded"
            height="380px"
            width="100%">
        <map-marker
            *ngFor="let marker of markers; index as i"
            [position]="marker.position"
            [options]="mapMarkerOption">
        </map-marker>
        <map-polyline [path]="locations" [options]="polyOptions"></map-polyline>
    </google-map>

    <ul class="af-journey-wrapper">

        <li class="af-journey">
            <div class="af-journey-dot"
                 [class.spin]="historyItems.length === 0" [style.background-color]="b2cSettings.primaryColor">
                <a role="button" target="_blank">
                    <span class="af-journey-dot-shape af-journey-dot-shape--qr-code"></span>
                </a>
            </div>
            <div class="af-journey-info">
                <span [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">{{ formatDate(null) }}</span>
                <span i18n="@@frontPage.journey.yourScan" [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">Your scan</span>
                <span>&nbsp;</span>
            </div>
        </li>

        <ng-container *ngIf="this.historyItems.length > 0">
            <ng-container *ngFor="let item of this.historyItems">

                <li class="af-journey" *ngIf="item.type">

                    <div class="af-journey-dot" [style.background-color]="b2cSettings.primaryColor">
                        <a role="button" target="_blank">
                            <span class="af-journey-dot-shape {{ item.iconClass }}"></span>
                        </a>
                    </div>
                    <div class="af-journey-info">
                        <span [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">{{ formatDate(item.date) }}</span>
                        <span [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">{{ item.name }}{{ item.step && item.steps ? ' (' + item.step + '/' + item.steps + ')' : ''}}</span>
                        <span [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">{{ item.location }}</span>
                    </div>

                </li>
            </ng-container>

            <li class="af-journey">

                <div class="af-journey-dot" [style.background-color]="b2cSettings.primaryColor">
                    <a role="button" target="_blank">
                        <span class="af-journey-dot-shape af-journey-dot-shape--leaf"></span>
                    </a>
                </div>
                <div class="af-journey-info">
                    <span>&nbsp;</span>
                    <span i18n="@@frontPage.journey.harvesting">Harvesting</span>
                    <span i18n="@@frontPage.journey.farmersFromCooperative">Farmers from {{ this.producerName }}</span>
                </div>

            </li>
        </ng-container>

    </ul>
</main>
