<div class="af-b2c-wrapper">

  <header class="af-b2c-header">
    <div></div>
    <div class="af-b2c-header--logo">
      <img src="/assets/logo/af-b2c-logo--angeliques-finest.svg" />
    </div>
    <ul class="af-b2c-nav">
      <li class="af-b2c-nav--selected">journey</li>
      <li>fair prices</li>
      <li>producers</li>
      <li>quality</li>
      <li>feedback</li>
    </ul>
  </header>

  <main class="af-b2c-main">

    <h1>Fair prices</h1>
    <p>Your coffee package is part of Order number #123. Below you can see how much the local producers were paid for this order per container in comparison to the world market price and Fairtrade minimum prices.</p>

    <div class="af-b2c-sliders">
      <div class="af-b2c-sliders-arrows af-b2c-sliders-arrows--inactive">
        <span class="af-b2c-sliders-arrows-shape af-b2c-sliders-arrows-shape--prev"></span>
      </div>
      <div class="af-b2c-sliders--main">
        <img src="https://placekitten.com/325/184" class="" />
      </div>
      <div class="af-b2c-sliders-arrows af-b2c-sliders-arrows--inactive">
        <span class="af-b2c-sliders-arrows-shape af-b2c-sliders-arrows-shape--next"></span>
      </div>
    </div>

    <div class="af-b2c-sliders">
      <div class="af-b2c-sliders-arrows">
        <span class="af-b2c-sliders-arrows-shape af-b2c-sliders-arrows-shape--prev"></span>
      </div>
      <div class="af-b2c-sliders--main">
        <img src="https://placekitten.com/325/182" class="" />
      </div>
      <div class="af-b2c-sliders-arrows">
        <span class="af-b2c-sliders-arrows-shape af-b2c-sliders-arrows-shape--next"></span>
      </div>
    </div>

    <div class="af-b2c-sliders af-b2c-sliders--narrow">
      <div class="af-b2c-sliders-arrows">
        <span class="af-b2c-sliders-arrows-shape af-b2c-sliders-arrows-shape--prev"></span>
      </div>
      <div class="af-b2c-sliders-arrows">
        <span class="af-b2c-sliders-arrows-shape af-b2c-sliders-arrows-shape--next"></span>
      </div>
    </div>




    <h2>ODETTE MUREKATETE</h2>
    <p>Odette is the leader of Rambagirakawa women association with 289 members. This women association is part of the coffee farmers’ cooperative Dukundekawa Musasa.</p>
    <blockquote>
      <span>
        <p>I sensitized other women to form a group that would make us come together to share valuable ideas, counseling, and create job opportunities for ourselves during the coffee off-season period.</p>
        <p>We got the cooperative's approval, formed the group in 2011 and named it "Rambagirakawa" deriving from a Kinyarwanda verb “Kurambagira” meaning to spread everywhere.</p>
        <p>We chose that name because the coffee was traditionally considered to be owned by men only. So we wanted the coffee to widen and get to us women as well. This became reality as now we see our coffee has spread and reached far beyond Africa!</p>
      </span>
    </blockquote>


    <img src="https://placekitten.com/325/183" />
    <p class="small">small print under graphs</p>


    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue.</p>
  </main>

  <!-- <aside>aside</aside> -->

</div>


<app-front-page-footer
  [showSplitter]="true">
</app-front-page-footer>
