<app-front-page-sliding
  [tab]="this.tab">

  <div class="af-b2c-wrapper">

    <app-front-page-header
      [tab]="this.tab">
    </app-front-page-header>

    <main class="af-b2c-main">

      <h1>{{titleFarmers}}</h1>
      <div class="af-b2c-header-arrows--both" *ngIf="pageYOffset > 150"></div>

      <ng-container *ngIf="videoMeetTheFarmers">
        <iframe [src]="this.videoMeetTheFarmers" frameborder="0" allowfullscreen></iframe>
      </ng-container>

      <app-front-page-carousel
        [slides]="picsMeetTheFarmers">
      </app-front-page-carousel>

      <h1>{{titleCooperative}}</h1>

      <h2>{{companyNameCooperative}}</h2>

      <p *ngIf="this.coopAbout">{{this.coopAbout}}</p>

      <h2 i18n="@@frontPage.producers.subtitle.processingStory">Processing story</h2>

      <app-front-page-carousel
        [slides]="picsProduction"
        [productionRecords]=true>
      </app-front-page-carousel>

      <h1>{{titleOwner}}</h1>

      <ng-container *ngIf="videoRWurl">
        <iframe [src]="this.videoRWurl" frameborder="0" allowfullscreen></iframe>
      </ng-container>

      <a class="af-b2c-btt scroll-to-top" (click)="scrollToTop()" *ngIf="pageYOffset>0">&nbsp;</a>

    </main>

    <app-front-page-footer>
    </app-front-page-footer>

  </div>
</app-front-page-sliding>
