<main id="content">
<section>
<div class="container container-landing-page">
  <div class="row">
    <div class="col-md-7">
      <h2 id="landing-h2">
        <span>{{appName}} </span>
        <span>transparency and </span>
        <span>traceability</span>
      </h2>
      <h4 id="landing-h4" style="font-weight: 400;">
        <span>Providing information about products to</span>
        <span>consumers and end-buyers, far beyond the</span>
        <span>information available through company websites.</span>
        <span>Transparent information that is of most interest</span>
        <span>to the consumer.</span>
      </h4>
      <a class="btn btn-naked btn-icon-left btn-icon-custom-size btn-icon-circle btn-icon-solid btn-icon-ripple special4 lqd-unit-animation-done"
        [routerLink]="['register']"><span>
          <span class="btn-txt">Get started</span>
          <span class="btn-icon">
            <i class="fa fa-play"></i>
          </span>
        </span>
      </a>
    </div>
  </div>
</div>
</section>
</main>
