<main id="content">
    <section>
        <div class="container container-landing-page">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h2 id="landing-h2">
                        <p>INATrace: Make agricultural supply chains transparent and fair</p>
                    </h2>
                    <h4 id="landing-h4">
                        <p>INATrace is an open-source digital solution that puts the focus on people. Designed to
                            establish transparent global agricultural supply chains in order to improve the economic
                            circumstances of smallholders, INATrace provides end-to-end traceability that ensures fair
                            payment.</p>
                    </h4>
                    <a class="btn btn-lg"
                       href="https://www.nachhaltige-agrarlieferketten.org/en/in-practice/inatrace/"
                       target="_blank" rel="nofollow">Read more</a>
                </div>
            </div>
        </div>
    </section>
</main>
