@import "../../../../variables";
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

.company-action {
  margin: 0.25rem;
  cursor: pointer;
}

.enabled-action {
  color: $primary;
}

.enabled-action:hover {
  text-decoration: underline;
}

.limit-chars {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40ch;
}
