@import "src/_variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

i.fas {
  display: inline-block;
  border-radius: 60px;
  padding: 0.2em 0.3em;
  background-color: $body-background;
}
