.icon-remove-farmer {
  margin-top: 1.75rem;
  padding-left:0.75rem;
  cursor: pointer;
}


@media only screen and (max-width: 1300px) {
  .af-form-element {
    .af-md-c6 {
      flex: 0 0 50%;
      max-width: calc(50% - 16px) !important;
      margin-left: 10px;
    }

    .af-md-c11 {
      flex: 0 0 90%;
      max-width: calc(90% - 8px) !important;
      margin-left: 10px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .af-form-element {
    .af-sm-c11 {
      flex: 0 0 90%;
      max-width: calc(90% - 8px) !important;
      margin-left: 10px;
    }
  }
}