#intro-wrapper {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-image-wrapper {
  width: 260px;
  margin-bottom: 10px;
}

#intro-content {
  max-width: 65ch;
}

button.btn:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}
