

<ng-container *ngIf="types$ | async as types">
  <div class="main-inside-main">
    <table *ngIf="types && types.items && types.items.length> 0" class="af-table">
      <thead>
        <tr scope="col" result-sorter [sortOptions]="(this.type === 'processing-evidence-types' || this.type === 'order-evidence-types') ? sortOptionsFPQ : sortOptions" (sortByKey)="changeSort($event)"></tr>
      </thead>
      <tbody>

        <ng-container *ngIf="(this.type === 'processing-evidence-types' || this.type === 'order-evidence-types')">
          <tr *ngFor="let type of types.items">
            <td [attr.data-label]="sortOptionsFPQ[0].name" scope="row"><span>{{type.id}}</span></td>
            <td [attr.data-label]="sortOptionsFPQ[1].name" scope="row"><span>{{type | translateCodebook: 'label'}}</span></td>
            <!-- <td [attr.data-label]="sortOptionsFPQ[2].name" scope="row">{{type.semiProduct?.name}}</td> -->
            <td [attr.data-label]="sortOptionsFPQ[2].name" scope="row"><span>{{type.type | formatProcessingEvidenceTypeType}}</span></td>
            <!-- <td [attr.data-label]="sortOptionsFPQ[3].name" scope="row" class="align-center">{{setFPQ(type.mandatoryOnQuote)}}</td>
            <td [attr.data-label]="sortOptionsFPQ[4].name" scope="row" class="align-center">{{setFPQ(type.requiredOnQuote)}}</td> -->
            <td [attr.data-label]="sortOptionsFPQ[3].name" scope="row"class="align-center"><span>{{setFPQ(type.fairness)}}</span></td>
            <td [attr.data-label]="sortOptionsFPQ[4].name" scope="row" class="align-center"><span>{{setFPQ(type.provenance)}}</span></td>
            <td [attr.data-label]="sortOptionsFPQ[5].name" scope="row" class="align-center"><span>{{setFPQ(type.quality)}}</span></td>
            <td [attr.data-label]="sortOptionsFPQ[6].name" scope="row">
              <span>
              <a i18n="@@settingsTypes.tableCol.edit"
                (click)="edit(type)"
                class="company-action"
                [class.enabled-action]="true">
                Edit
              </a>
              <a i18n="@@settingsTypes.tableCol.delete"
                (click)="delete(type)"
                class="company-action"
                [class.enabled-action]="true">
                Delete
              </a>
            </span>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="(this.type != 'processing-evidence-types' && this.type != 'order-evidence-types')">
          <tr *ngFor="let type of types.items">
            <td scope="row" [attr.data-label]="sortOptions[0].name"><span>{{type.id}}</span></td>
            <td [attr.data-label]="sortOptions[1].name"><span>{{type | translateCodebook: 'label'}}</span></td>
            <td [attr.data-label]="sortOptions[2].name">
              <span>
              <a i18n="@@settingsTypes.tableCol.edit"
                (click)="edit(type)"
                class="company-action"
                [class.enabled-action]="true">
                Edit
              </a>
              <a i18n="@@settingsTypes.tableCol.delete"
                (click)="delete(type)"
                class="company-action"
                [class.enabled-action]="true">
                Delete
              </a>
            </span>
            </td>
          </tr>
        </ng-container>

      </tbody>
    </table>
    <div *ngIf="types && types.items && types.items.length == 0" class="no-list-results" i18n="@@settingsTypes.noTypes">
      No types found
    </div>
  </div>
  <div [style.display]="showPagination() ? 'flex' : 'none'" class="justify-content-end">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="types.count"
      (pageChange)="onPageChange($event)"
      [maxSize]="7"
      [rotate]="true">
    </ngb-pagination>
  </div>
</ng-container>
