<app-authorised-layout>

  <app-company-left-panel></app-company-left-panel>

  <div class="main">
    <div class="main-inside-top content-element">
      <div class="d-flex justify-content-between content-element--row1">
        <div class="title-page content-element--title" i18n="@@ordersAllOrders.title.receivedOrders">Received orders</div>
      </div>

      <div class="af-form-row af-form-row--nomargin">

        <div class="af-form-block--c6">

          <div class="af-form-element">
            <div class="af-row">
              <div class="af-c12">
                <single-choice *ngIf="facilityCodebook"
                               label="Selected facility"
                               i18n-label="@@ordersAllOrders.selectedFacility.singleChoice.label"
                               [formControlInput]="facilityForStockOrderForm"
                               [codebookService]="facilityCodebook"
                               (onChange)="facilityChanged($event)"
                               style="min-width: 150px;">
                </single-choice>

                <single-choice *ngIf="facilityForStockOrderForm.value"
                               label="Selected SKU"
                               i18n-label="@@ordersAllOrders.selectedSKU.singleChoice.label"
                               [formControlInput]="semiProductFrom"
                               [codebookService]="semiProductsInFacilityCodebook"
                               (onChange)="selectSemiProduct($event)">
                </single-choice>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between main-inside-top--row2">
        <div>
          <div class="sub-title-page content-element--subtitle" i18n="@@ordersAllOrders.subTitle.listOfOrders">List of orders</div>
          <div class="counting-page content-element--counting" i18n="@@ordersAllOrders.subTitle.showingOrders">Showing {{ showedOrders }}/{{ allOrders }}</div>
        </div>

        <div class="d-flex align-items-top">
          <div class="d-flex align-items-center" style="margin-bottom: 1rem;" ngbDropdown placement="bottom-right" display="dynamic" container="body">
            <div *ngIf="openOnly" class="d-flex filter-text" style="margin-left: 0.75rem" i18n="@@ordersAllOrders.filter.openOnly.filter">Open only
              <div style="margin-left: 0.5rem;" (click)="setOpenOnly(false)">
                <fa-icon class="cursor-pointer" [icon]="faTimes" size="xs">
                </fa-icon>
              </div>
            </div>

            <button ngbDropdownToggle class="btn btn-filter" style="margin-left: 1rem;" i18n-placeholder="@@ordersAllOrders.filter.placeholder">
              <div class="button-icon">
                <span class="button-icon-shape button-icon-shape--filter"></span>
              </div>
              <span i18n="@@list.button.filter" class="button-icon-label">Filter</span>
            </button>

            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem (click)="setOpenOnly(true)" i18n="@@ordersAllOrders.filter.openOnly.button">Open only</button>
            </div>

          </div>
        </div>
      </div>

      <app-company-orders-list
          *ngIf="companyId != null"
          (countAll)="onCount($event)"
          [facilityId$]="selectedFacilityId$"
          (showing)="onShow($event)"
          [semiProductId$]="semiProductId$"
          [companyId]="companyId"
          [openOnly$]="openOnly$">
      </app-company-orders-list>

    </div>
  </div>

</app-authorised-layout>
