<div class="modal-container self-onboarding-welcome-modal">
    <div class="modal-header justify-content-center">
        <h2 class="modal-title"
            i18n="@@selfOnboarding.welcomeModal.header">Welcome on board {{ userProfile.name }}!</h2>
    </div>

    <div class="modal-body p-0 position-relative">
        <div class="body-space"></div>
        <div class="body-message justify-content-center">
            <p i18n="@@selfOnboarding.welcomeModal.body.message">Get started with INATrace's onboarding process. Customize the system according to your company's needs.</p>
        </div>
        <div class="logo">
            <img src="/assets/landing-page/landing-inatrace-logo.png" alt="Logo image">
        </div>
        <div class="icon-footsteps">
            <img src="/assets/icons/icon-footsteps.svg" alt="Image representing footsteps">
        </div>
    </div>

    <div class="modal-footer justify-content-around pt-4 pb-4">
        <button type="button" class="btn btn-secondary btn-register"
                i18n="@@selfOnboarding.welcomeModal.guideMe.button"
                (click)="onGuideMe()">
            <span>Guide me</span>
        </button>

        <button type="button" class="btn btn-secondary btn-register"
                i18n="@@selfOnboarding.welcomeModal.maybeLater.button"
                (click)="onMaybeLater()">
            <span>Maybe later</span>
        </button>
    </div>

</div>
