
<!-- <div *ngIf="confirmedByUser && confirmedAt"
i18n="@@paymentForm.confirmedBy"
style="margin-bottom: 1rem">Payment was confirmed by: {{confirmedByUser}} ({{confirmedAt}})</div> -->


<div class="af-payment-status" *ngIf="confirmedByUser && confirmedAt">
  <div class="af-payment-status-icon">
    <span class="af-payment-status-icon-shape af-payment-status-icon-shape--confirmed"></span>
  </div>
  <div class="af-payment-status-description" i18n="@@paymentForm.confirmedBy">
    <p>Payment was confirmed by: {{confirmedByUser}} <br>at ({{confirmedAt}})</p>
  </div>
</div>


<div class="af-form-row af-form-row--nomargin">

  <!-- <div class="af-form-row" style="background-color: inherit;"> -->
  <div class="af-form-block--c12">

    <div class="af-row">
      <div class="af-c12">
        <app-datepicker
          label="Payment date"
          i18n-label="@@paymentForm.datepicker.date.label"
          [form]="form.get('formalCreationTime')"
          [invalid]="submitted && form.get('formalCreationTime').invalid">
          <ng-container *ngIf="submitted">
            <div *ngIf="form.get('formalCreationTime').errors as errors" class="sc-invalid-feedback">
              <div *ngIf="errors.required" i18n="@@paymentForm.datepicker.date.error">
                Payment date is required
              </div>
            </div>
          </ng-container>
        </app-datepicker>
      </div>
    </div>

    <div class="af-row">
      <div class="af-c12">
        <textinput
          [form]="payableFromForm"
          label="Payable from"
          style="width: 100%"
          i18n-label="@@paymentForm.textinput.payableFromForm.label"
          [readOnly]=true>
        </textinput>

      </div>
    </div>



    <div class="af-row">
      <div class="af-c12">

        <div class="af-row">
          <div class="af-c12">
            <label class="d-flex mb-0 text-input-label" i18n="@@paymentForm.textinput.payableTo.label">Payable to</label>
          </div>
        </div>

        <div class="af-row">

          <div class="af-c1 af-ustwo--withfriends">
            <div class="af-ustwo" i18n="@@paymentForm.textinput.payableTo.or">or</div>
            <div class="af-ustwo" i18n="@@paymentForm.textinput.payableTo.or">or</div>
          </div>
          <div class="af-c2">
            <div class="af-ustwo-line1" i18n="@@paymentForm.textinput.payableTo.company">Company</div>
            <div class="af-ustwo-line2" i18n="@@paymentForm.textinput.payableTo.collector">Collector</div>
            <div class="af-ustwo-line3" i18n="@@paymentForm.textinput.payableTo.farmer">Farmer</div>
          </div>

          <div class="af-c9">

            <!-- to -->
            <single-choice
              [formControlInput]="searchCompanies"
              [codebookService]="associatedCompaniesService"
              (onChange)="setCompany($event)"
              style="min-width: 150px;"
              [isInvalidChoice]="submitted && form.get('recipientOrganizationId').invalid">
              <ng-container *ngIf="submitted">
                <div *ngIf="form.get('recipientOrganizationId').errors as errors" class="sc-invalid-feedback">
                  <div *ngIf="errors.atLeastOnePayableTo" i18n="@@productLabelStockPayments.singleChoice.company.error.atLeastOne">
                    At least one of payable to fields is required
                  </div>
                  <div *ngIf="errors.onlyOnePayableTo" i18n="@@productLabelStockPayments.singleChoice.company.error.onlyOne">
                    Only one of payable to fields is required
                  </div>
                </div>
              </ng-container>
            </single-choice>

            <!-- to -->
            <single-choice
              [formControlInput]="searchCollectors"
              [codebookService]="collectorsCodebook"
              (onChange)="setCollector($event)"
              style="min-width: 150px;">
            </single-choice>

            <!-- to -->
            <single-choice
              [formControlInput]="searchFarmers"
              [codebookService]="farmersCodebook"
              (onChange)="setFarmer($event)"
              style="min-width: 150px;"
              [isInvalidChoice]="submitted && form.get('recipientUserCustomerId').invalid">
              <ng-container *ngIf="submitted">
                <div *ngIf="form.get('recipientUserCustomerId').errors as errors" class="sc-invalid-feedback">
                  <div *ngIf="errors.atLeastOnePayableTo" i18n="@@productLabelStockPayments.singleChoice.farmer.error.atLeastOne">
                    At least one of payable to fields is required
                  </div>
                  <div *ngIf="errors.onlyOnePayableTo" i18n="@@productLabelStockPayments.singleChoice.farmer.error.onlyOne">
                    Only one of payable to fields is required
                  </div>
                </div>
              </ng-container>
            </single-choice>

          </div>
        </div>

        <!-- order ref -->
        <div class="af-row">
          <textinput
            [form]="orderReferenceForm"
            label="Order reference"
            style="width: 100%"
            placeholder="Enter order reference"
            i18n-label="@@paymentForm.textinput.stockOrderId.label"
            i18n-placeholder="@@paymentForm.textinput.stockOrderId.placeholder"
            [readOnly]=true>
          </textinput>
        </div>
        <div class="af-row" *ngIf="mode === 'PURCHASE'">
          <div class="af-c12">
            <single-choice
              label="Preferred way of payment"
              i18n-label="@@productLabelStockPurchaseOrdersModal.singleChoice.preferredWayOfPayment"
              [formControlInput]="searchPreferredWayOfPayment"
              [codebookService]="codebookPreferredWayOfPayment"
              style="min-width: 150px;"
              [isInvalidChoice]="submitted && searchPreferredWayOfPayment.invalid">
              <ng-container *ngIf="submitted">
                <div *ngIf="searchPreferredWayOfPayment.errors as errors" class="sc-invalid-feedback">
                  <div *ngIf="errors.required" i18n="@@productLabelStockPurchaseOrdersModal.singleChoice.preferredWayOfPayment.error">
                    Preferred way of payment is required
                  </div>
                </div>
              </ng-container>
            </single-choice>
          </div>
        </div>
        <div class="af-row">
          <div class="af-c12">
            <single-choice
              label="Payment purpose"
              i18n-label="@@paymentForm.label.paymentPurpose"
              [formControlInput]="form.get('paymentPurposeType')"
              [codebookService]="paymentPurposeTypesCodebook"
              [isInvalidChoice]="submitted && form.get('paymentPurposeType').invalid"
              (onChange)="changeReceiptDocumentLabel()">
              <ng-container *ngIf="submitted">
                <div *ngIf="form.get('paymentPurposeType').errors as errors" class="sc-invalid-feedback">
                  <div *ngIf="errors.required" i18n="@@paymentForm.textinput.paymentPurpose.error">
                    Payment purpose is required
                  </div>
                </div>
              </ng-container>
            </single-choice>
          </div>
        </div>
        <div class="af-row">
          <div class="af-c12">
            <single-choice
              label="Payment type"
              i18n-label="@@paymentForm.label.paymentType"
              [formControlInput]="form.get('paymentType')"
              [codebookService]="paymentTypesCodebook"
              [isInvalidChoice]="submitted && form.get('paymentType').invalid"
              [readonly]="readonlyPaymentType">
              <ng-container *ngIf="submitted">
                <div *ngIf="form.get('paymentType').errors as errors" class="sc-invalid-feedback">
                  <div *ngIf="errors.required" i18n="@@paymentForm.textinput.name.error">
                    Payment type is required
                  </div>
                </div>
              </ng-container>
            </single-choice>
          </div>
        </div>
        <div class="af-row" *ngIf="mode === 'PURCHASE'">
          <div class="af-c12">
            <textinput
              [value]="purchased"
              [valueTextInput]="true"
              label="Purchased (kg)"
              style="width: 100%"
              i18n-label="@@paymentForm.textinput.purchased.label"
              i18n-placeholder="@@paymentForm.textinput.purchased.placeholder"
              [readOnly]="true">
            </textinput>
          </div>
        </div>
        <div class="af-row" *ngIf="mode === 'PURCHASE'">
          <div class="af-c12">
            <textinput
              [value]="openBalance"
              [valueTextInput]="true"
              label="Open balance (RWF)"
              style="width: 100%"
              i18n-label="@@paymentForm.textinput.balance.label"
              i18n-placeholder="@@paymentForm.textinput.balance.placeholder"
              [readOnly]="true">
            </textinput>
          </div>
        </div>
        <ng-container *ngIf="mode === 'PURCHASE'">
          <div class="af-row" *ngIf="form.get('preferredWayOfPayment')?.value == 'CASH_VIA_COLLECTOR'">
            <div class="af-c12">
              <textinput
                [form]="form.get('amount')"
                label="Amount already paid by collector to farmer (RWF)"
                style="width: 100%"
                placeholder="Enter amount already paid"
                i18n-label="@@paymentForm.textinput.amountAlready.label"
                i18n-placeholder="@@paymentForm.textinput.amountAlready.placeholder"
                [isInvalid]="submitted && form.get('amount').invalid"
                [readOnly]="viewOnly">
                <ng-container *ngIf="submitted">
                  <div *ngIf="form.get('amount').errors as errors" class="sc-invalid-feedback">
                    <div *ngIf="errors.required" i18n="@@paymentForm.textinput.amountAlready.error">
                      Amount already paid is required
                    </div>
                  </div>
                </ng-container>
              </textinput>
            </div>
          </div>
          <div class="af-row" *ngIf="form.get('preferredWayOfPayment')?.value != 'CASH_VIA_COLLECTOR'">
            <div class="af-c12">
              <textinput
                [form]="form.get('amount')"
                label="Amount paid to the farmer (RWF)"
                style="width: 100%"
                placeholder="Enter amount paid"
                i18n-label="@@paymentForm.textinput.amount.label"
                i18n-placeholder="@@paymentForm.textinput.amount.placeholder"
                [isInvalid]="submitted && form.get('amount').invalid"
                [readOnly]="viewOnly">
                <ng-container *ngIf="submitted">
                  <div *ngIf="form.get('amount').errors as errors" class="sc-invalid-feedback">
                    <div *ngIf="errors.required" i18n="@@paymentForm.textinput.amount.error">
                      Amount is required
                    </div>
                  </div>
                </ng-container>
              </textinput>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="mode === 'CUSTOMER'">
          <div class="af-row">
            <div class="af-c8">
              <textinput
                [form]="form.get('amount')"
                label="Amount paid"
                style="width: 100%"
                placeholder="Enter amount"
                i18n-label="@@paymentForm.textinput.amount.company.label"
                i18n-placeholder="@@paymentForm.textinput.amount.company.placeholder"
                [isInvalid]="submitted && form.get('amount').invalid"
                [readOnly]="viewOnly">
                <ng-container *ngIf="submitted">
                  <div *ngIf="form.get('amount').errors as errors" class="sc-invalid-feedback">
                    <div *ngIf="errors.required" i18n="@@paymentForm.textinput.amount.company.error">
                      Amount is required
                    </div>
                  </div>
                </ng-container>
              </textinput>
            </div>
            <div class="af-c4">
              <single-choice
                label="Currency"
                i18n-label="@@paymentForm.textinput.amount.currency.label"
                [formControlInput]="form.get('currency')"
                [codebookService]="codebookCurrencyCodes"
                [isInvalidChoice]="submitted && form.get('currency').invalid">
                <ng-container *ngIf="submitted">
                  <div *ngIf="form.get('currency').errors as errors" class="sc-invalid-feedback">
                    <div *ngIf="errors.required" i18n="@@paymentForm.textinput.currency.error">
                      Currency is required
                    </div>
                  </div>
                </ng-container>
              </single-choice>
            </div>
          </div>
        </ng-container>
        <div class="af-row" *ngIf="mode === 'PURCHASE'">
          <div class="af-c12">
            <textinput
              [form]="form.get('amountPaidToTheCollector')"
              label="Amount paid to the collector (RWF)"
              style="width: 100%"
              placeholder="Enter amount paid the collector"
              i18n-label="@@paymentForm.textinput.amountPaidToTheCollector.label"
              i18n-placeholder="@@paymentForm.textinput.amountPaidToTheCollector.placeholder"
              [isInvalid]="submitted && form.get('amountPaidToTheCollector').invalid"
              [readOnly]="viewOnly">
              <ng-container *ngIf="submitted">
                <div *ngIf="form.get('amountPaidToTheCollector').errors as errors" class="sc-invalid-feedback">
                  <div *ngIf="errors.required" i18n="@@paymentForm.textinput.amountPaidToTheCollector.error">
                    Amount paid to the collector is required
                  </div>
                </div>
              </ng-container>
            </textinput>
          </div>
        </div>
        <div class="af-row" *ngIf="mode === 'PURCHASE'">
          <div class="af-c12">
            <textinput
              [value]="totalPaid"
              [valueTextInput]="true"
              label="Total paid (RWF)"
              style="width: 100%"
              i18n-label="@@paymentForm.textinput.totslPaid.label"
              i18n-placeholder="@@paymentForm.textinput.totslPaid.placeholder"
              [readOnly]="true">
            </textinput>
          </div>
        </div>
        <div class="af-row">
          <div class="af-c12">
            <textinput
              [form]="form.get('receiptNumber')"
              label="Receipt number"
              style="width: 100%"
              placeholder="Enter receipt number"
              i18n-label="@@paymentForm.textinput.receiptNumber.label"
              i18n-placeholder="@@paymentForm.textinput.receiptNumber.placeholder"
              [isInvalid]="submitted && form.get('receiptNumber').invalid"
              [readOnly]="viewOnly">
              <ng-container *ngIf="submitted">
                <div *ngIf="form.get('receiptNumber').errors as errors" class="sc-invalid-feedback">
                  <div *ngIf="errors.required" i18n="@@paymentForm.textinput.receiptNumber.error">
                    Receipt number is required
                  </div>
                </div>
              </ng-container>
            </textinput>
          </div>
        </div>



        <ng-container>
          <div class="af-row">


            <div class="af-c4">
              <single-choice
                label="Type"
                i18n-label="@@paymentForm.label.receiptDocumentType"
                [formControlInput]="form.get('receiptDocumentType')"
                [codebookService]="codebookAdditionalProofs"
                [isInvalidChoice]="submitted && form.get('receiptDocumentType').invalid">
                <ng-container *ngIf="submitted">
                  <div *ngIf="form.get('receiptDocumentType').errors as errors" class="sc-invalid-feedback">
                    <div *ngIf="errors.required" i18n="@@paymentForm.textinput.receiptDocumentType.error">
                      Type is required
                    </div>
                  </div>
                </ng-container>
              </single-choice>
            </div>

            <div class="af-c8">
              <ng-container>
                <attachment-uploader
                  [chainFile]="true"
                  url="{{chainRootUrl}}"
                  downloadUrl="{{chainDownloadRootUrl}}"
                  allowedMimeType="[image/png', 'image/jpeg', 'application/pdf']"
                  allowedMimeTypeErrorMessage="Upload only file types: PNG, JPG and JPEG."
                  mode="simpleAsTextField"
                  [label]="uploaderLabel"
                  i18n-allowedMimeTypeErrorMessage="@@paymentForm.attachment-uploader.allowedMimeTypeErrorMessage"
                  [form]="form.get('receiptDocument')"
                  [attachmentUploaderId]="'paymentForm'+'orderReferenceForm.value'"
                  [invalid]="submitted && form.get('receiptDocument').invalid"
                  [readOnly]="viewOnly">
                  <attachment-uploader-content i18n="@@paymentForm.attachment-uploader.content">
                    Upload signed receipt
                  </attachment-uploader-content>
                </attachment-uploader>
                <attachment-uploader-errors>
                  <ng-container *ngIf="submitted">
                    <div *ngIf="form.get('receiptDocument').errors as errors" validation-error class="sc-invalid-feedback">
                      <div *ngIf="errors.required" i18n="@@paymentForm.attachment-uploader.error">
                        <span>
                          Signed receipt is required
                        </span>
                      </div>
                    </div>
                  </ng-container>
                </attachment-uploader-errors>
              </ng-container>
            </div>
          </div>


        </ng-container>
      </div>
