<div id="map-container" class="mt-2">
    <div class="map" id="{{ mapId }}"></div>
    <div class="map-style-menu">
        <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="radio"
                   [formControl]="mapStyle"
                   id="satelliteStyle"
                   value="satellite-streets-v12">
            <label class="form-check-label" for="satelliteStyle" i18n="@@map.view.satellite">Satellite view</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="radio"
                   [formControl]="mapStyle"
                   id="defaultStyle"
                   value="outdoors-v12">
            <label class="form-check-label" for="defaultStyle" i18n="@@map.view.default">Default view</label>
        </div>
    </div>
</div>
