<main class="af-b2c-main">
    <h1 [style.color]="b2cSettings.headingColor" [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''" i18n="@@frontPage.producers.title.meetFarmers">Meet the farmers</h1>

    <ng-container *ngIf="videoMeetTheFarmers">
        <iframe [src]="this.videoMeetTheFarmers" frameborder="0" allowfullscreen></iframe>
    </ng-container>

    <app-b2c-carousel
            [slides]="picsMeetTheFarmers"
            [b2cSettings]="b2cSettings">
    </app-b2c-carousel>

    <h1 [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">{{ titleCooperative }}</h1>

    <h2 [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">{{ companyNameCooperative }}</h2>

    <p *ngIf="this.coopAbout" [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">{{ this.coopAbout }}</p>

    <app-b2c-carousel
            [slides]="picsProduction"
            [productionRecords]=true
            [b2cSettings]="b2cSettings">
    </app-b2c-carousel>

    <h1 i18n="@@frontPage.producers.title.meetOwner" [style.font-family]="b2cSettings.textFont ? 'custom-text' : ''">Learn more about {{ productName }}</h1>

    <ng-container *ngIf="videoRWurl">
        <iframe [src]="this.videoRWurl" frameborder="0" allowfullscreen></iframe>
    </ng-container>
</main>
