
<app-product-label-left-panel-content>
</app-product-label-left-panel-content>

<div class="main">

  <div class="row">

    <div class="col">

      <ng-container *ngIf="activeTab == 0">

        <div class="main-inside-top content-element">
          <div class="d-flex align-items-start content-element--row1">
            <div class="title-page content-element--title" i18n="@@productLabelOrder.title.dashboard">Dashboard</div>
          </div>
        </div>

      </ng-container>

      <ng-container *ngIf="activeTab == 1">

        <div class="main-inside-top content-element">
          <div class="d-flex align-items-start content-element--row1">
            <div class="title-page content-element--title"i18n="@@productLabelOrder.title.allOrders">All orders</div>
          </div>
        </div>

      </ng-container>



    </div>


  </div>
</div>
