<div class="modal-container" style="max-width: 500px;">
  <div class="modal-header" [class.modal-counterfeit]="!success" [class.modal-success]="success">
    <div class="w-100">
      <ng-container *ngIf="success">
        <fa-icon
          class="icon-box"
          [icon]="faCheckCircle">
        </fa-icon>
      </ng-container>
      <ng-container *ngIf="!success">
        <fa-icon
          class="icon-box"
          [icon]="faTimesCircle">
        </fa-icon> </ng-container>
    </div>
    <button type="button" class="close" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <div class="modal-body text-center" style="font-weight: 300;">
      <ng-container *ngIf="success" i18n="@@checkBatchNumberResponse.success.text">
        <p><span style="font-size: 2.25rem;">Awesome!</span></p>
        <p>Your product seems to be authentic!</p>
        <p>Thank you for helping in the fight against counterfeits.</p>
      </ng-container>
      <ng-container *ngIf="!success" i18n="@@checkBatchNumberResponse.counterfeit.text">
        <p>There is no information related to this batch number. Please double check if you have entered the batch number correctly.</p>
      </ng-container>
    </div>
  </div>
</div>
<div class="modal-footer" i18n="@@checkBatchNumberResponse.modal.footer.button" *ngIf="!success">
  <button class="btn btn-solid round" data-dismiss="modal" type="button" (click)="tryAgain(); callback && callback()"><span>Try again</span></button>
</div>
