<div class="modal-container" style="max-width: 500px;">
  <div class="modal-header">
    <!-- <h4 class="modal-title">{{title}}</h4> -->
    <div class="title-page content-element--title">{{title}}</div>
    <button type="button" class="close" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <div class="modal-body">
      <!-- productId string selection req -->
      <single-choice
        label="Select product"
        i18n-label="@@productLabelStockSKUModal.productId.label"
        [formControlInput]="productForm"
        [codebookService]="sifrantProduct"
        [isInvalidChoice]="submitted && productForm.invalid">
      </single-choice>
      <ng-container *ngIf="submitted">
        <div *ngIf="productForm.errors as errors" class="sc-invalid-feedback" i18n="@@productLabelStockSKUModal.productForm.error">
          Product is required
        </div>
      </ng-container>
      <!-- facilityId string selection req -->
      <single-choice
        label="Select facility"
        i18n-label="@@productLabelStockSKUModal.facilityId.label"
        [formControlInput]="facilityForm"
        [organizationId]="organizationId"
        [codebookService]="activeFacilitiesForOrganizationService"
        [isInvalidChoice]="submitted && facilityForm.invalid">
      </single-choice>
      <ng-container *ngIf="submitted">
        <div *ngIf="facilityForm.errors as errors" class="sc-invalid-feedback" i18n="@@productLabelStockSKUModal.facilityForm.error">
          Facility is required
        </div>
      </ng-container>
      <!-- measurementUnitType ChainMeasureUnitType selection req -->
      <single-choice
        label="Select measure unit type"
        i18n-label="@@productLabelStockSKUModal.measurementUnitType.label"
        [formControlInput]="measureUnitForm"
        [codebookService]="activeMeasureUnitTypeService"
        [isInvalidChoice]="submitted && measureUnitForm.invalid">
      </single-choice>
      <ng-container *ngIf="submitted">
        <div *ngIf="measureUnitForm.errors as errors" class="sc-invalid-feedback" i18n="@@productLabelStockSKUModal.measureUnitForm.error">
          Measure unit type is required
        </div>
      </ng-container>
      <!--ok totalQuantity number input -->
      <ng-container *ngIf="this.form">
        <textinput
          type="number"
          min="0"
          step="0.01"
          hideAsterisk="true"
          [form]="form.get('totalQuantity')"
          label="Total quantity"
          style="width: 100%"
          placeholder="Enter total quantity"
          i18n-label="@@productLabelStockSKUModal.textinput.totalQuantity.label"
          i18n-placeholder="@@productLabelStockSKUModal.textinput.totalQuantity.placeholder">
        </textinput>
        <!--ok creationDate string date req -->
        <app-datepicker
          label="Creation date"
          i18n-label="@@productLabelStockSKUModal.datepicker.creationDate.label"
          [form]="form.get('formalCreationTime')"
          [invalid]="submitted && form.get('creationDate').invalid">
          <ng-container *ngIf="submitted">
            <div *ngIf="form.get('creationDate').errors as errors" class="sc-invalid-feedback">
              <div *ngIf="errors.required" i18n="@@productLabelStockSKUModal.datepicker.creationDate.error">
                Creation date is required
              </div>
            </div>
          </ng-container>
        </app-datepicker>
        <!--ok productionDate string date req -->
        <app-datepicker
          label="Production date"
          i18n-label="@@productLabelStockSKUModal.datepicker.productionDate.label"
          [form]="form.get('productionDate')"
          [invalid]="submitted && form.get('productionDate').invalid">
          <ng-container *ngIf="submitted">
            <div *ngIf="form.get('productionDate').errors as errors" class="sc-invalid-feedback">
              <div *ngIf="errors.required" i18n="@@productLabelStockSKUModal.datepicker.productionDate.error">
                Production date is required
              </div>
            </div>
          </ng-container>
        </app-datepicker>
        <!--ok expiryDate string date -->
        <app-datepicker
          label="Expiry date"
          i18n-label="@@productLabelStockSKUModal.datepicker.expiryDate.label"
          [form]="form.get('expiryDate')">
        </app-datepicker>
      </ng-container>
      <!-- labelId string input? -->
      <!-- orderId string input? -->


    </div>
  </div>
  <div class="modal-footer" i18n="@@productLabelStockSKUModal.modal.footer.buttons">
    <button class="btn btn-outlined" data-dismiss="modal" type="button" (click)="dismiss()"><span>Cancel</span></button>
    <button class="btn" type="button" (click)="updateSKU(); saveCallback && saveCallback()"><span>Save</span></button>
  </div>
